Repository braph-software/BRAPH-2, pull requests merged in 2020-11, with the labels that each got.

#721 712-ac-Eccentricity measures
  braph2/graph/measures/Eccentricity.m
  braph2/graph/measures/EccentricityAv.m
  braph2/graph/measures/InEccentricity.m
  braph2/graph/measures/InEccentricityAv.m
  braph2/graph/measures/OutEccentricity.m
  braph2/graph/measures/OutEccentricityAv.m
  braph2/graph/measures/test_Eccentricity.m
  braph2/graph/measures/test_EccentricityAv.m
  braph2/graph/measures/test_InEccentricity.m
  braph2/graph/measures/test_InEccentricityAv.m
  braph2/graph/measures/test_OutEccentricity.m
  braph2/graph/measures/test_OutEccentricityAv.m
Labels: measure, test

#728 724 ac community structure
  braph2/graph/measures/BetweennessCentrality.m
  braph2/graph/measures/ClusteringAv.m
  braph2/graph/measures/CommunityStructure.m
  braph2/graph/measures/Degree.m
  braph2/graph/measures/DegreeOverlap.m
  braph2/graph/measures/DegreeOverlapAv.m
  braph2/graph/measures/Distance.m
  braph2/graph/measures/EdgeOverlap.m
  braph2/graph/measures/InDegree.m
  braph2/graph/measures/InGlobalEfficiency.m
  braph2/graph/measures/InGlobalEfficiencyAv.m
  braph2/graph/measures/InPathLength.m
  braph2/graph/measures/InPathLengthAv.m
  braph2/graph/measures/InStrength.m
  braph2/graph/measures/InStrengthAv.m
  braph2/graph/measures/Modularity.m
  braph2/graph/measures/MultilayerCommunityStructure.m
  braph2/graph/measures/MultilayerModularity.m
  braph2/graph/measures/MultiplexCorePeriphery.m
  braph2/graph/measures/MultiplexTriangles.m
  braph2/graph/measures/Multirichness.m
  braph2/graph/measures/OutDegree.m
  braph2/graph/measures/OutGlobalEfficiency.m
  braph2/graph/measures/OutGlobalEfficiencyAv.m
  braph2/graph/measures/OutPathLength.m
  braph2/graph/measures/OutPathLengthAv.m
  braph2/graph/measures/OutStrength.m
  braph2/graph/measures/OutStrengthAv.m
  braph2/graph/measures/OverlappingDegree.m
  braph2/graph/measures/OverlappingInDegree.m
  braph2/graph/measures/OverlappingInStrength.m
  braph2/graph/measures/OverlappingStrength.m
  braph2/graph/measures/OverlappingStrengthAv.m
  braph2/graph/measures/RichClub.m
  braph2/graph/measures/RichClubDegree.m
  braph2/graph/measures/RichClubStrength.m
  braph2/graph/measures/Richness.m
Labels: measure

#729 Analysis json warnings solved
  braph2/graph/measures/private/group_handler.mexa64
  braph2/graph/measures/private/group_handler.mexmaci64
  braph2/graph/measures/private/group_handler.mexw64
  braph2/graph/measures/private/metanetwork_reduce.mexa64
  braph2/graph/measures/private/metanetwork_reduce.mexmaci64
  braph2/graph/measures/private/metanetwork_reduce.mexw64
  braph2/workflows/Connectivity/AnalysisCON_WU.m
  braph2/workflows/Functional/AnalysisFNC_WU.m
  braph2/workflows/Structural/AnalysisST_WU.m
  braph2/workflows/StructuralMultiplex/AnalysisST_MP_WU.m
Labels: analysis, enhancement

#734 709 ac assortativity
  braph2/graph/measures/Assortativity.m
  braph2/graph/measures/DegreeAv.m
  braph2/graph/measures/InInAssortativity.m
  braph2/graph/measures/InOutAssortativity.m
  braph2/graph/measures/LocalEfficiency.m
  braph2/graph/measures/OutInAssortativity.m
  braph2/graph/measures/OutOutAssortativity.m
  braph2/graph/measures/test_Assortativity.m
  braph2/graph/measures/test_InInAssortativity.m
  braph2/graph/measures/test_InOutAssortativity.m
  braph2/graph/measures/test_OutInAssortativity.m
  braph2/graph/measures/test_OutOutAssortativity.m
Labels: measure, test

#737 DLL's
  braph2/graph/measures/private/group_handler.mexa64
  braph2/graph/measures/private/group_handler.mexmaci64
  braph2/graph/measures/private/group_handler.mexw64
  braph2/graph/measures/private/metanetwork_reduce.mexa64
  braph2/graph/measures/private/metanetwork_reduce.mexmaci64
  braph2/graph/measures/private/metanetwork_reduce.mexw64
Labels: enhancement

#723 710-yc-Diameter
  braph2/graph/measures/Diameter.m
  braph2/graph/measures/test_Diameter.m
Labels: measure, test

#738 715-yc-Radius
  braph2/graph/measures/Radius.m
  braph2/graph/measures/test_Radius.m
Labels: measure, test
