Repository braph-software/BRAPH-2, pull requests merged in 2020-04, with the labels that each got.

#192 Create IndexedDictionary.m
  braph/util/IndexedDictionary.m
  braph/util/test_IndexedDictionary.m
Labels: enhancement, test

#191 Changed settings
  braph/graph/Measure.m
  braph/graph/measures/Assortativity.m
  braph/graph/measures/BetweennessCentrality.m
  braph/graph/measures/Clustering.m
  braph/graph/measures/ClusteringAv.m
  braph/graph/measures/Degree.m
  braph/graph/measures/DegreeAv.m
  braph/graph/measures/Diameter.m
  braph/graph/measures/Distance.m
  braph/graph/measures/Eccentricity.m
  braph/graph/measures/EccentricityAv.m
  braph/graph/measures/EdgeBetweennessCentrality.m
  braph/graph/measures/EdgeNumberDistance.m
  braph/graph/measures/GlobalEfficiency.m
  braph/graph/measures/GlobalEfficiencyAv.m
  braph/graph/measures/InDegree.m
  braph/graph/measures/InDegreeAv.m
  braph/graph/measures/InEccentricity.m
  braph/graph/measures/InEccentricityAv.m
  braph/graph/measures/InGlobalEfficiency.m
  braph/graph/measures/InGlobalEfficiencyAv.m
  braph/graph/measures/InInAssortativity.m
  braph/graph/measures/InLocalEfficiency.m
  braph/graph/measures/InLocalEfficiencyAv.m
  braph/graph/measures/InOutAssortativity.m
  braph/graph/measures/InPathLength.m
  braph/graph/measures/InPathLengthAv.m
  braph/graph/measures/InStrength.m
  braph/graph/measures/InStrengthAv.m
  braph/graph/measures/LocalEfficiency.m
  braph/graph/measures/LocalEfficiencyAv.m
  braph/graph/measures/OutDegree.m
  braph/graph/measures/OutDegreeAv.m
  braph/graph/measures/OutEccentricity.m
  braph/graph/measures/OutEccentricityAv.m
  braph/graph/measures/OutGlobalEfficiency.m
  braph/graph/measures/OutGlobalEfficiencyAv.m
  braph/graph/measures/OutInAssortativity.m
  braph/graph/measures/OutLocalEfficiency.m
  braph/graph/measures/OutLocalEfficiencyAv.m
  braph/graph/measures/OutOutAssortativity.m
  braph/graph/measures/OutPathLength.m
  braph/graph/measures/OutPathLengthAv.m
  braph/graph/measures/OutStrength.m
  braph/graph/measures/OutStrengthAv.m
  braph/graph/measures/PathLength.m
  braph/graph/measures/PathLengthAv.m
  braph/graph/measures/Radius.m
  braph/graph/measures/Strength.m
  braph/graph/measures/StrengthAv.m
  braph/graph/measures/Transitivity.m
  braph/graph/measures/Triangles.m
  braph/graph/measures/test_PathLength.m
  braph/util/Constant.m
Labels: enhancement, graph, test

#186 Pathlength Documentation
  braph/graph/measures/InPathLength.m
  braph/graph/measures/OutPathLength.m
  braph/graph/measures/PathLength.m
Labels: documentation

#184 GlobalEfficiency Documentation
  braph/graph/measures/GlobalEfficiency.m
  braph/graph/measures/InGlobalEfficiency.m
  braph/graph/measures/OutGlobalEfficiency.m
  braph/graph/measures/OutGlobalEfficiencyAv.m
Labels: documentation

#200 194 documentation subject
  braph/cohort/Subject.m
  braph/cohort/subjects/SubjectDTI.m
  braph/cohort/subjects/SubjectMRI.m
  braph/cohort/subjects/SubjectfMRI.m
Labels: documentation

#203 update documentation
  braph/graph/measures/GlobalEfficiency.m
  braph/graph/measures/InGlobalEfficiency.m
  braph/graph/measures/InPathLength.m
  braph/graph/measures/InStrength.m
  braph/graph/measures/OutGlobalEfficiency.m
  braph/graph/measures/OutPathLength.m
  braph/graph/measures/PathLength.m
Labels: documentation

#202 update to IndexedDictionary
  braph/util/IndexedDictionary.m
  braph/util/test_IndexedDictionary.m
Labels: enhancement

#199 BrainAtlas dict to idict
  braph/atlas/BrainAtlas.m
  braph/atlas/test_BrainAtlas.m
  braph/cohort/test_Subject.m
  braph/data/Data.m
  braph/data/datas/DataConnectivity.m
  braph/data/datas/DataFunctional.m
  braph/data/datas/DataStructural.m
  braph/data/datas/test_DataConnectivity.m
  braph/util/IndexedDictionary.m
Labels: atlas, enhancement

#193 Path transitivity and its test
  braph/graph/measures/PathTransitivity.m
  braph/graph/measures/test_PathTransitivity.m
Labels: graph, measure, test

#205 204 eg cohort indexed dictionaries
  braph/analysis/Analysis.m
  braph/analysis/test_Analysis.m
  braph/atlas/BrainAtlas.m
  braph/cohort/Cohort.m
  braph/cohort/Group.m
  braph/cohort/test_Cohort.m
  braph/util/IndexedDictionary.m
  braph/util/test_IndexedDictionary.m
Labels: cohort, enhancement

#208 Measures, update to documentation
  braph/graph/Measure.m
  braph/graph/measures/Degree.m
  braph/graph/measures/DegreeAv.m
  braph/graph/measures/Eccentricity.m
  braph/graph/measures/GlobalEfficiency.m
  braph/graph/measures/InEccentricity.m
  braph/graph/measures/InGlobalEfficiency.m
  braph/graph/measures/InPathLength.m
  braph/graph/measures/InStrength.m
  braph/graph/measures/OutEccentricity.m
  braph/graph/measures/OutGlobalEfficiency.m
  braph/graph/measures/OutPathLength.m
  braph/graph/measures/OutStrength.m
  braph/graph/measures/PathLength.m
  braph/graph/measures/PathTransitivity.m
  braph/graph/measures/Strength.m
Labels: documentation

#211 ID's functions for Analysis
  braph/analysis/Analysis.m
  braph/analysis/analyses/AnalysisDTI.m
  braph/analysis/analyses/AnalysisMRI.m
  braph/analysis/analyses/AnalysisfMRI.m
  braph/analysis/analyses/test_AnalysisDTI.m
  braph/analysis/analyses/test_AnalysisMRI.m
  braph/analysis/analyses/test_AnalysisfMRI.m
  braph/analysis/test_Analysis.m
Labels: analysis

#212 210 eg analysis calculate measure abstract
  braph/analysis/Analysis.m
  braph/analysis/analyses/AnalysisDTI.m
  braph/analysis/analyses/AnalysisMRI.m
  braph/analysis/analyses/AnalysisfMRI.m
Labels: analysis

#216 Problem in PathTransitivity fixed
  braph/graph/measures/PathTransitivity.m
  braph/graph/measures/test_PathTransitivity.m
Labels: bug, measure

#214 Analysis calculate Measurement
  braph/analysis/Analysis.m
  braph/analysis/Correlation.m
  braph/analysis/Measurement.m
  braph/analysis/analyses/AnalysisDTI.m
  braph/analysis/analyses/AnalysisMRI.m
  braph/analysis/analyses/AnalysisfMRI.m
  braph/analysis/analyses/test_AnalysisDTI.m
  braph/analysis/analyses/test_AnalysisMRI.m
  braph/analysis/analyses/test_AnalysisfMRI.m
  braph/analysis/measurements/MeasurementDTI.m
  braph/analysis/measurements/MeasurementMRI.m
  braph/analysis/measurements/MeasurementfMRI.m
  braph/analysis/measurements/test_MeasurementDTI.m
  braph/analysis/measurements/test_MeasurementMRI.m
  braph/analysis/measurements/test_MeasurementfMRI.m
  braph/analysis/test_Analysis.m
  braph/analysis/test_Correlation.m
  braph/analysis/test_Measurement.m
  braph/cohort/subjects/SubjectDTI.m
  braph/cohort/subjects/SubjectMRI.m
  braph/cohort/subjects/SubjectfMRI.m
Labels: analysis, enhancement

#227 Update subclasses.m
  braph/util/subclasses.m
Labels: enhancement

#226 Comparisons
  braph/analysis/Analysis.m
  braph/analysis/Comparison.m
  braph/analysis/Correlation.m
  braph/analysis/Permutation.m
  braph/analysis/analyses/AnalysisDTI.m
  braph/analysis/analyses/AnalysisMRI.m
  braph/analysis/analyses/AnalysisfMRI.m
  braph/analysis/analyses/test_AnalysisDTI.m
  braph/analysis/analyses/test_AnalysisfMRI.m
  braph/analysis/calculate_measurement_average.m
  braph/analysis/comparisons/ComparisonDTI.m
  braph/analysis/comparisons/ComparisonMRI.m
  braph/analysis/comparisons/ComparisonfMRI.m
  braph/analysis/comparisons/test_ComparisonDTI.m
  braph/analysis/comparisons/test_ComparisonfMRI.m
  braph/analysis/get_data_from_varargin.m
  braph/analysis/measurements/MeasurementDTI.m
  braph/analysis/measurements/MeasurementMRI.m
  braph/analysis/measurements/MeasurementfMRI.m
  braph/analysis/measurements/test_MeasurementDTI.m
  braph/analysis/measurements/test_MeasurementMRI.m
  braph/analysis/measurements/test_MeasurementfMRI.m
  braph/analysis/pvalue1.m
  braph/analysis/pvalue2.m
  braph/analysis/quantiles.m
  braph/analysis/test_Analysis.m
  braph/analysis/test_Comparisons.m
  braph/analysis/test_Correlation.m
  braph/analysis/test_Permutation.m
  braph/atlas/BrainAtlas.m
Labels: analysis, enhancement
