Repository braph-software/BRAPH-2, pull requests merged in 2020-03, with the labels that each got.

#112 Betweenness Centrality and its test
  braph/graph/measures/BetweennessCentrality.m
  braph/graph/measures/test_BetweennessCentrality.m
  braph/graph/test_Measure.m
Labels: measure, test

#126 Update BrainAtlas.m
  braph/atlas/BrainAtlas.m
Labels: enhancement

#103 Issue 97 Path Length
  braph/graph/measures/InPathLength.m
  braph/graph/measures/OutPathLength.m
  braph/graph/measures/PathLength.m
  braph/graph/measures/test_InPathLength.m
  braph/graph/measures/test_OutPathLength.m
  braph/graph/measures/test_PathLength.m
Labels: measure, test

#114 100 eg global efficency av
  braph/graph/measures/GlobalEfficencyAv.m
  braph/graph/measures/InGlobalEfficencyAv.m
  braph/graph/measures/OutGlobalEfficencyAv.m
  braph/graph/measures/test_GlobalEfficencyAv.m
  braph/graph/measures/test_InGlobalEfficencyAv.m
  braph/graph/measures/test_OutGlobalEfficencyAv.m
Labels: measure, test

#115 Issue 101 Eccentricity and related measures
  braph/graph/measures/Eccentricity.m
  braph/graph/measures/EccentricityAv.m
  braph/graph/measures/InEccentricity.m
  braph/graph/measures/InEccentricityAv.m
  braph/graph/measures/OutEccentricity.m
  braph/graph/measures/OutEccentricityAv.m
  braph/graph/measures/test_Eccentricity.m
  braph/graph/measures/test_EccentricityAv.m
  braph/graph/measures/test_InEccentricity.m
  braph/graph/measures/test_InEccentricityAv.m
  braph/graph/measures/test_OutEccentricity.m
  braph/graph/measures/test_OutEccentricityAv.m
Labels: measure, test

#129 110 ac Assortativity measures
  braph/graph/measures/Assortativity.m
  braph/graph/measures/InInAssortativity.m
  braph/graph/measures/InOutAssortativity.m
  braph/graph/measures/OutInAssortativity.m
  braph/graph/measures/OutOutAssortativity.m
  braph/graph/measures/test_Assortativity.m
  braph/graph/measures/test_InInAssortativity.m
  braph/graph/measures/test_InOutAssortativity.m
  braph/graph/measures/test_OutInAssortativity.m
  braph/graph/measures/test_OutOutAssortativity.m
Labels: measure, test

#122 Issue 116 Measure Documentation
  braph/graph/Measure.m
Labels: documentation

#133 Implementation of Subject Group
  braph/cohort/Cohort.m
  braph/cohort/Group.m
  braph/cohort/Subject.m
  braph/cohort/test_Cohort.m
  braph/cohort/test_Group.m
  braph/cohort/test_Subject.m
Labels: cohort, enhancement, test

#127 Cohort.GetNewSubject
  braph/cohort/Cohort.m
  braph/cohort/test_Cohort.m
Labels: cohort, enhancement, test

#142 102 yc radiusmeasure
  braph/graph/measures/Diameter.m
  braph/graph/measures/Radius.m
  braph/graph/measures/test_Diameter.m
  braph/graph/measures/test_Radius.m
Labels: measure, test

#144 109 eg local efficency
  braph/graph/measures/InLocalEfficency.m
  braph/graph/measures/LocalEfficency.m
  braph/graph/measures/OutLocalEfficency.m
  braph/graph/measures/test_InLocalEfficency.m
  braph/graph/measures/test_LocalEfficency.m
  braph/graph/measures/test_OutLocalEfficency.m
Labels: measure, test

#147 Average Local Efficency
  braph/graph/measures/InLocalEfficencyAv.m
  braph/graph/measures/LocalEfficencyAv.m
  braph/graph/measures/OutLocalEfficencyAv.m
  braph/graph/measures/test_InLocalEfficencyAv.m
  braph/graph/measures/test_LocalEfficencyAv.m
  braph/graph/measures/test_OutLocalEfficencyAv.m
Labels: measure, test

#130 123 eg data values varargin subject
  braph/cohort/Subject.m
  braph/cohort/test_Subject.m
Labels: enhancement, test

#149 #148 GraphBD Documentation
  braph/graph/graphs/GraphBD.m
Labels: documentation

#151 #150 GraphBU Documentation
  braph/graph/graphs/GraphBU.m
Labels: documentation

#155 #154 GraphWU Documentation
  braph/graph/graphs/GraphWU.m
Labels: documentation

#153 #152 GraphWD Documentation
  braph/graph/graphs/GraphWD.m
Labels: documentation

#145 Graph Documentation
  braph/graph/Graph.m
  braph/graph/Measure.m
Labels: documentation

#160 Edge Betweenness Centrality
  braph/graph/measures/EdgeBetweennessCentrality.m
  braph/graph/measures/test_Eccentricity.m
  braph/graph/measures/test_EdgeBetweennessCentrality.m
Labels: measure, test

#161 157 eg brain region document
  braph/atlas/BrainRegion.m
  braph/graph/Graph.m
Labels: documentation

#165 Degree documentation
  braph/graph/Measure.m
  braph/graph/measures/Degree.m
Labels: documentation

#162 Brain Atlas Documentation
  braph/atlas/BrainAtlas.m
  braph/graph/Graph.m
Labels: documentation

#168 Update DegreeAv.m
  braph/graph/measures/Degree.m
  braph/graph/measures/DegreeAv.m
Labels: documentation, graph

#167 Abstract Measurement and subclasses
  braph/analysis/Measurement.m
  braph/analysis/measurements/ComparisonMRI.m
  braph/analysis/measurements/MeasurementMRI.m
  braph/analysis/measurements/RandomComparisonMRI.m
  braph/analysis/measurements/test_ComparisonMRI.m
  braph/analysis/measurements/test_MeasurementMRI.m
  braph/analysis/measurements/test_RandomComparisonMRI.m
  braph/analysis/test_Measurement.m
  braph/braph2.m
Labels: analysis, enhancement

#174 fix to Measurement test and ComparisonMRI
  braph/analysis/Measurement.m
  braph/analysis/measurements/ComparisonMRI.m
  braph/analysis/test_Measurement.m
Labels: bug

#176 update to Analysis class, Measurement functions
  braph/analysis/Analysis.m
  braph/analysis/analyses/AnalysisDTI.m
  braph/analysis/analyses/AnalysisMRI.m
  braph/analysis/analyses/AnalysisfMRI.m
  braph/analysis/analyses/test_AnalysisMRI.m
  braph/analysis/test_Analysis.m
Labels: analysis, enhancement

#181 177 eg test analysis dti f mri
  braph/analysis/analyses/test_AnalysisDTI.m
  braph/analysis/analyses/test_AnalysisfMRI.m
Labels: analysis, test

#172 Documentation for Strength
  braph/graph/measures/Degree.m
  braph/graph/measures/InStrength.m
  braph/graph/measures/OutStrength.m
  braph/graph/measures/Strength.m
Labels: documentation

#175 Eccentricity Documentation
  braph/graph/measures/Degree.m
  braph/graph/measures/Eccentricity.m
  braph/graph/measures/InEccentricity.m
  braph/graph/measures/OutEccentricity.m
Labels: documentation
