Repository braph-software/BRAPH-2, pull requests merged in 2020-06, with the labels that each got.

#330 Documentation and test for DummyMultilayer
  braph2/graph/graphs/DummyMultilayer.m
  braph2/graph/graphs/test_DummyMultilayer.m
Labels: documentation, graph, test

#332 Updated documentation DummyMultiplex
  braph2/graph/graphs/DummyMultiplex.m
Labels: documentation, graph

#327 DummyMultigraph: test + Documentation
  braph2/graph/graphs/DummyMultigraph.m
  braph2/graph/graphs/test_DummyMultigraph.m
Labels: documentation, graph, test

#329 313 eg brain atlas documentaiton
  braph2/atlas/BrainAtlas.m
  braph2/atlas/BrainRegion.m
  braph2/atlas/GUIBrainAtlas.m
  braph2/atlas/PlotBrainAtlas.m
  braph2/atlas/PlotBrainSurf.m
  braph2/atlas/test_BrainAtlas.m
  braph2/atlas/test_PlotBrainSurf.m
  braph2/atlas/test_plotbrainatlas.m
  braph2/graph/Graph.m
Labels: atlas, documentation

#333 288 eg gui brain atlas upgrade
  braph2/atlas/BrainAtlas.m
  braph2/atlas/GUIBrainAtlas.m
  braph2/atlas/PlotBrainAtlas.m
  braph2/atlas/PlotBrainSurf.m
  braph2/atlas/test_plotbrainatlas.m
  braph2/test/desikan_atlas2.txt
Labels: GUI, atlas, enhancement

#335 334 ac dummy ordered multiplex
  braph2/graph/graphs/DummyOrderedMultiplex.m
  braph2/graph/graphs/test_DummyOrderedMultiplex.m
Labels: documentation, graph, test

#337 Create DummyOrderedMultilayer.m with documentation
  braph2/graph/graphs/DummyOrderedMultilayer.m
  braph2/graph/graphs/test_DummyOrderedMultilayer.m
Labels: documentation, graph, test

#343 Update GUIBrainAtlas.m
  braph2/atlas/GUIBrainAtlas.m
Labels: GUI, atlas, enhancement

#341 Updated NodeAttack and tests
  braph2/graph/Graph.m
  braph2/graph/graphs/test_DummyMultilayer.m
  braph2/graph/graphs/test_DummyMultiplex.m
  braph2/graph/graphs/test_DummyOrderedMultilayer.m
  braph2/graph/graphs/test_DummyOrderedMultiplex.m
Labels: enhancement, graph

#340 Updated documentation of Graph.m
  braph2/graph/Graph.m
Labels: documentation, graph

#347 MultiplexGraphs: include them, update code, documentation and test
  braph2/graph/graphs/DummyMultigraph.m
  braph2/graph/graphs/MultiplexGraphBD.m
  braph2/graph/graphs/MultiplexGraphBU.m
  braph2/graph/graphs/MultiplexGraphWD.m
  braph2/graph/graphs/MultiplexGraphWU.m
  braph2/graph/graphs/test_MultiplexGraphBD.m
  braph2/graph/graphs/test_MultiplexGraphBU.m
  braph2/graph/graphs/test_MultiplexGraphWD.m
  braph2/graph/graphs/test_MultiplexGraphWU.m
Labels: documentation, graph, test

#357 Fix documentation links
  braph2/atlas/BrainAtlas.m
  braph2/atlas/BrainRegion.m
  braph2/atlas/PlotBrainSurf.m
  braph2/graph/Graph.m
  braph2/graph/graphs/DummyGraph.m
  braph2/graph/graphs/DummyMultigraph.m
  braph2/graph/graphs/DummyMultilayer.m
  braph2/graph/graphs/DummyMultiplex.m
  braph2/graph/graphs/DummyOrderedMultilayer.m
  braph2/graph/graphs/DummyOrderedMultiplex.m
  braph2/graph/graphs/GraphBD.m
  braph2/graph/graphs/GraphBU.m
  braph2/graph/graphs/GraphWD.m
  braph2/graph/graphs/GraphWU.m
  braph2/graph/graphs/MultiplexGraphBD.m
  braph2/graph/graphs/MultiplexGraphBU.m
  braph2/graph/graphs/MultiplexGraphWD.m
  braph2/graph/graphs/MultiplexGraphWU.m
  braph2/util/DummyCopiableObject.m
  braph2/util/DummyObject.m
  braph2/util/IndexedDictionary.m
Labels: documentation

#358 commit to save
  braph2/atlas/GUIBrainAtlas.m
  braph2/atlas/PlotBrainAtlas.m
Labels: GUI, atlas, bug

#354 small fix
  braph2/atlas/GUIBrainAtlas.m
  braph2/atlas/PlotBrainAtlas.m
  braph2/atlas/test_PlotBrainAtlas.m
  braph2/test/desikan_atlas2.txt
  braph2/test/test_braph2.m
Labels: GUI, atlas, bug

#362 Final Revision PlotBrainSurf
  braph2/atlas/PlotBrainSurf.m
  braph2/atlas/test_PlotBrainSurf.m
Labels: atlas

#359 352 ac Introduce measures
  braph2/graph/Graph.m
  braph2/graph/Measure.m
  braph2/graph/measures/Degree.m
  braph2/graph/measures/DegreeAv.m
  braph2/graph/measures/Distance.m
  braph2/graph/measures/test_Degree.m
  braph2/graph/measures/test_DegreeAv.m
  braph2/graph/measures/test_Distance.m
  braph2/graph/test_Graph.m
  braph2/graph/test_Measure.m
Labels: documentation, graph, measure, test

#370 function to convert x3d to nv
  braph2/atlas/brainsurfs/ferret.nv
  braph2/atlas/brainsurfs/human.nv
  braph2/atlas/brainsurfs/macaque.nv
  braph2/atlas/brainsurfs/mouse.nv
  braph2/atlas/brainsurfs/rat.nv
  braph2/atlas/test_PlotBrainSurf.m
  braph2/util/BRAPH2.m
  braph2/util/convert_x3d_to_nv.m
Labels: enhancement, util

#372 small fix to spheres radius bug
  braph2/atlas/GUIBrainAtlas.m
  braph2/atlas/PlotBrainAtlas.m
  braph2/atlas/test_PlotBrainSurf.m
Labels: atlas, bug

#367 Update PlotBrainAtlas.m
  braph2/atlas/BrainAtlas.m
  braph2/atlas/GUIBrainAtlas.m
  braph2/atlas/PlotBrainAtlas.m
  braph2/atlas/PlotBrainSurf.m
  braph2/atlas/test_PlotBrainAtlas.m
  braph2/atlas/test_PlotBrainSurf.m
Labels: atlas

#380 375 eg atlas contents
  braph2/atlas/Contents.m
Labels: atlas, documentation

#382 GUI Bug and X3D fix
  braph2/atlas/PlotBrainAtlas.m
  braph2/atlas/brainsurfs/ferret.nv
  braph2/atlas/brainsurfs/human.nv
  braph2/atlas/brainsurfs/macaque.nv
  braph2/atlas/brainsurfs/mouse.nv
  braph2/atlas/brainsurfs/rat.nv
  braph2/util/convert_x3d_to_nv.m
Labels: GUI, atlas, bug

#384 364 gv edge overlap overlapping degree
  braph2/graph/measures/DegreeOverlap.m
  braph2/graph/measures/EdgeOverlap.m
  braph2/graph/measures/OverlappingDegree.m
  braph2/graph/measures/test_DegreeOverlap.m
  braph2/graph/measures/test_EdgeOverlap.m
  braph2/graph/measures/test_OverlappingDegree.m
Labels: revision

#368 364 - ac - Edge overlap and Overlapping degree
  braph2/graph/measures/DegreeOverlap.m
  braph2/graph/measures/EdgeOverlap.m
  braph2/graph/measures/OverlappingDegree.m
  braph2/graph/measures/test_DegreeOverlap.m
  braph2/graph/measures/test_EdgeOverlap.m
  braph2/graph/measures/test_OverlappingDegree.m
Labels: measure, test

#392 377 gv WeightedEdgeOverlap-OverlappingStrength
  braph2/graph/measures/OverlappingStrength.m
  braph2/graph/measures/Strength.m
  braph2/graph/measures/WeightedEdgeOverlap.m
  braph2/graph/measures/test_OverlappingStrength.m
  braph2/graph/measures/test_Strength.m
  braph2/graph/measures/test_WeightedEdgeOverlap.m
Labels: revision

#378 377 ac Weighted Edge Overlap and Overlapping Strength
  braph2/graph/measures/OverlappingStrength.m
  braph2/graph/measures/Strength.m
  braph2/graph/measures/WeightedEdgeOverlap.m
  braph2/graph/measures/test_OverlappingStrength.m
  braph2/graph/measures/test_Strength.m
  braph2/graph/measures/test_WeightedEdgeOverlap.m
Labels: measure, test

#393 381 gv Documentation_PlotBrainAtlas
  braph2/atlas/PlotBrainSurf.m
  braph2/atlas/test_PlotBrainSurf.m
Labels: revision

#389 381 eg Documentation plot brain surf
  braph2/atlas/PlotBrainSurf.m
  braph2/atlas/test_PlotBrainSurf.m
Labels: atlas, documentation

#397 373 documentation gui
  braph2/util/GUI.m
Labels: GUI, documentation

#390 386 ac InStrength and OutStrength
  braph2/graph/measures/InStrength.m
  braph2/graph/measures/OutStrength.m
  braph2/graph/measures/test_InStrength.m
  braph2/graph/measures/test_OutStrength.m
Labels: measure, test

#391 388-ac-OutDegree and InDegree
  braph2/graph/measures/InDegree.m
  braph2/graph/measures/OutDegree.m
  braph2/graph/measures/test_InDegree.m
  braph2/graph/measures/test_OutDegree.m
Labels: measure, test

#402 351 gv statistical functions
  braph2/analysis/bonferroni.m
  braph2/analysis/fdr.m
  braph2/analysis/quantiles.m
  braph2/analysis/test_bonferroni.m
  braph2/analysis/test_fdr.m
Labels: revision

#404 387 ac overlapping out strength overlapping in strength
  braph2/graph/measures/OverlappingInStrength.m
  braph2/graph/measures/OverlappingOutStrength.m
  braph2/graph/measures/test_OverlappingInStrength.m
  braph2/graph/measures/test_OverlappingOutStrength.m
Labels: measure, test

#405 398 ac overlapping out-degree and overlapping in-degree
  braph2/graph/measures/OverlappingInDegree.m
  braph2/graph/measures/OverlappingOutDegree.m
  braph2/graph/measures/test_OverlappingInDegree.m
  braph2/graph/measures/test_OverlappingOutDegree.m
Labels: measure, test

#406 403 ac update degree, degree av, and distance
  braph2/graph/measures/Degree.m
  braph2/graph/measures/DegreeAv.m
  braph2/graph/measures/Distance.m
  braph2/graph/measures/InDegree.m
  braph2/graph/measures/InStrength.m
  braph2/graph/measures/OutDegree.m
  braph2/graph/measures/OutStrength.m
  braph2/graph/measures/Strength.m
Labels: documentation, measure

#408 ac- Multiplex Participation measure
  braph2/graph/measures/MultiplexParticipation.m
  braph2/graph/measures/test_MultiplexParticipation.m
Labels: measure, test

#418 412 ac update tests: Degree, DegreeAv, Distance
  braph2/graph/measures/test_Degree.m
  braph2/graph/measures/test_DegreeAv.m
  braph2/graph/measures/test_Distance.m
Labels: measure, test

#416 415 ac Contents.m in graph
  braph2/graph/Contents.m
  braph2/graph/Graph.m
Labels: documentation

#413 351 eg statistical mesures revision
  braph2/analysis/fdr.m
  braph2/analysis/pvalue1.m
  braph2/analysis/pvalue2.m
  braph2/analysis/quantiles.m
Labels: analysis, documentation

#407 400 eg documentation plot brain atlas
  braph2/atlas/PlotBrainAtlas.m
  braph2/atlas/PlotBrainSurf.m
  braph2/atlas/test_PlotBrainAtlas.m
Labels: GUI, atlas, documentation, enhancement

#376 Update GUIBrainAtlas.m
  braph2/Contents.m
  braph2/atlas/BrainAtlas.m
  braph2/atlas/GUIBrainAtlas.m
  braph2/atlas/PlotBrainAtlas.m
  braph2/atlas/PlotBrainSurf.m
  braph2/atlas/desikan_atlas.txt
  braph2/atlas/test_GUIBrainAtlas.m
  braph2/atlas/test_PlotBrainAtlas.m
  braph2/atlas/test_PlotBrainSurf.m
  braph2/license.rtf
  braph2/util/BRAPH2.m
  braph2/util/GUI.m
Labels: GUI, atlas

#410 409 ac in multiplex participation out multiplex participation
  braph2/graph/measures/MultiplexInParticipation.m
  braph2/graph/measures/MultiplexOutParticipation.m
  braph2/graph/measures/test_MultiplexInParticipation.m
  braph2/graph/measures/test_MultiplexOutParticipation.m
  braph2/graph/measures/test_OverlappingInDegree.m
  braph2/graph/measures/test_OverlappingOutDegree.m
Labels: measure, test

#422 414 eg out degree av in degree av
  braph2/graph/measures/DegreeAv.m
  braph2/graph/measures/InDegreeAv.m
  braph2/graph/measures/OutDegreeAv.m
  braph2/graph/measures/test_InDegreeAv.m
  braph2/graph/measures/test_OutDegreeAv.m
Labels: documentation, graph, test

#436 435 ac strength av, in-strength av, and out-strength av
  braph2/graph/measures/InStrengthAv.m
  braph2/graph/measures/OutStrengthAv.m
  braph2/graph/measures/StrengthAv.m
  braph2/graph/measures/test_InStrengthAv.m
  braph2/graph/measures/test_OutStrengthAv.m
  braph2/graph/measures/test_StrengthAv.m
Labels: measure, test

#394 Gv measures final
  braph2/graph/Contents.m
  braph2/graph/Graph.m
  braph2/graph/Measure.m
  braph2/graph/are_compatible.m
  braph2/graph/measures/Degree.m
  braph2/graph/measures/DegreeAv.m
  braph2/graph/measures/DegreeOverlap.m
  braph2/graph/measures/Distance.m
  braph2/graph/measures/EdgeOverlap.m
  braph2/graph/measures/InDegree.m
  braph2/graph/measures/InDegreeAv.m
  braph2/graph/measures/InStrength.m
  braph2/graph/measures/InStrengthAv.m
  braph2/graph/measures/MultiplexInParticipation.m
  braph2/graph/measures/MultiplexOutParticipation.m
  braph2/graph/measures/MultiplexParticipation.m
  braph2/graph/measures/OutDegree.m
  braph2/graph/measures/OutDegreeAv.m
  braph2/graph/measures/OutStrength.m
  braph2/graph/measures/OutStrengthAv.m
  braph2/graph/measures/OverlappingDegree.m
  braph2/graph/measures/OverlappingInDegree.m
  braph2/graph/measures/OverlappingInStrength.m
  braph2/graph/measures/OverlappingOutDegree.m
  braph2/graph/measures/OverlappingOutStrength.m
  braph2/graph/measures/OverlappingStrength.m
  braph2/graph/measures/Strength.m
  braph2/graph/measures/StrengthAv.m
  braph2/graph/measures/WeightedEdgeOverlap.m
  braph2/graph/measures/bak/Distance.m
  braph2/graph/measures/test_Degree.m
  braph2/graph/measures/test_DegreeAv.m
  braph2/graph/measures/test_DegreeOverlap.m
  braph2/graph/measures/test_Distance.m
  braph2/graph/measures/test_EdgeOverlap.m
  braph2/graph/measures/test_InDegree.m
  braph2/graph/measures/test_InDegreeAv.m
  braph2/graph/measures/test_InStrength.m
  braph2/graph/measures/test_InStrengthAv.m
  braph2/graph/measures/test_MultiplexInParticipation.m
  braph2/graph/measures/test_MultiplexOutParticipation.m
  braph2/graph/measures/test_MultiplexParticipation.m
  braph2/graph/measures/test_OutDegree.m
  braph2/graph/measures/test_OutDegreeAv.m
  braph2/graph/measures/test_OutStrength.m
  braph2/graph/measures/test_OutStrengthAv.m
  braph2/graph/measures/test_OverlappingDegree.m
  braph2/graph/measures/test_OverlappingInDegree.m
  braph2/graph/measures/test_OverlappingInStrength.m
  braph2/graph/measures/test_OverlappingOutDegree.m
  braph2/graph/measures/test_OverlappingOutStrength.m
  braph2/graph/measures/test_OverlappingStrength.m
  braph2/graph/measures/test_Strength.m
  braph2/graph/measures/test_StrengthAv.m
  braph2/graph/measures/test_WeightedEdgeOverlap.m
  braph2/graph/test_Graph.m
  braph2/graph/test_Measure.m
Labels: measure

#420 Richness Measure + Multirichness
  braph2/graph/measures/Multirichness.m
  braph2/graph/measures/Richness.m
  braph2/graph/measures/test_Multirichness.m
  braph2/graph/measures/test_Richness.m
Labels: measure, test

#446 Weighted Richness and Weighted Multirichness
  braph2/graph/measures/WeightedMultirichness.m
  braph2/graph/measures/WeightedRichness.m
  braph2/graph/measures/test_WeightedMultirichness.m
  braph2/graph/measures/test_WeightedRichness.m
Labels: measure, test

#441 440 ac multiplex core periphery
  braph2/graph/measures/MultiplexCorePeriphery.m
  braph2/graph/measures/test_MultiplexCorePeriphery.m
Labels: measure, test

#449 448 ac weighted multiplex core periphery
  braph2/graph/measures/WeightedMultiplexCorePeriphery.m
  braph2/graph/measures/test_WeightedMultiplexCorePeriphery.m
Labels: measure, test

#439 Eg gui brain atlas bugs
  braph2/atlas/BrainAtlas.m
  braph2/atlas/GUIBrainAtlas.m
  braph2/atlas/desikan_atlas.txt
Labels: atlas, bug

#437 Solve bugs GUIBrainAtlas
  braph2/atlas/BrainAtlas.m
  braph2/atlas/GUIBrainAtlas.m
  braph2/atlas/desikan_atlas.txt
Labels: atlas, bug

#452 451-ac- PathLength.m and PathLengthAv.m
  braph2/graph/measures/Distance.m
  braph2/graph/measures/PathLength.m
  braph2/graph/measures/PathLengthAv.m
  braph2/graph/measures/test_PathLength.m
  braph2/graph/measures/test_PathLengthAv.m
Labels: measure, test

#454 453 ac in-path length, out-path length , av. in-path length and av. out-path length
  braph2/graph/measures/InPathLength.m
  braph2/graph/measures/InPathLengthAv.m
  braph2/graph/measures/OutPathLength.m
  braph2/graph/measures/OutPathLengthAv.m
  braph2/graph/measures/test_InPathLength.m
  braph2/graph/measures/test_InPathLengthAv.m
  braph2/graph/measures/test_OutPathLength.m
  braph2/graph/measures/test_OutPathLengthAv.m
Labels: measure, test

#458 Triangles measure and test
  braph2/graph/measures/Triangles.m
  braph2/graph/measures/test_Triangles.m
Labels: measure, test

#467 466-ac GlobalEfficiency.m and GlobalEfficiencyAv.m
  braph2/graph/measures/GlobalEfficiency.m
  braph2/graph/measures/GlobalEfficiencyAv.m
  braph2/graph/measures/test_GlobalEfficiency.m
  braph2/graph/measures/test_GlobalEfficiencyAv.m
Labels: measure, test

#445 442 Cohort Settings
  braph2/cohort/Data.m
  braph2/cohort/datas/DataConnectivity.m
  braph2/cohort/datas/DataFunctional.m
  braph2/cohort/datas/DataScalar.m
  braph2/cohort/datas/DataStructural.m
  braph2/cohort/test_Data.m
  braph2/test/trial_atlas_to_be_erased.xlsx
Labels: cohort, enhancement

#470 469-ac- OutGlobalEfficiency, InGlobalEfficiency, OutGlobalEfficiencyAv, InGlobalEfficiencyAv
  braph2/graph/measures/InGlobalEfficiency.m
  braph2/graph/measures/InGlobalEfficiencyAv.m
  braph2/graph/measures/OutGlobalEfficiency.m
  braph2/graph/measures/OutGlobalEfficiencyAv.m
  braph2/graph/measures/test_InGlobalEfficiency.m
  braph2/graph/measures/test_InGlobalEfficiencyAv.m
  braph2/graph/measures/test_OutGlobalEfficiency.m
  braph2/graph/measures/test_OutGlobalEfficiencyAv.m
Labels: measure, test

#471 468 ac bc tcomparison randommatrices
  braph2/graph/measures/GlobalEfficiency.m
  braph2/graph/measures/GlobalEfficiencyAv.m
  braph2/graph/measures/test_GlobalEfficiency.m
  braph2/graph/measures/test_GlobalEfficiencyAv.m
  braph2/graph/measures/test_PathLength.m
Labels: test
