Repository braph-software/BRAPH-2, pull requests merged in 2020-10, with the labels that each got.

#697 Subject_MPST json upgrade, and small improvement to JSON CON and FNC algorithm
  braph2/workflows/Connectivity/SubjectCON.m
  braph2/workflows/Functional/SubjectFNC.m
  braph2/workflows/StructuralMultiplex/AnalysisST_MP_WU.m
  braph2/workflows/StructuralMultiplex/SubjectST_MP.m
  braph2/workflows/StructuralMultiplex/test_SubjectST_MP.m
Labels: enhancement, workflows

#702 701 eg analysis export
  braph2/analysis/Analysis.m
  braph2/atlas/BrainAtlas.m
  braph2/atlas/GUIBrainAtlas.m
  braph2/atlas/test_BrainAtlas.m
  braph2/cohort/GUICohort.m
  braph2/util/JSON.m
  braph2/workflows/Connectivity/AnalysisCON_WU.m
  braph2/workflows/Connectivity/ComparisonCON_WU.m
  braph2/workflows/Connectivity/RandomComparisonCON_WU.m
  braph2/workflows/Connectivity/SubjectCON.m
  braph2/workflows/Connectivity/example data CON (DTI)/json/CON_cohort.json
  braph2/workflows/Connectivity/example data CON (DTI)/json/Group_1/SubjectID1.json
  braph2/workflows/Connectivity/example data CON (DTI)/json/Group_1/SubjectID2.json
  braph2/workflows/Connectivity/example data CON (DTI)/json/Group_1/SubjectID3.json
  braph2/workflows/Connectivity/example data CON (DTI)/json/Group_1/SubjectID4.json
  braph2/workflows/Connectivity/example data CON (DTI)/json/Group_1/SubjectID5.json
  braph2/workflows/Connectivity/example data CON (DTI)/json/Group_2/subject_1.json
  braph2/workflows/Connectivity/example data CON (DTI)/json/Group_2/subject_2.json
  braph2/workflows/Connectivity/example data CON (DTI)/json/Group_2/subject_3.json
  braph2/workflows/Connectivity/example data CON (DTI)/json/Group_2/subject_4.json
  braph2/workflows/Connectivity/example data CON (DTI)/json/Group_2/subject_5.json
  braph2/workflows/Connectivity/test_AnalysisCON_WU.m
  braph2/workflows/Connectivity/test_SubjectCON.m
  braph2/workflows/Functional/AnalysisFNC_WU.m
  braph2/workflows/Functional/SubjectFNC.m
  braph2/workflows/Functional/example data FNC (fMRI)/json/FNC_cohort.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/cohort_example.json
  braph2/workflows/Functional/test_AnalysisFNC_WU.m
  braph2/workflows/Functional/test_SubjectFNC.m
  braph2/workflows/Structural/AnalysisST_WU.m
  braph2/workflows/Structural/SubjectST.m
  braph2/workflows/Structural/example data ST (MRI)/json/ST_cohort.json
  braph2/workflows/Structural/test_AnalysisST_WU.m
  braph2/workflows/Structural/test_SubjectST.m
  braph2/workflows/StructuralMultiplex/AnalysisST_MP_WU.m
  braph2/workflows/StructuralMultiplex/SubjectST_MP.m
  braph2/workflows/StructuralMultiplex/example_data_ST_MP/json/ST_MP1_group1.json
  braph2/workflows/StructuralMultiplex/example_data_ST_MP/json/ST_MP1_group2.json
  braph2/workflows/StructuralMultiplex/example_data_ST_MP/json/ST_MP2_group1.json
  braph2/workflows/StructuralMultiplex/example_data_ST_MP/json/ST_MP2_group2.json
  braph2/workflows/StructuralMultiplex/example_data_ST_MP/json/ST_MP_cohort.json
  braph2/workflows/StructuralMultiplex/test_AnalysisST_MP_WU.m
  braph2/workflows/StructuralMultiplex/test_SubjectST_MP.m
Labels: analysis, enhancement

#707 update subject FNC to work with 2017b
  braph2/graph/measures/test_GlobalEfficiency.m
  braph2/graph/measures/test_PathLength.m
  braph2/test/analysis id/comparisons/ComparisonCON_WU Degree 1 2.xlsx
  braph2/workflows/Connectivity/AnalysisCON_WU.m
  braph2/workflows/Connectivity/SubjectCON.m
  braph2/workflows/Functional/SubjectFNC.m
Labels: bug

#718 Ac nantests
  braph2/graph/measures/test_InGlobalEfficiencyAv.m
  braph2/graph/measures/test_OutGlobalEfficiency.m
  braph2/graph/measures/test_OutGlobalEfficiencyAv.m
Labels: test

#716 706-yc-WeightedMultiplexParticipation
  braph2/graph/measures/WeightedMultiplexInParticipation.m
  braph2/graph/measures/WeightedMultiplexOutParticipation.m
  braph2/graph/measures/test_WeightedMultiplexInParticipation.m
  braph2/graph/measures/test_WeightedMultiplexOutParticipation.m
Labels: measure, test

#717 708 ac Betweenness centrality
  braph2/graph/measures/BetweennessCentrality.m
  braph2/graph/measures/test_BetweennessCentrality.m
Labels: measure, test

#703 669-ac-Multilayer community structure
  braph2/graph/Graph.m
  braph2/graph/measures/MultilayerCommunityStructure.m
  braph2/graph/measures/MultilayerModularity.m
  braph2/graph/measures/MultiplexParticipation.m
  braph2/graph/measures/private/group_handler.mexa64
  braph2/graph/measures/private/group_handler.mexmaci64
  braph2/graph/measures/private/group_handler.mexw64
  braph2/graph/measures/private/metanetwork_reduce.mexa64
  braph2/graph/measures/private/metanetwork_reduce.mexmaci64
  braph2/graph/measures/private/metanetwork_reduce.mexw64
Labels: measure, test
