Repository braph-software/BRAPH-2, pull requests merged in 2020-08, with the labels that each got.

#601 bug
  braph2/cohort/GUICohort.m
Labels: GUI, bug, cohort

#607 Eg show GUIcohort
  braph2/atlas/GUIBrainAtlas.m
  braph2/cohort/Data.m
  braph2/cohort/GUICohort.m
  braph2/cohort/Subject.m
  braph2/cohort/datas/DataConnectivity.m
  braph2/cohort/datas/DataFunctional.m
  braph2/cohort/datas/DataScalar.m
  braph2/cohort/datas/DataStructural.m
  braph2/util/GUI.m
  braph2/workflows/Structural/SubjectST.m
  braph2/workflows/Structural/example data ST (MRI)/cohort_example.cohort
  braph2/workflows/Structural/example data ST (MRI)/json/ST_group1.json
  braph2/workflows/Structural/example data ST (MRI)/json/ST_group2.json
  braph2/workflows/Structural/example data ST (MRI)/txt/ST_group1.txt
  braph2/workflows/Structural/example data ST (MRI)/txt/ST_group2.txt
  braph2/workflows/Structural/example data ST (MRI)/xls/ST_group1.xlsx
  braph2/workflows/Structural/example data ST (MRI)/xls/ST_group2.xlsx
Labels: GUI, cohort

#612 function getDataPanel
  braph2/cohort/datas/DataConnectivity.m
  braph2/cohort/datas/DataFunctional.m
Labels: bug, cohort

#613 609 eg update documentation
  braph2/atlas/GUIBrainAtlas.m
  braph2/cohort/Data.m
  braph2/cohort/datas/DataConnectivity.m
  braph2/cohort/datas/DataFunctional.m
  braph2/cohort/datas/DataScalar.m
  braph2/cohort/datas/DataStructural.m
Labels: cohort, documentation

#615 changed Subject and GUIBrainAtlas
  braph2/atlas/GUIBrainAtlas.m
  braph2/cohort/Subject.m
Labels: GUI, atlas

#617 GUIAnalysis first panel
  braph2/analysis/Analysis.m
  braph2/analysis/GUIAnalysis.m
  braph2/analysis/test_GUIAnalysis.m
  braph2/cohort/GUICohort.m
Labels: GUI, analysis

#619 GUIAnalysis second update
  braph2/analysis/Analysis.m
  braph2/analysis/GUIAnalysisSettings.m
  braph2/analysis/test_GUIAnalysis.m
  braph2/analysis/test_GUIAnalysisSettings.m
  braph2/atlas/GUIBrainAtlas.m
  braph2/cohort/GUICohort.m
  braph2/cohort/Subject.m
  braph2/graph/Graph.m
  braph2/graph/graphs/GraphWU.m
  braph2/util/GUI.m
  braph2/workflows/Structural/AnalysisST_BUD.m
  braph2/workflows/Structural/AnalysisST_BUT.m
  braph2/workflows/Structural/AnalysisST_WU.m
Labels: GUI, analysis

#621 620 eg graph plot changes
  braph2/graph/Graph.m
  braph2/graph/graphs/DummyGraph.m
  braph2/graph/graphs/DummyMultigraph.m
  braph2/graph/graphs/DummyMultilayer.m
  braph2/graph/graphs/DummyOrderedMultilayer.m
  braph2/graph/graphs/DummyOrderedMultiplex.m
  braph2/graph/graphs/GraphBD.m
  braph2/graph/graphs/GraphBU.m
  braph2/graph/graphs/GraphWD.m
  braph2/graph/graphs/GraphWU.m
  braph2/graph/graphs/MultiplexGraphBU.m
  braph2/graph/graphs/MultiplexGraphWU.m
  braph2/workflows/Structural/AnalysisST_WU.m
Labels: enhancement, graph

#573 Ac average overlapping strength
  braph2/graph/measures/OverlappingStrengthAv.m
  braph2/graph/measures/test_OverlappingStrengthAv.m
Labels: measure, test

#572 Ac weighted multiplex participation
  braph2/graph/measures/WeightedMultiplexParticipation.m
  braph2/graph/measures/test_WeightedMultiplexParticipation.m
Labels: measure, test

#629 626 eg gui analysis plots&bugs
  braph2/analysis/Analysis.m
  braph2/analysis/Comparison.m
  braph2/analysis/GUIAnalysis.m
  braph2/analysis/GUIAnalysisSettings.m
  braph2/analysis/GUIComparison.m
  braph2/analysis/GUIMeasurement.m
  braph2/analysis/GUIRandomComparison.m
  braph2/workflows/Structural/AnalysisST_BUD.m
  braph2/workflows/Structural/AnalysisST_BUT.m
  braph2/workflows/Structural/AnalysisST_WU.m
Labels: GUI, analysis, bug

#635 binodal panel
  braph2/analysis/Analysis.m
  braph2/analysis/GUIAnalysis.m
  braph2/analysis/test_GUIAnalysis.m
  braph2/workflows/Structural/AnalysisST_BUD.m
  braph2/workflows/Structural/AnalysisST_BUT.m
  braph2/workflows/Structural/AnalysisST_WU.m
Labels: GUI, analysis

#633 632 eg gui analysis nodalpanel
  braph2/analysis/Analysis.m
  braph2/analysis/GUIAnalysis.m
  braph2/workflows/Structural/AnalysisST_BUD.m
  braph2/workflows/Structural/AnalysisST_BUT.m
  braph2/workflows/Structural/AnalysisST_WU.m
Labels: GUI, analysis

#623 GUIAnalysis
  braph2/analysis/Analysis.m
  braph2/analysis/Comparison.m
  braph2/analysis/GUIAnalysis.m
  braph2/analysis/GUIAnalysisSettings.m
  braph2/analysis/GUIComparison.m
  braph2/analysis/GUIMeasurement.m
  braph2/analysis/GUIRandomComparison.m
  braph2/analysis/Measurement.m
  braph2/analysis/RandomComparison.m
  braph2/analysis/test_GUIAnalysis.m
  braph2/analysis/test_GUIAnalysisSettings.m
  braph2/util/GUI.m
  braph2/workflows/Structural/AnalysisST_BUD.m
  braph2/workflows/Structural/AnalysisST_BUT.m
  braph2/workflows/Structural/AnalysisST_WU.m
  braph2/workflows/Structural/ComparisonST_BUD.m
  braph2/workflows/Structural/ComparisonST_BUT.m
  braph2/workflows/Structural/ComparisonST_WU.m
  braph2/workflows/Structural/MeasurementST_BUD.m
  braph2/workflows/Structural/MeasurementST_BUT.m
  braph2/workflows/Structural/MeasurementST_WU.m
  braph2/workflows/Structural/RandomComparisonST_BUD.m
  braph2/workflows/Structural/RandomComparisonST_BUT.m
  braph2/workflows/Structural/RandomComparisonST_WU.m
  braph2/workflows/Structural/example data ST (MRI)/analysis_example_ST_BUD.analysis
  braph2/workflows/Structural/example data ST (MRI)/analysis_example_ST_BUT.analysis
  braph2/workflows/Structural/example data ST (MRI)/analysis_example_ST_WU.analysis
Labels: GUI, analysis
