Repository braph-software/BRAPH-2, pull requests merged in 2020-09, with the labels that each got.

#645 644 ac degree overlap av
  braph2/graph/measures/DegreeOverlapAv.m
  braph2/graph/measures/test_DegreeOverlapAv.m
Labels: measure, test

#643 642 eg gui analysis brainview
  braph2/analysis/Analysis.m
  braph2/analysis/GUIAnalysis.m
  braph2/analysis/permutation.m
  braph2/atlas/Contents.m
  braph2/atlas/PlotBrainGraph.m
  braph2/atlas/test_PlotBrainGraph.m
  braph2/util/Contents.m
  braph2/util/arrow3d.m
  braph2/util/cylinder3d.m
  braph2/workflows/Structural/AnalysisST_BUT.m
  braph2/workflows/Structural/AnalysisST_WU.m
Labels: GUI, analysis

#641 638 eg gui analysis brainview
  braph2/analysis/Analysis.m
  braph2/analysis/GUIAnalysis.m
  braph2/analysis/test_GUIAnalysis.m
  braph2/atlas/PlotBrainGraph.m
  braph2/atlas/test_PlotBrainGraph.m
  braph2/workflows/Structural/AnalysisST_WU.m
Labels: GUI, analysis

#637 636 eg plot brain graph
  braph2/atlas/PlotBrainGraph.m
  braph2/atlas/test_PlotBrainGraph.m
  braph2/util/arrow3d.m
  braph2/util/cylinder3d.m
Labels: GUI, atlas

#657 documentation
  braph2/atlas/PlotBrainGraph.m
Labels: GUI, atlas, documentation

#658 Toolbar
  braph2/analysis/GUIAnalysis.m
  braph2/analysis/test_GUIAnalysis.m
  braph2/workflows/Structural/AnalysisST_WU.m
Labels: GUI, analysis, enhancement

#659 parametric input
  braph2/analysis/GUIAnalysisSettings.m
  braph2/graph/Measure.m
  braph2/graph/measures/MultiRichClubDegree.m
  braph2/graph/measures/MultiRichClubStrength.m
  braph2/graph/measures/RichClub.m
  braph2/graph/measures/RichClubDegree.m
  braph2/graph/measures/RichClubStrength.m
  braph2/graph/measures/WeightedRichClub.m
  braph2/graph/measures/test_MultiRichClubDegree.m
  braph2/graph/measures/test_MultiRichClubStrength.m
  braph2/graph/measures/test_RichClub.m
  braph2/graph/measures/test_RichClubDegree.m
  braph2/graph/measures/test_RichClubStrength.m
  braph2/graph/measures/test_WeightedRichClub.m
Labels: GUI, analysis

#663 Update AnalysisST_WU handles for figures
  braph2/workflows/Structural/AnalysisST_WU.m
Labels: GUI, analysis, enhancement

#664 Small-worldness measure
  braph2/graph/measures/PathLength.m
  braph2/graph/measures/SmallWorldness.m
  braph2/graph/measures/test_SmallWorldness.m
Labels: measure

#660 update to load XLS for Subjects
  braph2/atlas/desikan_atlas.txt
  braph2/workflows/Structural/SubjectST.m
  braph2/workflows/Structural/example data ST (MRI)/desikan_atlas.atlas
  braph2/workflows/Structural/example data ST (MRI)/desikan_atlas.json
  braph2/workflows/Structural/example data ST (MRI)/desikan_atlas.txt
  braph2/workflows/Structural/example data ST (MRI)/desikan_atlas.xlsx
Labels: cohort, enhancement

#661 update fdr
  braph2/analysis/fdr.m
  braph2/util/IndexedDictionary.m
  braph2/workflows/Structural/AnalysisST_WU.m
Labels: GUI, analysis, enhancement

#672 Fix bug from Analysis Multiplex
  braph2/workflows/StructuralMultiplex/AnalysisST_MP_WU.m
Labels: bug

#676 Bug in Matlab 2017b version
  braph2/analysis/test_permutation.m
Labels: bug

#679 678-ac- OverlappingDegreeAv
  braph2/graph/measures/OverlappingDegreeAv.m
  braph2/graph/measures/test_OverlappingDegreeAv.m
Labels: measure, test

#681 667 yw measure overlappingInDegreeAv
  braph2/graph/measures/OverlappingInDegreeAv.m
  braph2/graph/measures/test_OverlappingInDegreeAv.m
Labels: measure, test

#682 680 yw measure overlappingOutDegreeAv
  braph2/graph/measures/OverlappingOutDegreeAv.m
  braph2/graph/measures/test_OverlappingOutDegreeAv.m
Labels: measure, test

#690 Missing NaN controls measures
  braph2/graph/measures/InPathLength.m
  braph2/graph/measures/MultiplexInParticipation.m
  braph2/graph/measures/MultiplexOutParticipation.m
  braph2/graph/measures/OutPathLength.m
Labels: measure

#688 Updated multiplex participation with NaN control
  braph2/graph/measures/MultiplexParticipation.m
  braph2/graph/measures/WeightedMultiplexParticipation.m
Labels: bug, measure

#693 685 eg JSON upgrade
  braph2/analysis/test_GUIAnalysis.m
  braph2/analysis/test_GUIAnalysisSettings.m
  braph2/workflows/Connectivity/SubjectCON.m
  braph2/workflows/Connectivity/test_AnalysisCON_WU.m
  braph2/workflows/Connectivity/test_SubjectCON.m
  braph2/workflows/Functional/SubjectFNC.m
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_1/subject1.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_1/subject10.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_1/subject2.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_1/subject3.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_1/subject4.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_1/subject5.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_1/subject6.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_1/subject7.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_1/subject8.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_1/subject9.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_2/subject11.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_2/subject12.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_2/subject13.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_2/subject14.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_2/subject15.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_2/subject16.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_2/subject17.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_2/subject18.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_2/subject19.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/Group_2/subject20.json
  braph2/workflows/Functional/example data FNC (fMRI)/json/cohort_example.json
  braph2/workflows/Functional/test_AnalysisFNC_WU.m
  braph2/workflows/Functional/test_SubjectFNC.m
  braph2/workflows/Structural/SubjectST.m
  braph2/workflows/Structural/example data ST (MRI)/json/ST_cohort.json
  braph2/workflows/Structural/example data ST (MRI)/json/ST_group1.json
  braph2/workflows/Structural/example data ST (MRI)/json/ST_group2.json
  braph2/workflows/Structural/test_AnalysisST_WU.m
Labels: enhancement

#694 687 gv pvalues
  braph2/analysis/pvalue1.m
  braph2/analysis/pvalue2.m
  braph2/analysis/test_pvalue1.m
  braph2/analysis/test_pvalue2.m
Labels: bug
