Repository braph-software/BRAPH-2, pull requests merged in 2020-02, with the labels that each got.

#19 Gv unittest framework
  braph/graph/test_Measure.m
  braph/graph/test_remove_diagonal.m
  braph/util/test.m
Labels: test

#10 Issue 5. Comments for functions: remove diagonal, remove negative wei…
  braph/graph/remove_diagonal.m
  braph/graph/remove_negative_weights.m
  braph/graph/symmetrize.m
Labels: documentation

#18 Issue 12 Strength, InStrength, OutStrength
  .gitignore
  braph/graph/InStrength.m
  braph/graph/OutStrength.m
  braph/graph/Strength.m
Labels: measure

#11 Issue #6 Indegree and Outdegree plus a small change to Degree and Mea…
  .gitignore
  braph/graph/InDegree.m
  braph/graph/OutDegree.m
Labels: measure

#20 Issue 16 DegreeAv, IndegreeAv, OutDegreeAv
  braph/graph/DegreeAV.m
  braph/graph/InDegreeAV.m
  braph/graph/OutDegreeAV.m
Labels: measure

#21 Issue 17 StrengthAv, InStengthAv, OutStrengthAv
  braph/graph/InStrengthAV.m
  braph/graph/OutStrengthAV.m
  braph/graph/StrengthAV.m
Labels: measure

#30 New function Graph.sugraph
  braph/graph/Graph.m
Labels: enhancement

#32 Added functions Graph.edgeattack and Graph.edgeattack
  braph/graph/Graph.m
Labels: enhancement

#31 Gv graph.is measure calculated
  braph/graph/DegreeAv.m
  braph/graph/Graph.m
  braph/graph/InDegree.m
  braph/graph/InDegreeAv.m
  braph/graph/InStrengthAv.m
  braph/graph/OutDegreeAv.m
  braph/graph/OutStrengthAv.m
  braph/graph/StrengthAv.m
Labels: enhancement

#29 Issue 23
  braph/graph/test_symmetrize.m
Labels: test

#33 Issue 28 Bugs: InDegree and OutDegree
  braph/graph/InDegree.m
  braph/graph/OutDegree.m
Labels: bug

#34 Update test_Measure.m
  braph/graph/test_Measure.m
Labels: test

#35 22 eg remove diagonal change
  braph/graph/remove_diagonal.m
Labels: low priority

#53 Gv code restructure part 2
  braph/graph/Graph.m
  braph/graph/Measure.m
  braph/graph/are_compatible.m
  braph/graph/remove_diagonal.m
  braph/graph/test_Measure.m
  braph/graph/test_symmetrize.m
Labels: enhancement

#46 Issue 25 Test Graph + children
  braph/graph/graphs/test_GraphBD.m
  braph/graph/graphs/test_GraphBU.m
  braph/graph/graphs/test_GraphWD.m
  braph/graph/graphs/test_GraphWU.m
  braph/test/test_braph2.m
Labels: test

#57 Changes to address issues #50 and #51
  braph/graph/Graph.m
  braph/graph/graphs/GraphBD.m
  braph/graph/graphs/GraphBU.m
  braph/graph/graphs/GraphWD.m
  braph/graph/graphs/GraphWU.m
  braph/graph/test_Graph.m
Labels: bug

#56 Changes to address issue #49
  braph/graph/Measure.m
  braph/graph/measures/Degree.m
  braph/graph/measures/DegreeAv.m
  braph/graph/measures/InDegree.m
  braph/graph/measures/InDegreeAv.m
  braph/graph/measures/InStrength.m
  braph/graph/measures/InStrengthAv.m
  braph/graph/measures/OutDegree.m
  braph/graph/measures/OutDegreeAv.m
  braph/graph/measures/OutStrength.m
  braph/graph/measures/OutStrengthAv.m
  braph/graph/measures/Strength.m
  braph/graph/measures/StrengthAv.m
  braph/graph/test_Measure.m
Labels: bug

#64 Create Triangles.m
  braph/graph/measures/Triangles.m
Labels: measure

#66 60 mm triangles bu
  braph/graph/measures/Triangles.m
Labels: measure

#73 Issue #72 Graph/Measure Settings and deep copies
  braph/graph/Graph.m
  braph/graph/Measure.m
  braph/util/clean_varargin.m
  braph/util/copy_varargin.m
  braph/util/get_from_varargin.m
  braph/util/test_clean_varargin.m
  braph/util/test_copy_varargin.m
  braph/util/test_get_from_varargin.m
Labels: bug

#68 Create standardize.m
  braph/graph/dediagonalize.m
  braph/graph/semipositivize.m
  braph/graph/standardize.m
  braph/graph/symmetrize.m
  braph/graph/test_standardize.m
Labels: enhancement

#69 Test Degrees and Strengths
  braph/graph/measures/test_Degree.m
  braph/graph/measures/test_DegreeAv.m
  braph/graph/measures/test_InDegree.m
  braph/graph/measures/test_InDegreeAv.m
  braph/graph/measures/test_InStrength.m
  braph/graph/measures/test_InStrengthAv.m
  braph/graph/measures/test_OutDegree.m
  braph/graph/measures/test_OutDegreeAv.m
  braph/graph/measures/test_OutStrength.m
  braph/graph/measures/test_OutStrengthAv.m
  braph/graph/measures/test_Strength.m
  braph/graph/measures/test_StrengthAv.m
  braph/test/test_braph2.m
Labels: test

#71 Issue 45 Implement Measure.tostring() and Measure.disp()
  braph/graph/Graph.m
  braph/graph/Measure.m
Labels: enhancement

#75 Issue 74 Graph.subgraph(), nodeattack(), edgeattack() not working
  braph/graph/Graph.m
Labels: bug

#76 Issue 47 Test Graph.subgraph()
  braph/graph/test_Graph.m
Labels: test

#70 Issue 44 Test Graph.copy()
  braph/graph/test_Graph.m
Labels: test

#77 Update test_braph2.m
  braph/graph/graphs/test_GraphBD.m
  braph/graph/graphs/test_GraphBU.m
  braph/graph/graphs/test_GraphWD.m
  braph/graph/graphs/test_GraphWU.m
  braph/graph/measures/test_Degree.m
  braph/graph/measures/test_DegreeAv.m
  braph/graph/measures/test_InDegree.m
  braph/graph/measures/test_InDegreeAv.m
  braph/graph/measures/test_InStrength.m
  braph/graph/measures/test_InStrengthAv.m
  braph/graph/measures/test_OutDegree.m
  braph/graph/measures/test_OutDegreeAv.m
  braph/graph/measures/test_OutStrength.m
  braph/graph/measures/test_OutStrengthAv.m
  braph/graph/measures/test_Strength.m
  braph/graph/measures/test_StrengthAv.m
  braph/graph/test_Graph.m
  braph/graph/test_Measure.m
  braph/graph/test_dediagonalize.m
  braph/graph/test_semipositivize.m
  braph/graph/test_standardize.m
  braph/graph/test_symmetrize.m
  braph/test/test_braph2.m
  braph/util/test_clean_varargin.m
  braph/util/test_copy_varargin.m
  braph/util/test_get_from_varargin.m
Labels: test

#78 Issue 48 Test Graph.nodeattack() & Graph.edgeattack()
  braph/graph/test_Graph.m
Labels: test

#80 Changes to Measure.calculate()
  braph/graph/Measure.m
  braph/graph/measures/Degree.m
  braph/graph/measures/DegreeAv.m
  braph/graph/measures/InDegree.m
  braph/graph/measures/InDegreeAv.m
  braph/graph/measures/InStrength.m
  braph/graph/measures/InStrengthAv.m
  braph/graph/measures/OutDegree.m
  braph/graph/measures/OutDegreeAv.m
  braph/graph/measures/OutStrength.m
  braph/graph/measures/OutStrengthAv.m
  braph/graph/measures/Strength.m
  braph/graph/measures/StrengthAv.m
  braph/graph/measures/Triangles.m
Labels: enhancement

#81 60-mm-triangles
  braph/graph/measures/Triangles.m
Labels: measure

#86 Issue #85 Distance as a Measure
  braph/graph/Measure.m
  braph/graph/measures/Degree.m
  braph/graph/measures/DegreeAv.m
  braph/graph/measures/Distance.m
  braph/graph/measures/InDegree.m
  braph/graph/measures/InDegreeAv.m
  braph/graph/measures/InStrength.m
  braph/graph/measures/InStrengthAv.m
  braph/graph/measures/OutDegree.m
  braph/graph/measures/OutDegreeAv.m
  braph/graph/measures/OutStrength.m
  braph/graph/measures/OutStrengthAv.m
  braph/graph/measures/Strength.m
  braph/graph/measures/StrengthAv.m
  braph/graph/measures/Triangles.m
  braph/graph/measures/test_Distance.m
  braph/graph/test_Measure.m
Labels: enhancement, measure, test

#87 67-mm-testTriangles
  braph/graph/measures/Triangles.m
  braph/graph/measures/test_Triangles.m
Labels: test

#95 Update test_Triangles.m
  braph/graph/measures/test_Triangles.m
Labels: measure, test

#92 59 ac clustering bu
  braph/graph/measures/Clustering.m
  braph/graph/measures/ClusteringAv.m
  braph/graph/measures/Triangles.m
  braph/graph/measures/test_Clustering.m
  braph/graph/measures/test_ClusteringAv.m
Labels: measure, test

#91 Issue 89 Distance measured in edges
  braph/graph/measures/Distance.m
  braph/graph/measures/EdgeNumberDistance.m
  braph/graph/measures/test_EdgeNumberDistance.m
Labels: measure, test

#106 Update test_EdgeNumberDistance.m
  braph/graph/measures/test_EdgeNumberDistance.m
Labels: test

#105 Gv atlas
  braph/atlas/BrainAtlas.m
  braph/atlas/BrainRegion.m
  braph/atlas/test_BrainAtlas.m
  braph/atlas/test_BrainRegion.m
  braph/braph2.m
  braph/graph/test_Graph.m
  braph/test/test_braph2.m
Labels: enhancement

#107 Transitivity and its test
  braph/graph/measures/Transitivity.m
  braph/graph/measures/test_Transitivity.m
Labels: measure, test

#117 Gv utils flexible varargin
  braph/graph/Graph.m
  braph/graph/Measure.m
  braph/graph/measures/Clustering.m
  braph/graph/measures/ClusteringAv.m
  braph/graph/measures/Degree.m
  braph/graph/measures/DegreeAv.m
  braph/graph/measures/Distance.m
  braph/graph/measures/EdgeNumberDistance.m
  braph/graph/measures/InDegree.m
  braph/graph/measures/InDegreeAv.m
  braph/graph/measures/InStrength.m
  braph/graph/measures/InStrengthAv.m
  braph/graph/measures/OutDegree.m
  braph/graph/measures/OutDegreeAv.m
  braph/graph/measures/OutStrength.m
  braph/graph/measures/OutStrengthAv.m
  braph/graph/measures/Strength.m
  braph/graph/measures/StrengthAv.m
  braph/graph/measures/Transitivity.m
  braph/graph/measures/Triangles.m
  braph/util/clean_varargin.m
  braph/util/copy_varargin.m
  braph/util/get_from_varargin.m
  braph/util/test_clean_varargin.m
  braph/util/test_copy_varargin.m
  braph/util/test_get_from_varargin.m
Labels: enhancement

#113 Issue 99 Calculate Global efficiency
  braph/graph/measures/GlobalEfficency.m
  braph/graph/measures/InGlobalEfficency.m
  braph/graph/measures/OutGlobalEfficency.m
  braph/graph/measures/test_GlobalEfficency.m
  braph/graph/measures/test_InGlobalEfficency.m
  braph/graph/measures/test_OutGloblalEfficency.m
Labels: measure, test
