Repository braph-software/BRAPH-2, pull requests merged in 2020-05, with the labels that each got.

#229 added cohort
  braph/cohort/Cohort.m
  braph/cohort/Data.m
  braph/cohort/Group.m
  braph/cohort/Subject.m
  braph/cohort/datas/DataConnectivity.m
  braph/cohort/datas/DataFunctional.m
  braph/cohort/datas/DataScalar.m
  braph/cohort/datas/DataStructural.m
  braph/cohort/datas/test_DataConnectivity.m
  braph/cohort/datas/test_DataFunctional.m
  braph/cohort/datas/test_DataScalar.m
  braph/cohort/datas/test_DataStructural.m
  braph/cohort/test_Cohort.m
  braph/cohort/test_Data.m
  braph/cohort/test_Group.m
  braph/cohort/test_Subject.m
  braph/workflows/DTI/SubjectDTI.m
  braph/workflows/DTI/test_SubjectDTI.m
  braph/workflows/MRI/SubjectMRI.m
  braph/workflows/MRI/test_SubjectMRI.m
  braph/workflows/fMRI/SubjectfMRI.m
  braph/workflows/fMRI/test_SubjectfMRI.m
Labels: cohort

#232 MeasurementDTI and test
  braph/workflows/DTI/MeasurementDTI.m
  braph/workflows/DTI/test_MeasurementDTI.m
Labels: analysis

#233 MeasurementfMRI & MeasurementMRI & tests
  braph/workflows/DTI/test_MeasurementDTI.m
  braph/workflows/MRI/MeasurementMRI.m
  braph/workflows/MRI/test_MeasurementMRI.m
  braph/workflows/fMRI/MeasurementfMRI.m
  braph/workflows/fMRI/test_MeasurementfMRI.m
Labels: analysis

#238 Gv analysis auxfunc
  braph/analysis/bonferroni.m
  braph/analysis/fdr.m
  braph/analysis/pvalue1.m
  braph/analysis/pvalue2.m
  braph/analysis/quantiles.m
  braph/analysis/test_bonferroni.m
  braph/analysis/test_fdr.m
  braph/analysis/test_pvalue1.m
  braph/analysis/test_pvalue2.m
  braph/analysis/test_quantiles.m
Labels: analysis, documentation, test

#237 Gv load brainatlas
  braph/atlas/BrainAtlas.m
  braph/atlas/test_BrainAtlas.m
  braph/util/Constant.m
  examples/atlas/desikan_atlas.txt
  examples/atlas/desikan_atlas.xlsx
Labels: atlas

#239 Eg comparison new 1
  braph/analysis/Comparison.m
  braph/analysis/Measurement.m
  braph/analysis/test_Comparison.m
  braph/analysis/test_Comparisons.m
  braph/analysis/test_Measurement.m
  braph/workflows/DTI/ComparisonDTI.m
  braph/workflows/DTI/test_ComparisonDTI.m
  braph/workflows/DTI/test_MeasurementDTI.m
  braph/workflows/MRI/ComparisonMRI.m
  braph/workflows/MRI/test_ComparisonMRI.m
  braph/workflows/fMRI/ComparisonfMRI.m
  braph/workflows/fMRI/test_ComparisonfMRI.m
Labels: analysis

#241 Eg load save brainatlas
  braph/atlas/BrainAtlas.m
  braph/atlas/test_BrainAtlas.m
  braph/util/Constant.m
  examples/MRI/gr1_MRI.xlsx
  examples/MRI/gr2_MRI.xlsx
  examples/MRI/my_atlas.atlas
  examples/fMRI/dosenbach_atlas.atlas
  examples/fMRI/gr1_fMRI_xlsx/subject1.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject10.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject11.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject12.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject13.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject14.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject15.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject16.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject17.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject18.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject19.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject2.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject20.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject3.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject4.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject5.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject6.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject7.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject8.xlsx
  examples/fMRI/gr1_fMRI_xlsx/subject9.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient1.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient10.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient11.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient12.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient13.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient14.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient15.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient16.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient17.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient18.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient19.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient2.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient20.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient3.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient4.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient5.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient6.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient7.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient8.xlsx
  examples/fMRI/gr2_fMRI_xlsx/patient9.xlsx
Labels: atlas, enhancement, test

#242 RandomComparisons
  braph/analysis/RandomComparison.m
  braph/analysis/test_RandomComparisons.m
  braph/workflows/DTI/RandomComparisonDTI.m
  braph/workflows/DTI/test_RandomComparisonDTI.m
  braph/workflows/MRI/RandomComparisonMRI.m
  braph/workflows/MRI/test_RandomComparisonMRI.m
  braph/workflows/fMRI/RandomComparisonfMRI.m
  braph/workflows/fMRI/test_RandomComparisonfMRI.m
Labels: analysis, enhancement, test

#247 Eg load save cohort
  braph/atlas/BrainAtlas.m
  braph/cohort/Cohort.m
  braph/cohort/test_Cohort.m
  braph/workflows/DTI/SubjectDTI.m
  braph/workflows/DTI/test_SubjectDTI.m
  braph/workflows/MRI/SubjectMRI.m
  braph/workflows/MRI/test_SubjectMRI.m
  braph/workflows/fMRI/SubjectfMRI.m
  braph/workflows/fMRI/test_SubjectfMRI.m
Labels: cohort, enhancement, test

#252 Eg analysis Measurement
  braph/analysis/Analysis.m
  braph/analysis/Comparison.m
  braph/analysis/Measurement.m
  braph/analysis/RandomComparison.m
  braph/analysis/test_Analysis.m
  braph/workflows/DTI/AnalysisDTI.m
  braph/workflows/DTI/RandomComparisonDTI.m
  braph/workflows/DTI/test_AnalysisDTI.m
  braph/workflows/MRI/AnalysisMRI.m
  braph/workflows/MRI/test_AnalysisMRI.m
  braph/workflows/fMRI/AnalysisfMRI.m
  braph/workflows/fMRI/RandomComparisonfMRI.m
  braph/workflows/fMRI/test_AnalysisfMRI.m
Labels: analysis, test

#251 Eg analysis comparison
  braph/analysis/Permutation.m
  braph/analysis/test_Permutation.m
  braph/analysis/test_RandomComparisons.m
  braph/workflows/DTI/AnalysisDTI.m
  braph/workflows/DTI/ComparisonDTI.m
  braph/workflows/DTI/test_AnalysisDTI.m
  braph/workflows/DTI/test_RandomComparisonDTI.m
  braph/workflows/MRI/AnalysisMRI.m
  braph/workflows/MRI/test_AnalysisMRI.m
  braph/workflows/MRI/test_RandomComparisonMRI.m
  braph/workflows/fMRI/AnalysisfMRI.m
  braph/workflows/fMRI/ComparisonfMRI.m
  braph/workflows/fMRI/test_AnalysisfMRI.m
  braph/workflows/fMRI/test_RandomComparisonfMRI.m
Labels: analysis, test

#254 Eg analysis random comparison
  braph/analysis/Analysis.m
  braph/graph/Graph.m
  braph/graph/graphs/GraphBD.m
  braph/graph/graphs/GraphBU.m
  braph/graph/graphs/GraphWD.m
  braph/graph/graphs/GraphWU.m
  braph/workflows/DTI/AnalysisDTI.m
  braph/workflows/DTI/test_AnalysisDTI.m
  braph/workflows/MRI/AnalysisMRI.m
  braph/workflows/MRI/test_AnalysisMRI.m
  braph/workflows/fMRI/AnalysisfMRI.m
  braph/workflows/fMRI/test_AnalysisfMRI.m
Labels: analysis, test

#253 Package Graph Documentation
  braph/graph/are_compatible.m
  braph/graph/binarize.m
  braph/graph/measures/Assortativity.m
  braph/graph/measures/BetweennessCentrality.m
  braph/graph/measures/Clustering.m
  braph/graph/measures/ClusteringAv.m
  braph/graph/measures/Degree.m
  braph/graph/measures/DegreeAv.m
  braph/graph/measures/Diameter.m
  braph/graph/measures/Distance.m
  braph/graph/measures/Eccentricity.m
  braph/graph/measures/EccentricityAv.m
  braph/graph/measures/EdgeBetweennessCentrality.m
  braph/graph/measures/EdgeNumberDistance.m
  braph/graph/measures/GlobalEfficiency.m
  braph/graph/measures/GlobalEfficiencyAv.m
  braph/graph/measures/InDegree.m
  braph/graph/measures/InDegreeAv.m
  braph/graph/measures/InEccentricity.m
  braph/graph/measures/InEccentricityAv.m
  braph/graph/measures/InGlobalEfficiency.m
  braph/graph/measures/InGlobalEfficiencyAv.m
  braph/graph/measures/InInAssortativity.m
  braph/graph/measures/InLocalEfficiency.m
  braph/graph/measures/InLocalEfficiencyAv.m
  braph/graph/measures/InOutAssortativity.m
  braph/graph/measures/InPathLength.m
  braph/graph/measures/InPathLengthAv.m
  braph/graph/measures/InStrength.m
  braph/graph/measures/InStrengthAv.m
  braph/graph/measures/LocalEfficiency.m
  braph/graph/measures/LocalEfficiencyAv.m
  braph/graph/measures/OutDegree.m
  braph/graph/measures/OutDegreeAv.m
  braph/graph/measures/OutEccentricity.m
  braph/graph/measures/OutEccentricityAv.m
  braph/graph/measures/OutGlobalEfficiency.m
  braph/graph/measures/OutGlobalEfficiencyAv.m
  braph/graph/measures/OutInAssortativity.m
  braph/graph/measures/OutLocalEfficiency.m
  braph/graph/measures/OutLocalEfficiencyAv.m
  braph/graph/measures/OutOutAssortativity.m
  braph/graph/measures/OutPathLength.m
  braph/graph/measures/OutPathLengthAv.m
  braph/graph/measures/OutStrength.m
  braph/graph/measures/OutStrengthAv.m
  braph/graph/measures/PathLength.m
  braph/graph/measures/PathLengthAv.m
  braph/graph/measures/PathTransitivity.m
  braph/graph/measures/Radius.m
  braph/graph/measures/Strength.m
  braph/graph/measures/StrengthAv.m
  braph/graph/measures/Transitivity.m
  braph/graph/measures/Triangles.m
Labels: documentation, graph

#262 changed how cohort is loaded
  braph/util/IndexedDictionary.m
  braph/workflows/DTI/SubjectDTI.m
  braph/workflows/DTI/test_SubjectDTI.m
  braph/workflows/fMRI/SubjectfMRI.m
  braph/workflows/fMRI/test_SubjectfMRI.m
Labels: cohort, enhancement, test

#271 Ac final revision graphs
  braph2/graph/Graph.m
  braph2/graph/diagonalize.m
  braph2/graph/graphs/GraphBD.m
  braph2/graph/graphs/GraphBU.m
  braph2/graph/graphs/GraphWD.m
  braph2/graph/graphs/GraphWU.m
  braph2/graph/graphs/MultiplexGraphBD.m
  braph2/graph/graphs/MultiplexGraphBU.m
  braph2/graph/graphs/MultiplexGraphWD.m
  braph2/graph/graphs/MultiplexGraphWU.m
  braph2/graph/test_Graph.m
  braph2/graph/test_dediagonalize.m
  braph2/graph/test_diagonalize.m
  braph2/util/BRAPH2.m
Labels: graph

#277 upated graph, test_graph and different types of (multiplex)graph
  braph2/graph/Graph.m
  braph2/graph/graphs/GraphBD.m
  braph2/graph/graphs/GraphBU.m
  braph2/graph/graphs/GraphWD.m
  braph2/graph/graphs/GraphWU.m
  braph2/graph/graphs/MultiplexGraphBD.m
  braph2/graph/graphs/MultiplexGraphBU.m
  braph2/graph/graphs/MultiplexGraphWD.m
  braph2/graph/graphs/MultiplexGraphWU.m
  braph2/graph/test_Graph.m
Labels: graph

#275 Gv final revisio graph measures&graphs
  braph2/graph/Graph.m
  braph2/graph/binarize.m
  braph2/graph/dediagonalize.m
  braph2/graph/graphs/GraphBD.m
  braph2/graph/graphs/GraphBU.m
  braph2/graph/graphs/GraphWD.m
  braph2/graph/graphs/GraphWU.m
  braph2/graph/graphs/MultiplexGraphBD.m
  braph2/graph/graphs/MultiplexGraphBU.m
  braph2/graph/graphs/MultiplexGraphWD.m
  braph2/graph/graphs/MultiplexGraphWU.m
  braph2/graph/graphs/test_GraphBD.m
  braph2/graph/graphs/test_GraphBU.m
  braph2/graph/graphs/test_GraphWD.m
  braph2/graph/graphs/test_GraphWU.m
  braph2/graph/graphs/test_MultiplexGraphBD.m
  braph2/graph/graphs/test_MultiplexGraphBU.m
  braph2/graph/graphs/test_MultiplexGraphWD.m
  braph2/graph/graphs/test_MultiplexGraphWU.m
  braph2/graph/semipositivize.m
  braph2/graph/standardize.m
  braph2/graph/symmetrize.m
  braph2/graph/test_Graph.m
  braph2/graph/test_dediagonalize.m
  braph2/util/BRAPH2.m
Labels: graph

#283 279 ac fix test graph add graphenhancements
  braph2/graph/Graph.m
  braph2/graph/graphs/test_GraphBD.m
  braph2/graph/graphs/test_GraphBU.m
  braph2/graph/graphs/test_GraphWD.m
  braph2/graph/graphs/test_GraphWU.m
  braph2/graph/graphs/test_MultiplexGraphBD.m
  braph2/graph/graphs/test_MultiplexGraphBU.m
  braph2/graph/graphs/test_MultiplexGraphWD.m
  braph2/graph/graphs/test_MultiplexGraphWU.m
  braph2/graph/test_Graph.m
Labels: bug, enhancement, graph

#284 Added Documentation in Graph
  braph2/graph/Graph.m
Labels: documentation, graph

#298 Fixed 'all' version compatible problems in Graph
  braph2/graph/Graph.m
  braph2/graph/test_Graph.m
Labels: bug, graph

#292 NodeAttack & EdgeAttack
  braph2/graph/Graph.m
  braph2/graph/graphs/GraphBD.m
  braph2/graph/graphs/GraphBU.m
  braph2/graph/graphs/GraphWD.m
  braph2/graph/graphs/GraphWU.m
  braph2/graph/graphs/MultiplexGraphBD.m
  braph2/graph/graphs/MultiplexGraphBU.m
  braph2/graph/graphs/MultiplexGraphWD.m
  braph2/graph/graphs/MultiplexGraphWU.m
  braph2/graph/graphs/test_GraphWD.m
  braph2/graph/graphs/test_GraphWU.m
  braph2/graph/test_Graph.m
Labels: graph

#295 Gv final revision graph2
  braph2/graph/Graph.m
  braph2/graph/graphs/DummyMultilayerGraph.m
  braph2/graph/graphs/GraphBD.m
  braph2/graph/graphs/GraphBU.m
  braph2/graph/graphs/GraphWD.m
  braph2/graph/graphs/GraphWU.m
  braph2/graph/graphs/MultiplexGraphBD.m
  braph2/graph/graphs/MultiplexGraphBU.m
  braph2/graph/graphs/MultiplexGraphWD.m
  braph2/graph/graphs/MultiplexGraphWU.m
  braph2/graph/test_Graph.m
Labels: graph, test

#294 Ac measure constants
  braph2/graph/Graph.m
  braph2/graph/Measure.m
  braph2/graph/are_compatible.m
  braph2/graph/measures/Degree.m
  braph2/graph/measures/DegreeAv.m
  braph2/graph/measures/Distance.m
  braph2/graph/test_Measure.m
Labels: enhancement, measure

#296 Gv final revision measures
  braph2/graph/Measure.m
  braph2/graph/are_compatible.m
  braph2/graph/measures/Distance.m
Labels: graph, measure, test

#297 288 eg gui brain atlas
  braph2/atlas/BrainAtlas.m
  braph2/atlas/GUIBrainAtlas.m
  braph2/atlas/PlotBrainAtlas.m
  braph2/atlas/PlotBrainSurf.m
  braph2/atlas/test_BrainAtlas.m
  braph2/atlas/test_PlotBrainSurf.m
  braph2/atlas/test_plotbrainatlas.m
  braph2/braph2.m
  braph2/util/BRAPH2.m
  braph2/util/GUI.m
  braph2/util/icons/icon_axis.png
  braph2/util/icons/icon_br.png
  braph2/util/icons/icon_brain.png
  braph2/util/icons/icon_grid.png
  braph2/util/icons/icon_label.png
  braph2/util/icons/icon_settings.png
  braph2/util/icons/icon_sphere.png
  braph2/util/icons/icon_symbol.png
  braph2/util/icons/icon_view_3d.png
  braph2/util/icons/icon_view_ad.png
  braph2/util/icons/icon_view_av.png
  braph2/util/icons/icon_view_ca.png
  braph2/util/icons/icon_view_cp.png
  braph2/util/icons/icon_view_sl.png
  braph2/util/icons/icon_view_sr.png
Labels: GUI, atlas, documentation, enhancement, test

#291 Brain Atlas revision
  braph2/atlas/BrainAtlas.m
  braph2/atlas/PlotBrainAtlas.m
Labels: atlas, documentation, enhancement, test

#290 286 eg plot brain atlas
  braph2/atlas/PlotBrainAtlas.m
Labels: GUI, atlas, enhancement, test

#309 Contents and unit tests
  braph2/atlas/PlotBrainSurf.m
  braph2/atlas/test_PlotBrainSurf.m
  braph2/atlas/test_plotbrainatlas.m
  braph2/test/test_braph2.m
  braph2/util/Contents.m
Labels: GUI, atlas, test, util

#317 Fixed errors in Graph when calling getA(), layernumber() and nodenumber()
  braph2/graph/Graph.m
Labels: bug, graph

#316 fix contents util
  braph2/util/Contents.m
Labels: util

#321 Updated edge attack
  braph2/graph/Graph.m
Labels: bug, graph

#322 313 eg atlas documentation
  braph2/atlas/BrainAtlas.m
  braph2/atlas/BrainRegion.m
  braph2/atlas/GUIBrainAtlas.m
  braph2/atlas/PlotBrainSurf.m
  braph2/atlas/test_BrainAtlas.m
  braph2/util/IndexedDictionary.m
Labels: atlas, documentation

#319 DummyMultiplex
  braph2/graph/graphs/DummyMultiplex.m
  braph2/graph/graphs/test_DummyMultiplex.m
  braph2/util/IndexedDictionary.m
Labels: graph
