Repository braph-software/BRAPH-2, pull requests merged in 2020-12, with the labels that each got.

#744 change
  braph2/atlas/BrainAtlas.m
Labels: bug

#745 Participation coefficient measure
  braph2/graph/measures/Participation.m
  braph2/graph/measures/test_Participation.m
Labels: measure, test

#753 K-Core and S-Core measures
  braph2/graph/measures/KCore.m
  braph2/graph/measures/SCore.m
  braph2/graph/measures/test_KCore.m
  braph2/graph/measures/test_SCore.m
Labels: measure, test

#747 746-yc-SpeedupTheUnitTestProcess
  braph2/test/test_braph2.m
Labels: enhancement

#760 759 ac eigenvector centrality
  braph2/graph/measures/BetweennessCentrality.m
  braph2/graph/measures/EigenvectorCentrality.m
  braph2/graph/measures/test_EigenvectorCentrality.m
Labels: measure, test

#754 752 ac Persistence
  braph2/graph/measures/CategoricalPersistence.m
  braph2/graph/measures/Participation.m
  braph2/graph/measures/test_CategoricalPersistence.m
Labels: measure, test
