Repository braph-software/BRAPH-2, pull requests merged in 2020-07, with the labels that each got.

#438 Gv cohort final
  braph2/cohort/Cohort.m
  braph2/cohort/Data.m
  braph2/cohort/Group.m
  braph2/cohort/Subject.m
  braph2/cohort/datas/DataConnectivity.m
  braph2/cohort/datas/DataFunctional.m
  braph2/cohort/datas/DataScalar.m
  braph2/cohort/datas/DataStructural.m
  braph2/cohort/datas/test_DataConnectivity.m
  braph2/cohort/datas/test_DataFunctional.m
  braph2/cohort/datas/test_DataScalar.m
  braph2/cohort/datas/test_DataStructural.m
  braph2/cohort/test_Cohort.m
  braph2/cohort/test_Data.m
  braph2/cohort/test_Group.m
  braph2/cohort/test_Subject.m
  braph2/test/test_braph2.m
  braph2/workflows/DTI/SubjectDTI.m
  braph2/workflows/DTI/test_SubjectDTI.m
  braph2/workflows/MRI/SubjectMRI.m
  braph2/workflows/MRI/test_SubjectMRI.m
  braph2/workflows/fMRI/SubjectfMRI.m
  braph2/workflows/fMRI/test_SubjectfMRI.m
Labels: cohort

#483 482 ac multiplex MRI workflow
  braph2/cohort/Group.m
  braph2/workflows/MRI/SubjectMRI.m
  braph2/workflows/MultiplexMRI/Group1_MRI_data_layer1.xlsx
  braph2/workflows/MultiplexMRI/Group1_MRI_data_layer2.xlsx
  braph2/workflows/MultiplexMRI/SubjectMultiplexMRI.m
  braph2/workflows/MultiplexMRI/desikan_atlas_braph2.xlsx
  braph2/workflows/MultiplexMRI/test_SubjectMultiplexMRI.m
Labels: cohort, workflows

#484 Gv cohort final
  braph2/cohort/Group.m
  braph2/cohort/test_Cohort.m
  braph2/cohort/test_Group.m
  braph2/cohort/test_Subject.m
  braph2/workflows/MRI/SubjectMRI.m
  braph2/workflows/MultiplexMRI/Group1_MRI_data_layer1.xlsx
  braph2/workflows/MultiplexMRI/Group1_MRI_data_layer2.xlsx
  braph2/workflows/MultiplexMRI/SubjectMultiplexMRI.m
  braph2/workflows/MultiplexMRI/desikan_atlas_braph2.xlsx
  braph2/workflows/MultiplexMRI/test_SubjectMultiplexMRI.m
Labels: cohort

#490 489 ac measurement dti
  braph2/analysis/Measurement.m
  braph2/analysis/test_Measurement.m
  braph2/workflows/DTI/MeasurementDTI.m
  braph2/workflows/DTI/test_MeasurementDTI.m
  braph2/workflows/MRI/MeasurementMRI.m
  braph2/workflows/MRI/test_MeasurementMRI.m
Labels: analysis, test, workflows

#481 Cohort Load/Save Subjects
  braph2/cohort/Cohort.m
  braph2/cohort/test_Cohort.m
  braph2/workflows/DTI/DTI_examples/json/trial_cohort/GroupName1/SubjectID1.json
  braph2/workflows/DTI/DTI_examples/json/trial_cohort/GroupName1/SubjectID2.json
  braph2/workflows/DTI/DTI_examples/json/trial_cohort/GroupName1/SubjectID3.json
  braph2/workflows/DTI/DTI_examples/txt/trial_cohort/GroupName1/SubjectID1.txt
  braph2/workflows/DTI/DTI_examples/txt/trial_cohort/GroupName1/SubjectID2.txt
  braph2/workflows/DTI/DTI_examples/txt/trial_cohort/GroupName1/SubjectID3.txt
  braph2/workflows/DTI/DTI_examples/txt/trial_cohort/GroupName1/group_info.txt
  braph2/workflows/DTI/DTI_examples/txt/trial_cohort/cohort_info.txt
  braph2/workflows/DTI/DTI_examples/xls/trial_cohort/GroupName1/SubjectID1.xlsx
  braph2/workflows/DTI/DTI_examples/xls/trial_cohort/GroupName1/SubjectID2.xlsx
  braph2/workflows/DTI/DTI_examples/xls/trial_cohort/GroupName1/SubjectID3.xlsx
  braph2/workflows/DTI/DTI_examples/xls/trial_cohort/GroupName1/group_info.txt
  braph2/workflows/DTI/DTI_examples/xls/trial_cohort/GroupName2/SubjectID4.xlsx
  braph2/workflows/DTI/DTI_examples/xls/trial_cohort/GroupName2/SubjectID5.xlsx
  braph2/workflows/DTI/DTI_examples/xls/trial_cohort/GroupName2/group_info.txt
  braph2/workflows/DTI/DTI_examples/xls/trial_cohort/cohort_info.txt
  braph2/workflows/DTI/SubjectDTI.m
  braph2/workflows/DTI/test_SubjectDTI.m
  braph2/workflows/MRI/MRI_examples/json/trial_cohort.json
  braph2/workflows/MRI/MRI_examples/txt/cohort_info.txt
  braph2/workflows/MRI/MRI_examples/txt/group_info.txt
  braph2/workflows/MRI/MRI_examples/txt/trial_cohort.txt
  braph2/workflows/MRI/MRI_examples/xls/cohort_info.txt
  braph2/workflows/MRI/MRI_examples/xls/trial_cohort.xlsx
  braph2/workflows/MRI/SubjectMRI.m
  braph2/workflows/MRI/test_SubjectMRI.m
  braph2/workflows/MultiplexMRI/SubjectMultiplexMRI.m
  braph2/workflows/fMRI/SubjectfMRI.m
  braph2/workflows/fMRI/fMRI_examples/json/trial_cohort/GroupName1/SubjectID1.json
  braph2/workflows/fMRI/fMRI_examples/json/trial_cohort/GroupName1/SubjectID2.json
  braph2/workflows/fMRI/fMRI_examples/json/trial_cohort/GroupName1/SubjectID3.json
  braph2/workflows/fMRI/fMRI_examples/txt/trial_cohort/GroupName1/SubjectID1.txt
  braph2/workflows/fMRI/fMRI_examples/txt/trial_cohort/GroupName1/SubjectID2.txt
  braph2/workflows/fMRI/fMRI_examples/txt/trial_cohort/GroupName1/SubjectID3.txt
  braph2/workflows/fMRI/fMRI_examples/txt/trial_cohort/GroupName1/group_info.txt
  braph2/workflows/fMRI/fMRI_examples/txt/trial_cohort/cohort_info.txt
  braph2/workflows/fMRI/fMRI_examples/xls/trial_cohort/GroupName1/SubjectID1.xlsx
  braph2/workflows/fMRI/fMRI_examples/xls/trial_cohort/GroupName1/SubjectID2.xlsx
  braph2/workflows/fMRI/fMRI_examples/xls/trial_cohort/GroupName1/SubjectID3.xlsx
  braph2/workflows/fMRI/fMRI_examples/xls/trial_cohort/GroupName1/group_info.txt
  braph2/workflows/fMRI/fMRI_examples/xls/trial_cohort/GroupName2/SubjectID4.xlsx
  braph2/workflows/fMRI/fMRI_examples/xls/trial_cohort/GroupName2/SubjectID5.xlsx
  braph2/workflows/fMRI/fMRI_examples/xls/trial_cohort/GroupName2/group_info.txt
  braph2/workflows/fMRI/fMRI_examples/xls/trial_cohort/cohort_info.txt
  braph2/workflows/fMRI/test_SubjectfMRI.m
Labels: cohort

#492 Measurement fMRI + Test
  braph2/workflows/fMRI/MeasurementfMRI.m
  braph2/workflows/fMRI/test_MeasurementfMRI.m
Labels: analysis, test

#505 BUG Subject xls load
  braph2/workflows/fMRI/SubjectfMRI.m
Labels: bug, cohort

#504 Bug in Save SubjectDTI.m
  braph2/workflows/DTI/SubjectDTI.m
Labels: bug, cohort

#487 Analysis/Measurement (base + MRI)
  braph2/analysis/Analysis.m
  braph2/analysis/Correlation.m
  braph2/analysis/Measurement.m
  braph2/analysis/test_Analysis.m
  braph2/analysis/test_Correlation.m
  braph2/analysis/test_Measurement.m
  braph2/cohort/Cohort.m
  braph2/workflows/DTI/MeasurementDTI.m
  braph2/workflows/DTI/test_MeasurementDTI.m
  braph2/workflows/MRI/AnalysisMRI.m
  braph2/workflows/MRI/MeasurementMRI.m
  braph2/workflows/MRI/test_AnalysisMRI.m
  braph2/workflows/MRI/test_MeasurementMRI.m
  braph2/workflows/MultiplexMRI/MeasurementMultiplexMRI.m
  braph2/workflows/MultiplexMRI/Script_example_desikan_group1data.m
  braph2/workflows/MultiplexMRI/SubjectMultiplexMRI.m
  braph2/workflows/MultiplexMRI/test_MeasurementMultiplexMRI.m
  braph2/workflows/fMRI/MeasurementfMRI.m
  braph2/workflows/fMRI/test_MeasurementfMRI.m
Labels: analysis

#507 502 ac multiplex mri examples
  braph2/workflows/MultiplexMRI/Group1_MRI_data_layer1.xlsx
  braph2/workflows/MultiplexMRI/Group1_MRI_data_layer2.xlsx
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/json/Group1_MRI_data_layer1.json
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/json/Group1_MRI_data_layer2.json
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/txt/Group1_MRI_data_layer1.txt
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/txt/Group1_MRI_data_layer2.txt
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/txt/cohort_info.txt
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/txt/group_info.txt
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/xls/Group1_MRI_data_layer1.xlsx
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/xls/Group1_MRI_data_layer2.xlsx
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/xls/cohort_info.txt
  braph2/workflows/MultiplexMRI/desikan_atlas_braph2.xlsx
Labels: workflows

#510 497 ac analysis DTI
  braph2/workflows/DTI/AnalysisDTI.m
  braph2/workflows/DTI/test_AnalysisDTI.m
  braph2/workflows/MRI/test_AnalysisMRI.m
Labels: analysis, test

#506 Gv cohort final
  braph2/workflows/MultiplexMRI/Group1_MRI_data_layer1.xlsx
  braph2/workflows/MultiplexMRI/Group1_MRI_data_layer2.xlsx
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/json/Group1_MRI_data_layer1.json
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/json/Group1_MRI_data_layer2.json
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/txt/Group1_MRI_data_layer1.txt
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/txt/Group1_MRI_data_layer2.txt
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/txt/cohort_info.txt
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/txt/group_info.txt
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/xls/Group1_MRI_data_layer1.xlsx
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/xls/Group1_MRI_data_layer2.xlsx
  braph2/workflows/MultiplexMRI/MultiplexMRI_examples/xls/cohort_info.txt
  braph2/workflows/MultiplexMRI/desikan_atlas_braph2.xlsx
Labels: cohort

#513 Analysis Multiplex MRI
  braph2/workflows/MultiplexMRI/AnalysisMultiplexMRI.m
  braph2/workflows/MultiplexMRI/test_AnalysisMultiplexMRI.m
Labels: analysis, test, workflows

#509 Subject
  braph2/cohort/Subject.m
  braph2/workflows/DTI/SubjectDTI.m
  braph2/workflows/MRI/SubjectMRI.m
  braph2/workflows/fMRI/SubjectfMRI.m
Labels: cohort, documentation

#486 485 ac adapt subgraph graph
  braph2/graph/Graph.m
  braph2/graph/graphs/test_DummyGraph.m
  braph2/graph/graphs/test_DummyMultigraph.m
  braph2/graph/graphs/test_DummyMultilayer.m
  braph2/graph/graphs/test_DummyMultiplex.m
  braph2/graph/graphs/test_DummyOrderedMultilayer.m
  braph2/graph/graphs/test_DummyOrderedMultiplex.m
Labels: graph

#511 AnalysisfMRI
  braph2/workflows/fMRI/AnalysisfMRI.m
  braph2/workflows/fMRI/test_AnalysisfMRI.m
Labels: analysis

#518 516 eg Comparison fMRI
  braph2/workflows/fMRI/AnalysisfMRI.m
  braph2/workflows/fMRI/ComparisonfMRI.m
  braph2/workflows/fMRI/test_AnalysisfMRI.m
  braph2/workflows/fMRI/test_ComparisonfMRI.m
Labels: analysis, comparison, test

#524 Eg anaysis permutation tests
  braph2/analysis/permutation.m
  braph2/analysis/test_permutation.m
Labels: analysis, documentation, test

#520 test_Analysis tests 5-14
  braph2/analysis/test_Analysis.m
Labels: analysis, test

#517 515 - ac - Comparison DTI
  braph2/workflows/DTI/ComparisonDTI.m
  braph2/workflows/DTI/test_ComparisonDTI.m
Labels: analysis, comparison, test, workflows

#494 472 ac local efficiency local efficiency av
  braph2/graph/measures/LocalEfficiency.m
  braph2/graph/measures/LocalEfficiencyAv.m
  braph2/graph/measures/test_LocalEfficiency.m
  braph2/graph/measures/test_LocalEfficiencyAv.m
Labels: measure, test

#521 permutation
  braph2/analysis/Measurement.m
  braph2/analysis/permutation.m
  braph2/analysis/test_Measurement.m
  braph2/analysis/test_permutation.m
  braph2/test/test_braph2.m
  braph2/workflows/DTI/MeasurementDTI.m
  braph2/workflows/MRI/MeasurementMRI.m
  braph2/workflows/MRI/test_AnalysisMRI.m
  braph2/workflows/MultiplexMRI/MeasurementMultiplexMRI.m
  braph2/workflows/fMRI/MeasurementfMRI.m
Labels: analysis, documentation, enhancement, test

#540 530 eg test comparison update
  braph2/workflows/MRI/test_AnalysisMRI.m
  braph2/workflows/MRI/test_ComparisonMRI.m
Labels: analysis, bug, documentation

#474 473 eg graphs randomize settings
  braph2/graph/Graph.m
  braph2/graph/graphs/DummyGraph.m
  braph2/graph/graphs/DummyMultigraph.m
  braph2/graph/graphs/DummyMultilayer.m
  braph2/graph/graphs/DummyMultiplex.m
  braph2/graph/graphs/DummyOrderedMultilayer.m
  braph2/graph/graphs/DummyOrderedMultiplex.m
  braph2/graph/graphs/GraphBD.m
  braph2/graph/graphs/GraphBU.m
  braph2/graph/graphs/GraphWD.m
  braph2/graph/graphs/GraphWU.m
  braph2/graph/graphs/MultiplexGraphBD.m
  braph2/graph/graphs/MultiplexGraphBU.m
  braph2/graph/graphs/MultiplexGraphWD.m
  braph2/graph/graphs/MultiplexGraphWU.m
Labels: enhancement, graph

#534 Update Group.m
  braph2/cohort/Group.m
Labels: cohort, documentation

#542 Documentation Cohort
  braph2/cohort/Cohort.m
Labels: cohort, documentation

#544 535 update comparison dti
  braph2/workflows/DTI/AnalysisDTI.m
  braph2/workflows/DTI/ComparisonDTI.m
  braph2/workflows/DTI/test_AnalysisDTI.m
  braph2/workflows/DTI/test_ComparisonDTI.m
Labels: analysis, test, workflows

#546 537 ac comparison multiplex mri
  braph2/workflows/MultiplexMRI/AnalysisMultiplexMRI.m
  braph2/workflows/MultiplexMRI/ComparisonMultiplexMRI.m
  braph2/workflows/MultiplexMRI/test_AnalysisMultiplexMRI.m
  braph2/workflows/MultiplexMRI/test_ComparisonMultiplexMRI.m
Labels: analysis, test, workflows

#545 536 eg comparison fmri update
  braph2/workflows/fMRI/AnalysisfMRI.m
  braph2/workflows/fMRI/ComparisonfMRI.m
  braph2/workflows/fMRI/test_ComparisonfMRI.m
Labels: analysis, comparison, test, workflows

#556 Update AnalysisMultiplexMRI
  braph2/workflows/MultiplexMRI/AnalysisMultiplexMRI.m
Labels: analysis, bug

#557 Analysis statistical functions to work with cell arrays
  braph2/analysis/pvalue1.m
  braph2/analysis/pvalue2.m
  braph2/analysis/quantiles.m
  braph2/analysis/test_pvalue1.m
  braph2/analysis/test_pvalue2.m
  braph2/analysis/test_quantiles.m
  braph2/workflows/MRI/AnalysisMRI.m
Labels: analysis

#555 Update Graphs Randomization
  braph2/graph/graphs/DummyGraph.m
  braph2/graph/graphs/DummyMultigraph.m
  braph2/graph/graphs/DummyMultilayer.m
  braph2/graph/graphs/DummyMultiplex.m
  braph2/graph/graphs/DummyOrderedMultilayer.m
  braph2/graph/graphs/DummyOrderedMultiplex.m
  braph2/graph/graphs/GraphBD.m
  braph2/graph/graphs/GraphBU.m
  braph2/graph/graphs/GraphWD.m
  braph2/graph/graphs/GraphWU.m
  braph2/graph/graphs/MultiplexGraphBD.m
  braph2/graph/graphs/MultiplexGraphBU.m
  braph2/graph/graphs/MultiplexGraphWD.m
  braph2/graph/graphs/MultiplexGraphWU.m
  braph2/graph/graphs/test_GraphBD.m
  braph2/graph/graphs/test_GraphBU.m
  braph2/graph/graphs/test_GraphWD.m
  braph2/graph/graphs/test_GraphWU.m
  braph2/graph/graphs/test_MultiplexGraphBD.m
  braph2/graph/graphs/test_MultiplexGraphBU.m
  braph2/graph/graphs/test_MultiplexGraphWD.m
  braph2/graph/graphs/test_MultiplexGraphWU.m
  braph2/graph/test_Graph.m
Labels: graph

#552 Random Comparisons MRI
  braph2/analysis/Analysis.m
  braph2/analysis/test_Analysis.m
  braph2/workflows/MRI/AnalysisMRI.m
  braph2/workflows/MRI/RandomComparisonMRI.m
  braph2/workflows/MRI/test_AnalysisMRI.m
Labels: analysis

#560 533 gv analysis deepcopy
  braph2/analysis/Analysis.m
  braph2/analysis/test_Analysis.m
Labels: analysis, test

#559 Graph.copy()
  braph2/graph/Graph.m
  braph2/graph/test_Graph.m
Labels: documentation, graph, test

#531 Update MeasurementMRI.m
  braph2/workflows/MRI/MeasurementMRI.m
Labels: analysis

#569 load xls mri
  braph2/cohort/Subject.m
  braph2/util/BRAPH2.m
  braph2/workflows/MRI/MRI_examples/exampleAtlas.json
  braph2/workflows/MRI/MRI_examples/json/trial_cohort_2.json
  braph2/workflows/MRI/MRI_examples/txt/group_info.txt
  braph2/workflows/MRI/MRI_examples/txt/trial_cohort_2.txt
  braph2/workflows/MRI/MRI_examples/xls/trial_cohort_2.xlsx
  braph2/workflows/MRI/SubjectMRI.m
  braph2/workflows/MRI/test_SubjectMRI.m
Labels: cohort, enhancement, test

#575 574 eg example MRI WU
  braph2/analysis/Comparison.m
  braph2/analysis/Measurement.m
  braph2/analysis/RandomComparison.m
  braph2/workflows/MRI/AnalysisMRI_WU.m
  braph2/workflows/MRI/ComparisonMRI_WU.m
  braph2/workflows/MRI/MeasurementMRI_WU.m
  braph2/workflows/MRI/RandomComparisonMRI_WU.m
  braph2/workflows/MRI/SubjectMRI.m
  braph2/workflows/MRI/example data MRI/desikan_atlas.json
  braph2/workflows/MRI/example data MRI/desikan_atlas.txt
  braph2/workflows/MRI/example data MRI/desikan_atlas.xlsx
  braph2/workflows/MRI/example data MRI/exampleAtlas.json
  braph2/workflows/MRI/example data MRI/exampleAtlas.xlsx
  braph2/workflows/MRI/example data MRI/json/MRI_group1.json
  braph2/workflows/MRI/example data MRI/json/MRI_group2.json
  braph2/workflows/MRI/example data MRI/json/trial_cohort.json
  braph2/workflows/MRI/example data MRI/json/trial_cohort_2.json
  braph2/workflows/MRI/example data MRI/txt/MRI_group1.txt
  braph2/workflows/MRI/example data MRI/txt/MRI_group2.txt
  braph2/workflows/MRI/example data MRI/txt/cohort_info.txt
  braph2/workflows/MRI/example data MRI/txt/trial_cohort.txt
  braph2/workflows/MRI/example data MRI/txt/trial_cohort_2.txt
  braph2/workflows/MRI/example data MRI/xls/MRI_group1.xlsx
  braph2/workflows/MRI/example data MRI/xls/MRI_group2.xlsx
  braph2/workflows/MRI/example data MRI/xls/cohort_info.txt
  braph2/workflows/MRI/example data MRI/xls/trial_cohort.xlsx
  braph2/workflows/MRI/example data MRI/xls/trial_cohort_2.xlsx
  braph2/workflows/MRI/example_MRI_WU.m
  braph2/workflows/MRI/example_workflow_MRI_WU.m
  braph2/workflows/MRI/test_SubjectMRI.m
Labels: workflows

#570 Group inspection functions
  braph2/cohort/Group.m
Labels: cohort, documentation

#576 Analysis documentation
  braph2/analysis/Analysis.m
  braph2/analysis/Comparison.m
  braph2/analysis/Correlation.m
  braph2/analysis/Measurement.m
  braph2/analysis/RandomComparison.m
  braph2/graph/Graph.m
Labels: analysis, documentation

#578 renamed variables from MRI to ST
  braph2/cohort/test_Subject.m
  braph2/graph/test_Graph.m
  braph2/workflows/Structural/AnalysisST_WU.m
  braph2/workflows/Structural/ComparisonST_WU.m
  braph2/workflows/Structural/MeasurementST_WU.m
  braph2/workflows/Structural/RandomComparisonST_WU.m
  braph2/workflows/Structural/SubjectST.m
  braph2/workflows/Structural/example data ST (MRI)/json/ST_group1.json
  braph2/workflows/Structural/example data ST (MRI)/json/ST_group2.json
  braph2/workflows/Structural/example data ST (MRI)/txt/ST_group1.txt
  braph2/workflows/Structural/example data ST (MRI)/txt/ST_group2.txt
  braph2/workflows/Structural/example data ST (MRI)/xls/ST_group1.xlsx
  braph2/workflows/Structural/example data ST (MRI)/xls/ST_group2.xlsx
  braph2/workflows/Structural/example_ST_WU.m
  braph2/workflows/Structural/example_workflow_ST_WU.m
  braph2/workflows/Structural/test_AnalysisST_WU.m
  braph2/workflows/Structural/test_ComparisonST_WU.m
  braph2/workflows/Structural/test_MeasurementST_WU.m
  braph2/workflows/Structural/test_RandomComparisonST_WU.m
  braph2/workflows/Structural/test_SubjectST.m
Labels: workflows

#581 565 eg documentation st
  braph2/cohort/test_Subject.m
  braph2/workflows/Structural/AnalysisST_WU.m
  braph2/workflows/Structural/ComparisonST_WU.m
  braph2/workflows/Structural/MeasurementST_WU.m
  braph2/workflows/Structural/RandomComparisonST_WU.m
Labels: documentation, workflows

#582 Create test_randomize.m
  braph2/graph/graphs/GraphBD.m
  braph2/graph/graphs/GraphBU.m
Labels: bug, graph

#584 threshold and histogram functions
  braph2/graph/binarize.m
  braph2/graph/histogram.m
  braph2/graph/test_binarize.m
Labels: enhancement, graph, test

#588 Update Contents.m
  braph2/analysis/Contents.m
  braph2/cohort/Contents.m
  braph2/graph/Contents.m
Labels: analysis, cohort, documentation, graph

#589 585 eg analysis st but from wu
  braph2/workflows/Structural/AnalysisST_BUT.m
  braph2/workflows/Structural/AnalysisST_WU.m
  braph2/workflows/Structural/ComparisonST_BUT.m
  braph2/workflows/Structural/ComparisonST_WU.m
  braph2/workflows/Structural/MeasurementST_BUT.m
  braph2/workflows/Structural/MeasurementST_WU.m
  braph2/workflows/Structural/RandomComparisonST_BUT.m
  braph2/workflows/Structural/RandomComparisonST_WU.m
  braph2/workflows/Structural/SubjectST.m
  braph2/workflows/Structural/test_AnalysisST_BUT.m
  braph2/workflows/Structural/test_ComparisonST_BUT.m
  braph2/workflows/Structural/test_ComparisonST_WU.m
  braph2/workflows/Structural/test_MeasurementST_BUT.m
  braph2/workflows/Structural/test_RandomComparisonST_BUT.m
  braph2/workflows/Structural/test_RandomComparisonST_WU.m
Labels: workflows

#590 Cohort Ensamble Operations
  braph2/cohort/Cohort.m
  braph2/cohort/test_Cohort.m
Labels: cohort, enhancement, test

#597 GUI Cohort left panel
  braph2/cohort/GUICohort.m
  braph2/cohort/test_GUICohort.m
  braph2/util/GUI.m
Labels: GUI, cohort

#599 598 eg gui cohort second column
  braph2/cohort/Cohort.m
  braph2/cohort/GUICohort.m
  braph2/cohort/test_GUICohort.m
Labels: GUI, cohort
