Repository braph-software/BRAPH-2, pull requests merged in 2021-04, with the labels that each got.

#863 Correction of clone
  braph2genesis/src/ds/Element.m
Labels: BRAPH2Genesis

#859 Ac 852 multiplex but/bud
  braph2genesis/graphs/_MultiplexBUD.gen.m
  braph2genesis/graphs/_MultiplexBUT.gen.m
  braph2genesis/measures/_Assortativity.gen.m
  braph2genesis/measures/_Clustering.gen.m
  braph2genesis/measures/_ClusteringAv.gen.m
  braph2genesis/measures/_Degree.gen.m
  braph2genesis/measures/_DegreeAv.gen.m
  braph2genesis/measures/_DegreeOverlap.gen.m
  braph2genesis/measures/_DegreeOverlapAv.gen.m
  braph2genesis/measures/_EdgeOverlap.gen.m
  braph2genesis/measures/_MultiRichClubDegree.gen.m
  braph2genesis/measures/_MultiplexClustering.gen.m
  braph2genesis/measures/_MultiplexClusteringAv.gen.m
  braph2genesis/measures/_MultiplexCorePeriphery.gen.m
  braph2genesis/measures/_MultiplexParticipation.gen.m
  braph2genesis/measures/_MultiplexParticipationAv.gen.m
  braph2genesis/measures/_MultiplexTriangles.gen.m
  braph2genesis/measures/_Multirichness.gen.m
  braph2genesis/measures/_OverlappingDegree.gen.m
  braph2genesis/measures/_OverlappingDegreeAv.gen.m
  braph2genesis/measures/_RichClubDegree.gen.m
  braph2genesis/measures/_Richness.gen.m
  braph2genesis/measures/_SCore.gen.m
Labels: BRAPH2Genesis, bug, graph, measure

#864 Workflow ST WU
  braph2genesis/genesis/create_Element.m
  braph2genesis/genesis/genesis.m
  braph2genesis/graphs/_GraphBD.gen.m
  braph2genesis/graphs/_GraphBU.gen.m
  braph2genesis/graphs/_GraphWD.gen.m
  braph2genesis/graphs/_GraphWU.gen.m
  braph2genesis/measures/_Degree.gen.m
  braph2genesis/measures/_DegreeAv.gen.m
  braph2genesis/measures/_Distance.gen.m
  braph2genesis/src/analysis/TMP/_Analysis.gen.m
  braph2genesis/src/analysis/TMP/_Comparison.gen.m
  braph2genesis/src/analysis/_AnalysisGroup.gen.m
  braph2genesis/src/analysis/_ComparisonGroup.gen.m
  braph2genesis/src/ds/Element.m
  braph2genesis/src/gt/_Graph.gen.m
  braph2genesis/workflows/connectivity/TMP/_AnalysisCON.gen.m
  braph2genesis/workflows/connectivity/TMP/example_CON.m
  braph2genesis/workflows/functional/TMP/_AnalysisFUN.gen.m
  braph2genesis/workflows/functional/TMP/example_FUN.m
  braph2genesis/workflows/structural/TMP/_AnalysisST.gen.m
  braph2genesis/workflows/structural/TMP/example_ST.m
  braph2genesis/workflows/structural/_AnalysisGroup_ST_WU.gen.m
  braph2genesis/workflows/structural/example_ST.m
  braph2genesis/workflows/structural/example_ST_WU.m
Labels: BRAPH2Genesis, analysis, workflows

#866 Gv genesis 7 comparison group
  braph2genesis/src/analysis/_AnalyzeGroup.gen.m
  braph2genesis/src/analysis/_CompareGroup.gen.m
  braph2genesis/src/analysis/_ComparisonGroup.gen.m
  braph2genesis/src/gt/_Graph.gen.m
  braph2genesis/workflows/structural/_AnalyzeGroup_ST_WU.gen.m
  braph2genesis/workflows/structural/example_ST_WU.m
Labels: BRAPH2Genesis, analysis

#867 Gv genesis 8
  braph2genesis/src/analysis/_CompareGroup.gen.m
  braph2genesis/src/analysis/_ComparisonGroup.gen.m
  braph2genesis/workflows/structural/example_ST_WU.m
Labels: BRAPH2Genesis, analysis

#869 Gv genesis 9 analysis ensemble + workflow CON ST
  braph2genesis/genesis/genesis.m
  braph2genesis/src/analysis/_AnalyzeEnsemble.gen.m
  braph2genesis/src/analysis/_CompareEnsemble.gen.m
  braph2genesis/src/analysis/_ComparisonEnsemble.gen.m
  braph2genesis/src/analysis/_MeasureEnsemble.gen.m
  braph2genesis/src/gt/_Graph.gen.m
  braph2genesis/workflows/connectivity/_AnalyzeEnsemble_CON_WU.gen.m
  braph2genesis/workflows/connectivity/example_CON_WU.m
Labels: BRAPH2Genesis, analysis, workflows

#868 Worklflow ST_BUT
  braph2genesis/genesis/genesis.m
  braph2genesis/graphs/_MultigraphBUT.gen.m
  braph2genesis/workflows/structural/_AnalyzeGroup_ST_BUT.gen.m
  braph2genesis/workflows/structural/example_ST_BUT.m
Labels: BRAPH2Genesis, workflows

#875 Workflow ST BUD
  braph2genesis/genesis/genesis.m
  braph2genesis/graphs/_MultigraphBUD.gen.m
  braph2genesis/workflows/structural/_AnalyzeGroup_ST_BUD.gen.m
  braph2genesis/workflows/structural/example_ST_BUD.m
Labels: BRAPH2Genesis, workflows

#876 775 gv header comments
  braph2genesis/genesis/create_Element.m
Labels: BRAPH2Genesis, documentation

#874 873 gv new workflow creation
  braph2genesis/genesis/copydir.m
  braph2genesis/genesis/genesis.m
Labels: BRAPH2Genesis

#877 CON BUT
  braph2genesis/workflows/connectivity/_AnalyzeEnsemble_CON_BUT.gen.m
  braph2genesis/workflows/connectivity/example_CON_BUT.m
Labels: BRAPH2Genesis, workflows

#878 871 ac workflow CON BUD
  braph2genesis/workflows/connectivity/_AnalyzeEnsemble_CON_BUD.gen.m
  braph2genesis/workflows/connectivity/example_CON_BUD.m
Labels: BRAPH2Genesis, workflows

#879 FUN workflow WU and BUT
  braph2genesis/workflows/functional/_AnalyzeEnsemble_FUN_BUT.gen.m
  braph2genesis/workflows/functional/_AnalyzeEnsemble_FUN_WU.gen.m
  braph2genesis/workflows/functional/example_FUN_BUT.m
  braph2genesis/workflows/functional/example_FUN_WU.m
Labels: BRAPH2Genesis, workflows

#880 872 ac Workflow FUN BUD
  braph2genesis/workflows/functional/_AnalyzeEnsemble_FUN_BUD.gen.m
  braph2genesis/workflows/functional/example_FUN_BUD.m
Labels: BRAPH2Genesis, workflows

#858 Fix the warning in DistanceEnsemble
  braph2genesis/measures/TMP/_EdgeNumberDistance.gen.m
  braph2genesis/measures/_Distance.gen.m
Labels: BRAPH2Genesis, bug

#885 change to importer
  braph2genesis/workflows/functional/_ImporterGroupSubjectFUNTXT.gen.m
  braph2genesis/workflows/functional/_ImporterGroupSubjectFUNXLS.gen.m
  braph2genesis/workflows/functional/_SubjectFUN.gen.m
Labels: BRAPH2Genesis, workflows

#884 883 gv speed up 2
  braph2genesis/src/analysis/_ComparisonEnsemble.gen.m
  braph2genesis/src/ds/Element.m
Labels: analysis, enhancement

#888 Workflow ST_MP: change property "N" in SubjectST_MP
  braph2genesis/workflows/structural multiplex/_AnalyzeGroup_ST_MP_BUD.gen.m
  braph2genesis/workflows/structural multiplex/_AnalyzeGroup_ST_MP_BUT.gen.m
  braph2genesis/workflows/structural multiplex/_AnalyzeGroup_ST_MP_WU.gen.m
  braph2genesis/workflows/structural multiplex/_ExporterGroupSubjectSTMPTXT.gen.m
  braph2genesis/workflows/structural multiplex/_ExporterGroupSubjectSTMPXLS.gen.m
  braph2genesis/workflows/structural multiplex/_ImporterGroupSubjectSTMPTXT.gen.m
  braph2genesis/workflows/structural multiplex/_ImporterGroupSubjectSTMPXLS.gen.m
  braph2genesis/workflows/structural multiplex/_SubjectST_MP.gen.m
Labels: BRAPH2Genesis, workflows

#886 graph random
  braph2genesis/graphs/_GraphBD.gen.m
  braph2genesis/graphs/_GraphBU.gen.m
  braph2genesis/graphs/_GraphWD.gen.m
  braph2genesis/graphs/_GraphWU.gen.m
  braph2genesis/graphs/_MultiplexBD.gen.m
  braph2genesis/graphs/_MultiplexBU.gen.m
  braph2genesis/graphs/_MultiplexWD.gen.m
  braph2genesis/graphs/_MultiplexWU.gen.m
  braph2genesis/measures/_Clustering.gen.m
  braph2genesis/measures/_ClusteringAv.gen.m
  braph2genesis/measures/_PathLength.gen.m
  braph2genesis/measures/_PathLengthAv.gen.m
  braph2genesis/measures/_SmallWorldness.gen.m
  braph2genesis/measures/_Triangles.gen.m
Labels: BRAPH2Genesis, graph

#891 Fix BUG in AnalyzeGroup_ST_MP_WU-BUD-BUT
  braph2genesis/workflows/structural multiplex/_AnalyzeGroup_ST_MP_BUD.gen.m
  braph2genesis/workflows/structural multiplex/_AnalyzeGroup_ST_MP_BUT.gen.m
  braph2genesis/workflows/structural multiplex/_AnalyzeGroup_ST_MP_WU.gen.m
Labels: bug, workflows

#895 889 ac add covariates workflows
  braph2genesis/src/analysis/Correlation.m
  braph2genesis/src/analysis/test_Correlation.m
  braph2genesis/workflows/connectivity/_ExporterGroupSubjectCONTXT.gen.m
  braph2genesis/workflows/connectivity/_ExporterGroupSubjectCONXLS.gen.m
  braph2genesis/workflows/connectivity/_ImporterGroupSubjectCONTXT.gen.m
  braph2genesis/workflows/connectivity/_ImporterGroupSubjectCONXLS.gen.m
  braph2genesis/workflows/connectivity/_SubjectCON.gen.m
  braph2genesis/workflows/connectivity/example data CON (DTI)/txt/covariates_age_sex/GroupName1_age_sex.txt
  braph2genesis/workflows/connectivity/example data CON (DTI)/txt/covariates_age_sex/GroupName2_age_sex.txt
  braph2genesis/workflows/connectivity/example data CON (DTI)/xls/covariates_age_sex/GroupName1_age_sex.xlsx
  braph2genesis/workflows/connectivity/example data CON (DTI)/xls/covariates_age_sex/GroupName2_age_sex.xlsx
  braph2genesis/workflows/connectivity/example_CON_WU.m
  braph2genesis/workflows/functional/_ExporterGroupSubjectFUNTXT.gen.m
  braph2genesis/workflows/functional/_ExporterGroupSubjectFUNXLS.gen.m
  braph2genesis/workflows/functional/_ImporterGroupSubjectFUNTXT.gen.m
  braph2genesis/workflows/functional/_ImporterGroupSubjectFUNXLS.gen.m
  braph2genesis/workflows/functional/_SubjectFUN.gen.m
  braph2genesis/workflows/functional/example data FUN (fMRI)/txt/covariates_age_sex/GroupName1_age_sex.txt
  braph2genesis/workflows/functional/example data FUN (fMRI)/txt/covariates_age_sex/GroupName2_age_sex.txt
  braph2genesis/workflows/functional/example data FUN (fMRI)/xls/covariates_age_sex/GroupName1_age_sex.xlsx
  braph2genesis/workflows/functional/example data FUN (fMRI)/xls/covariates_age_sex/GroupName2_age_sex.xlsx
  braph2genesis/workflows/functional/example_FUN_WU.m
  braph2genesis/workflows/structural multiplex/_AnalyzeGroup_ST_MP_BUD.gen.m
  braph2genesis/workflows/structural multiplex/_AnalyzeGroup_ST_MP_BUT.gen.m
  braph2genesis/workflows/structural multiplex/_AnalyzeGroup_ST_MP_WU.gen.m
  braph2genesis/workflows/structural multiplex/_ExporterGroupSubjectSTMPTXT.gen.m
  braph2genesis/workflows/structural multiplex/_ExporterGroupSubjectSTMPXLS.gen.m
  braph2genesis/workflows/structural multiplex/_ImporterGroupSubjectSTMPTXT.gen.m
  braph2genesis/workflows/structural multiplex/_ImporterGroupSubjectSTMPXLS.gen.m
  braph2genesis/workflows/structural multiplex/_SubjectST_MP.gen.m
  braph2genesis/workflows/structural multiplex/example data ST_MP (MRI)/txt/covariates_age_sex/ST_MP_group1_age_sex.txt
  braph2genesis/workflows/structural multiplex/example data ST_MP (MRI)/txt/covariates_age_sex/ST_MP_group2_age_sex.txt
  braph2genesis/workflows/structural multiplex/example data ST_MP (MRI)/xls/covariates_age_sex/ST_MP_group1_age_sex.xlsx
  braph2genesis/workflows/structural multiplex/example data ST_MP (MRI)/xls/covariates_age_sex/ST_MP_group2_age_sex.xlsx
  braph2genesis/workflows/structural multiplex/example_ST_MP_WU.m
  braph2genesis/workflows/structural/_AnalyzeGroup_ST_BUD.gen.m
  braph2genesis/workflows/structural/_AnalyzeGroup_ST_BUT.gen.m
  braph2genesis/workflows/structural/_AnalyzeGroup_ST_WU.gen.m
  braph2genesis/workflows/structural/_ExporterGroupSubjectSTTXT.gen.m
  braph2genesis/workflows/structural/_ExporterGroupSubjectSTXLS.gen.m
  braph2genesis/workflows/structural/_ImporterGroupSubjectSTTXT.gen.m
  braph2genesis/workflows/structural/_ImporterGroupSubjectSTXLS.gen.m
  braph2genesis/workflows/structural/_SubjectST.gen.m
  braph2genesis/workflows/structural/example data ST (MRI)/txt/covariates_age_sex/ST_group1_age_sex.txt
  braph2genesis/workflows/structural/example data ST (MRI)/txt/covariates_age_sex/ST_group2_age_sex.txt
  braph2genesis/workflows/structural/example data ST (MRI)/xls/covariates_age_sex/ST_group1_age_sex.xlsx
  braph2genesis/workflows/structural/example data ST (MRI)/xls/covariates_age_sex/ST_group2_age_sex.xlsx
  braph2genesis/workflows/structural/example_ST_WU.m
Labels: BRAPH2Genesis, workflows

#898 Gv deepcopy
  braph2genesis/genesis/create_Element.m
  braph2genesis/src/ds/Element.m
  braph2genesis/src/ds/test_Element.m
Labels: BRAPH2Genesis, enhancement

#897 Gv license
  braph2genesis/braph2license.rtf
  braph2genesis/genesis/genesis.m
  braph2genesis/src/gui/GUI.m
  braph2genesis/src/util/BRAPH2.m
Labels: BRAPH2Genesis, GUI

#909 bug example in element
  braph2genesis/src/ds/test_Element.m
Labels: BRAPH2Genesis, bug

#910 Eg Element decode json bug - fix
  braph2genesis/src/ds/Element.m
Labels: BRAPH2Genesis, bug

#912 EG - Element change
  braph2genesis/genesis/create_Element.m
  braph2genesis/src/ds/Element.m
Labels: BRAPH2Genesis, GUI, enhancement
