Repository braph-software/BRAPH-2, pull requests merged in 2021-02, with the labels that each got.

#776 Ac update documentation
  braph2genesis/genesis/create_Element.m
Labels: BRAPH2Genesis, documentation

#788 checkValue message for PlotBrainAtlas
  braph2genesis/src/atlas/_PlotBrainAtlas.gen.m
Labels: bug

#794 Graphs and Measures bug fix
  braph2genesis/graphs/_GraphBD.gen.m
  braph2genesis/graphs/_GraphBU.gen.m
  braph2genesis/graphs/_GraphWD.gen.m
  braph2genesis/graphs/_GraphWU.gen.m
  braph2genesis/measures/_Distance.gen.m
  braph2genesis/src/gt/_Graph.gen.m
Labels: BRAPH2Genesis, bug, graph, measure

#795 Communal branch
  braph2genesis/graphs/_GraphBD.gen.m
  braph2genesis/graphs/_GraphBU.gen.m
  braph2genesis/graphs/_GraphWD.gen.m
  braph2genesis/graphs/_GraphWU.gen.m
  braph2genesis/measures/_Degree.gen.m
  braph2genesis/measures/_DegreeAv.gen.m
  braph2genesis/measures/_Distance.gen.m
  braph2genesis/src/gt/_Graph.gen.m
Labels: BRAPH2Genesis, graph, measure

#793 Strength and StrengthAV
  braph2genesis/measures/_Strength.gen.m
  braph2genesis/measures/_StrengthAv.gen.m
Labels: BRAPH2Genesis, measure

#796 InDegree and InDegreeAV
  braph2genesis/measures/_InDegree.gen.m
  braph2genesis/measures/_InDegreeAv.gen.m
Labels: BRAPH2Genesis, measure, test

#800 Ac multiplex graphs
  braph2genesis/graphs/_MultiplexGraphBD.gen.m
  braph2genesis/graphs/_MultiplexGraphBU.gen.m
  braph2genesis/graphs/_MultiplexGraphWD.gen.m
  braph2genesis/graphs/_MultiplexGraphWU.gen.m
  braph2genesis/measures/_InDegree.gen.m
  braph2genesis/measures/_InDegreeAv.gen.m
  braph2genesis/measures/_Strength.gen.m
  braph2genesis/measures/_StrengthAv.gen.m
Labels: BRAPH2Genesis, graph

#803 790 ac overlapping strength
  braph2genesis/measures/_OverlappingStrength.gen.m
  braph2genesis/measures/_OverlappingStrengthAv.gen.m
Labels: BRAPH2Genesis, measure

#804 791 ac multigraphs bud but
  braph2genesis/graphs/_MultigraphBUD.gen.m
  braph2genesis/graphs/_MultigraphBUT.gen.m
Labels: BRAPH2Genesis, graph

#797 OutDegree and OutDegreeAv
  braph2genesis/measures/_OutDegree.gen.m
  braph2genesis/measures/_OutDegreeAv.gen.m
Labels: measure, test

#801 Triangles and Transitivity
  braph2genesis/measures/_Transitivity.gen.m
  braph2genesis/measures/_Triangles.gen.m
Labels: BRAPH2Genesis, measure

#798 Eccentricity, EccentricityAv, Radius and Diameter
  braph2genesis/measures/_Diameter.gen.m
  braph2genesis/measures/_Eccentricity.gen.m
  braph2genesis/measures/_EccentricityAv.gen.m
  braph2genesis/measures/_Radius.gen.m
Labels: BRAPH2Genesis, measure, test

#802 Assortativity, Betweeness centrality, Clustering and ClusterinAV
  braph2genesis/measures/_Assortativity.gen.m
  braph2genesis/measures/_BetweennessCentrality.gen.m
  braph2genesis/measures/_Clustering.gen.m
  braph2genesis/measures/_ClusteringAv.gen.m
  braph2genesis/measures/_Degree.gen.m
  braph2genesis/measures/_Distance.gen.m
  braph2genesis/measures/_InDegree.gen.m
  braph2genesis/measures/_OutDegree.gen.m
  braph2genesis/measures/_Strength.gen.m
  braph2genesis/measures/_Transitivity.gen.m
  braph2genesis/measures/_Triangles.gen.m
Labels: BRAPH2Genesis, measure

#809 Graphs measures ensemble
  braph2genesis/graphs/_GraphBDEnsemble.gen.m
  braph2genesis/graphs/_GraphBUEnsemble.gen.m
  braph2genesis/graphs/_GraphWDEnsemble.gen.m
  braph2genesis/graphs/_GraphWUEnsemble.gen.m
  braph2genesis/graphs/_MultigraphBUDEnsemble.gen.m
  braph2genesis/graphs/_MultigraphBUTEnsemble.gen.m
  braph2genesis/graphs/_MultiplexGraphBDEnsemble.gen.m
  braph2genesis/graphs/_MultiplexGraphBUEnsemble.gen.m
  braph2genesis/graphs/_MultiplexGraphWDEnsemble.gen.m
  braph2genesis/graphs/_MultiplexGraphWUEnsemble.gen.m
  braph2genesis/measures/_Degree.gen.m
  braph2genesis/measures/_DegreeAv.gen.m
  braph2genesis/measures/_DegreeAvEnsemble.gen.m
  braph2genesis/measures/_DegreeEnsemble.gen.m
  braph2genesis/measures/_Distance.gen.m
  braph2genesis/measures/_DistanceEnsemble.gen.m
  braph2genesis/measures/_StrengthAvEnsemble.gen.m
  braph2genesis/measures/_StrengthEnsemble.gen.m
Labels: BRAPH2Genesis

#814 Add edge overlap, (av-)degree overlap
  braph2genesis/measures/_DegreeOverlap.gen.m
  braph2genesis/measures/_DegreeOverlapAv.gen.m
  braph2genesis/measures/_EdgeOverlap.gen.m
  braph2genesis/measures/_WeightedEdgeOverlap.gen.m
Labels: BRAPH2Genesis, measure

#810 global efficency
  braph2genesis/measures/_GlobalEfficiency.gen.m
  braph2genesis/measures/_GlobalEfficiencyAv.gen.m
  braph2genesis/measures/_InGlobalEfficiency.gen.m
  braph2genesis/measures/_InGlobalEfficiencyAv.gen.m
  braph2genesis/measures/_OutGlobalEfficiency.gen.m
  braph2genesis/measures/_OutGlobalEfficiencyAv.gen.m
Labels: BRAPH2Genesis, measure

#813 Richclub, Participation and Richness
  braph2genesis/measures/_CommunityStructure.gen.m
  braph2genesis/measures/_OverlappingInStrengthAv.gen.m
  braph2genesis/measures/_OverlappingOutStrengthAv.gen.m
  braph2genesis/measures/_Participation.gen.m
  braph2genesis/measures/_RichClub.gen.m
  braph2genesis/measures/_RichClubDegree.gen.m
  braph2genesis/measures/_RichClubStrength.gen.m
  braph2genesis/measures/_Richness.gen.m
Labels: BRAPH2Genesis, measure

#816 Ac multiplex bud/but
  braph2genesis/graphs/_MultiplexBUD.gen.m
  braph2genesis/graphs/_MultiplexBUT.gen.m
Labels: BRAPH2Genesis, graph

#815 790 ac multiplex participation
  braph2genesis/measures/_MultiplexInParticipation.gen.m
  braph2genesis/measures/_MultiplexOutParticipation.gen.m
  braph2genesis/measures/_MultiplexParticipation.gen.m
  braph2genesis/measures/_MultiplexParticipationAv.gen.m
  braph2genesis/measures/_OverlappingDegree.gen.m
  braph2genesis/measures/_OverlappingInDegree.gen.m
  braph2genesis/measures/_OverlappingOutDegree.gen.m
  braph2genesis/measures/_OverlappingStrength.gen.m
  braph2genesis/measures/_WeightedMultiplexParticipation.gen.m
Labels: BRAPH2Genesis, measure

#807 Community Structure
  braph2genesis/measures/_CommunityStructure.gen.m
Labels: BRAPH2Genesis, measure

#811 Path length
  braph2genesis/measures/_InPathLength.gen.m
  braph2genesis/measures/_InPathLengthAv.gen.m
  braph2genesis/measures/_OutPathLength.gen.m
  braph2genesis/measures/_OutPathLengthAv.gen.m
  braph2genesis/measures/_PathLength.gen.m
  braph2genesis/measures/_PathLengthAv.gen.m
Labels: BRAPH2Genesis, measure
