Repository braph-software/BRAPH-2, pull requests merged in 2021-09, with the labels that each got.

#1021 GUI element prop arrangement
  braph2genesis/genesis/genesis.m
  braph2genesis/src/gui/GUI.m
  braph2genesis/src/gui/_PlotElement.gen.m
Labels: GUI, BRAPH2Genesis

#1024 solve the bug in redraw
  braph2genesis/src/analysis/_PPComparisonEnsembleDiff.gen.m
  braph2genesis/src/analysis/_PPComparisonGroupDiff.gen.m
  braph2genesis/src/analysis/_PPMeasureEnsembleM.gen.m
  braph2genesis/src/gt/_PPMeasureM.gen.m
Labels: bug, analysis, GUI, BRAPH2Genesis

#1029 Eg mp review
  braph2genesis/src/analysis/_PPComparisonEnsembleDiff.gen.m
  braph2genesis/src/analysis/_PPComparisonGroupDiff.gen.m
  braph2genesis/src/analysis/_PPMeasureEnsembleM.gen.m
  braph2genesis/src/atlas/_BrainAtlas.gen.m
  braph2genesis/src/atlas/_PlotBrainAtlas.gen.m
  braph2genesis/src/gt/_PPMeasureM.gen.m
  braph2genesis/src/gui/_PlotBrainView.gen.m
Labels: GUI, BRAPH2Genesis

#1030 Ensemble brain view
  braph2genesis/braph2/braph2.m
  braph2genesis/genesis/genesis.m
  braph2genesis/src/analysis/_PPCompareEnsembleCP.gen.m
  braph2genesis/src/atlas/_PLotBrainGraphEnsemble.gen.m
  braph2genesis/src/atlas/_PlotBrainAtlas.gen.m
  braph2genesis/src/gui/BRAPH2GUI.m
  braph2genesis/src/gui/_PlotBrainView.gen.m
  braph2genesis/workflows/connectivity/_AnalyzeEnsemble_CON_BUD.gen.m
  braph2genesis/workflows/connectivity/_AnalyzeEnsemble_CON_BUT.gen.m
  braph2genesis/workflows/connectivity/_AnalyzeEnsemble_CON_WU.gen.m
  braph2genesis/workflows/functional/_AnalyzeEnsemble_FUN_BUD.gen.m
  braph2genesis/workflows/functional/_AnalyzeEnsemble_FUN_BUT.gen.m
  braph2genesis/workflows/functional/_AnalyzeEnsemble_FUN_WU.gen.m
Labels: analysis, GUI, BRAPH2Genesis

#1031 16-09 Check
  braph2genesis/braph2/braph2.m
  braph2genesis/src/analysis/_PPAnalyzeEnsembleGraph.gen.m
  braph2genesis/src/analysis/_PPAnalyzeEnsembleMeasure.gen.m
  braph2genesis/src/analysis/_PPComparisonEnsembleDiff.gen.m
  braph2genesis/src/atlas/_PLotBrainGraphEnsemble.gen.m
  braph2genesis/src/atlas/_PlotBrainGraph.gen.m
  braph2genesis/src/atlas/_PlotBrainGraphComparison.gen.m
  braph2genesis/src/gui/GUI.m
  braph2genesis/src/gui/WORKFLOWGUI.m
Labels: GUI, BRAPH2Genesis

#1032 Eg 16 09 second meeting
  braph2genesis/src/analysis/_PPCompareGroupCP.gen.m
  braph2genesis/src/analysis/_PPComparisonEnsembleDiff.gen.m
  braph2genesis/src/analysis/_PPComparisonGroupDiff.gen.m
  braph2genesis/src/analysis/_PPMeasureEnsembleM.gen.m
  braph2genesis/src/gt/_PPMeasureM.gen.m
  braph2genesis/src/gui/_PlotGraph.gen.m
  braph2genesis/src/gui/_PlotGraphLine.gen.m
Labels: GUI, BRAPH2Genesis

#1033 Eg plot graph secondbranch
  braph2genesis/src/analysis/_PPComparisonEnsembleDiff.gen.m
  braph2genesis/src/analysis/_PPComparisonGroupDiff.gen.m
  braph2genesis/src/atlas/_ImporterBrainAtlasTXT.gen.m
  braph2genesis/src/atlas/_ImporterBrainAtlasXLS.gen.m
Labels: bug, BRAPH2Genesis

#1034 test fix
  braph2genesis/workflows/connectivity/_AnalyzeEnsemble_CON_WU.gen.m
  braph2genesis/workflows/structural/_ImporterGroupSubjectSTTXT.gen.m
  braph2genesis/workflows/structural/_ImporterGroupSubjectSTXLS.gen.m
Labels: bug, test, BRAPH2Genesis

#1037 Eg visual bug24092021
  braph2genesis/src/atlas/_PlotBrainGraphEnsemble.gen.m
  braph2genesis/src/gui/GUI.m
  braph2genesis/src/gui/WORKFLOWGUI.m
Labels: bug, GUI, BRAPH2Genesis

#1039 isequal shallow comparation
  braph2genesis/src/gui/WORKFLOWGUI.m
Labels: bug, BRAPH2Genesis

#1044 1043 ac sphere radius box
  braph2genesis/src/atlas/_PlotBrainGraph.gen.m
  braph2genesis/src/atlas/_PlotBrainGraphComparison.gen.m
Labels: GUI
