Repository braph-software/BRAPH-2, pull requests merged in 2021-03, with the labels that each got.

#817 790 eg score modularity small world
  braph2genesis/measures/_Clustering.gen.m
  braph2genesis/measures/_ClusteringAv.gen.m
  braph2genesis/measures/_Modularity.gen.m
  braph2genesis/measures/_Score.gen.m
  braph2genesis/measures/_SmallWorldness.gen.m
  braph2genesis/measures/_WeightedRichClub.gen.m
Labels: BRAPH2Genesis, measure

#819 Kcore, EdgeBetweennessCentrality, EdgeNumberDistance, Categoricalpersistance, EigenVectorCentrality, KCorenesscentrality
  braph2genesis/measures/_CategoricalPersistence.gen.m
  braph2genesis/measures/_Clustering.gen.m
  braph2genesis/measures/_Distance.gen.m
  braph2genesis/measures/_EdgeBetweennessCentrality.gen.m
  braph2genesis/measures/_EdgeNumberDistance.gen.m
  braph2genesis/measures/_EigenVectorCentrality.gen.m
  braph2genesis/measures/_InPathLength.gen.m
  braph2genesis/measures/_InPathLengthAv.gen.m
  braph2genesis/measures/_KCore.gen.m
  braph2genesis/measures/_KCorenessCentrality.gen.m
  braph2genesis/measures/_OutPathLength.gen.m
  braph2genesis/measures/_OutPathLengthAv.gen.m
  braph2genesis/measures/_PathLength.gen.m
  braph2genesis/measures/_PathLengthAv.gen.m
  braph2genesis/measures/_Score.gen.m
  braph2genesis/measures/_SmallWorldness.gen.m
  braph2genesis/measures/_WeightedRichClub.gen.m
Labels: BRAPH2Genesis, measure

#821 790 ac multiplex clustering triangles
  braph2genesis/measures/_MultiplexClustering.gen.m
  braph2genesis/measures/_MultiplexClusteringAv.gen.m
  braph2genesis/measures/_MultiplexTriangles.gen.m
  braph2genesis/measures/_Triangles.gen.m
Labels: BRAPH2Genesis, measure

#820 MultilayerCommunityStructure
  braph2genesis/genesis/genesis.m
  braph2genesis/measures/MEX_SRC/group_handler.cpp
  braph2genesis/measures/MEX_SRC/group_handler.h
  braph2genesis/measures/MEX_SRC/group_index.cpp
  braph2genesis/measures/MEX_SRC/group_index.h
  braph2genesis/measures/MEX_SRC/matlab_matrix/full.cpp
  braph2genesis/measures/MEX_SRC/matlab_matrix/matlab_matrix.h
  braph2genesis/measures/MEX_SRC/matlab_matrix/sparse.cpp
  braph2genesis/measures/MEX_SRC/metanetwork_reduce.cpp
  braph2genesis/measures/MEX_SRC/mex.xcconfig
  braph2genesis/measures/_Distance.gen.m
  braph2genesis/measures/_MultilayerCommunityStructure.gen.m
  braph2genesis/measures/private/group_handler.mexa64
  braph2genesis/measures/private/group_handler.mexmaci64
  braph2genesis/measures/private/group_handler.mexw64
  braph2genesis/measures/private/metanetwork_reduce.mexa64
  braph2genesis/measures/private/metanetwork_reduce.mexmaci64
  braph2genesis/measures/private/metanetwork_reduce.mexw64
Labels: BRAPH2Genesis, measure

#824 790 ac overlapping degree average
  braph2genesis/measures/_OverlappingDegree.gen.m
  braph2genesis/measures/_OverlappingDegreeAv.gen.m
  braph2genesis/measures/_OverlappingInDegreeAv.gen.m
  braph2genesis/measures/_OverlappingOutDegreeAv.gen.m
Labels: BRAPH2Genesis, measure

#828 827 multiplex budt ensembles
  braph2genesis/graphs/_MultiplexBUDEnsemble.gen.m
  braph2genesis/graphs/_MultiplexBUEnsemble.gen.m
  braph2genesis/graphs/_MultiplexBUTEnsemble.gen.m
  braph2genesis/measures/_CategoricalPersistence.gen.m
  braph2genesis/measures/_EdgeBetweennessCentrality.gen.m
Labels: BRAPH2Genesis, bug, measure

#823 790 ac multiplex core periphery
  braph2genesis/measures/_MultiplexCorePeriphery.gen.m
  braph2genesis/measures/_Multirichness.gen.m
Labels: measure

#825 790 ac multirichclub degree strength
  braph2genesis/measures/_MultiRichClubDegree.gen.m
  braph2genesis/measures/_MultiRichClubStrength.gen.m
  braph2genesis/measures/_RichClubDegree.gen.m
  braph2genesis/measures/_RichClubStrength.gen.m
Labels: BRAPH2Genesis, measure

#831 790 yc outoutassortativity and inoutassortativity
  braph2genesis/measures/_InOutAssortativity.gen.m
  braph2genesis/measures/_OutOutAssortativity.gen.m
Labels: BRAPH2Genesis, measure

#830 790 yc outinassortativity and ininassortativity
  braph2genesis/measures/_InInAssortativity.gen.m
  braph2genesis/measures/_OutInAssortativity.gen.m
Labels: BRAPH2Genesis, measure

#808 InEccentricity, OutEccentricity, InEccentricityAv ,and OutEccentricityAv
  braph2genesis/measures/_Eccentricity.gen.m
  braph2genesis/measures/_InDegree.gen.m
  braph2genesis/measures/_InEccentricity.gen.m
  braph2genesis/measures/_InEccentricityAv.gen.m
  braph2genesis/measures/_OutEccentricity.gen.m
  braph2genesis/measures/_OutEccentricityAv.gen.m
Labels: BRAPH2Genesis, measure

#829 GUI
  braph2genesis/braph2/braph2.m
  braph2genesis/genesis/create_Element.m
  braph2genesis/genesis/genesis.m
  braph2genesis/src/ds/Element.m
  braph2genesis/src/gui/GUI.m
  braph2genesis/src/gui/_Plot.gen.m
  braph2genesis/src/gui/_PlotElement.gen.m
  braph2genesis/src/gui/_PlotProp.gen.m
  braph2genesis/src/gui/_PlotPropCell.gen.m
  braph2genesis/src/gui/_PlotPropClass.gen.m
  braph2genesis/src/gui/_PlotPropClassList.gen.m
  braph2genesis/src/gui/_PlotPropIDict.gen.m
  braph2genesis/src/gui/_PlotPropItem.gen.m
  braph2genesis/src/gui/_PlotPropItemList.gen.m
  braph2genesis/src/gui/_PlotPropLogical.gen.m
  braph2genesis/src/gui/_PlotPropMatrix.gen.m
  braph2genesis/src/gui/_PlotPropOption.gen.m
  braph2genesis/src/gui/_PlotPropScalar.gen.m
  braph2genesis/src/gui/_PlotPropString.gen.m
  braph2genesis/test/test_braph2.m
Labels: BRAPH2Genesis, GUI

#836 GUI Personalization
  braph2genesis/genesis/create_Element.m
  braph2genesis/src/ds/Element.m
  braph2genesis/src/ds/_ETA.gen.m
  braph2genesis/src/gui/GUI.m
  braph2genesis/src/gui/_PlotElement.gen.m
  braph2genesis/src/gui/_PlotProp.gen.m
  braph2genesis/src/gui/_PlotPropCell.gen.m
  braph2genesis/src/gui/_PlotPropClass.gen.m
  braph2genesis/src/gui/_PlotPropClassList.gen.m
  braph2genesis/src/gui/_PlotPropIDict.gen.m
  braph2genesis/src/gui/_PlotPropItem.gen.m
  braph2genesis/src/gui/_PlotPropItemList.gen.m
  braph2genesis/src/gui/_PlotPropLogical.gen.m
  braph2genesis/src/gui/_PlotPropMatrix.gen.m
  braph2genesis/src/gui/_PlotPropOption.gen.m
  braph2genesis/src/gui/_PlotPropScalar.gen.m
  braph2genesis/src/gui/_PlotPropString.gen.m
Labels: BRAPH2Genesis, GUI

#785 PlotBrainAtlas draw
  braph2genesis/genesis/genesis.m
  braph2genesis/src/atlas/_PlotBrainAtlas.gen.m
  braph2genesis/src/atlas/_PlotBrainSurface.gen.m
  braph2genesis/src/util/icon_axis.png
  braph2genesis/src/util/icon_br.png
  braph2genesis/src/util/icon_brain.png
  braph2genesis/src/util/icon_grid.png
  braph2genesis/src/util/icon_id.png
  braph2genesis/src/util/icon_label.png
  braph2genesis/src/util/icon_settings.png
  braph2genesis/src/util/icon_sphere.png
  braph2genesis/src/util/icon_symbol.png
  braph2genesis/src/util/icon_view_3d.png
  braph2genesis/src/util/icon_view_ad.png
  braph2genesis/src/util/icon_view_av.png
  braph2genesis/src/util/icon_view_ca.png
  braph2genesis/src/util/icon_view_cp.png
  braph2genesis/src/util/icon_view_sl.png
  braph2genesis/src/util/icon_view_sr.png
Labels: BRAPH2Genesis, atlas

#837 Graph nodeattack, edgeattack, subgraphs
  braph2genesis/measures/_LocalEfficiency.gen.m
  braph2genesis/measures/_LocalEfficiencyAv.gen.m
  braph2genesis/src/gt/_Graph.gen.m
Labels: BRAPH2Genesis, graph

#845 BrainAtlas GUI polish
  braph2genesis/src/atlas/_BrainAtlas.gen.m
  braph2genesis/src/gui/_PPBrainAtlasIDict.gen.m
  braph2genesis/src/gui/_PPBrainSurf.gen.m
  braph2genesis/src/gui/_PlotPropBAIDict.gen.m
  braph2genesis/src/gui/_PlotPropBS.gen.m
Labels: BRAPH2Genesis, GUI, atlas

#847 GUIBrainAtlas changes
  braph2genesis/src/atlas/_BrainAtlas.gen.m
  braph2genesis/src/atlas/_PPBrainAtlasIDict.gen.m
  braph2genesis/src/atlas/_PPBrainAtlasSurf.gen.m
Labels: BRAPH2Genesis, GUI, atlas, bug
