Repository braph-software/BRAPH-2, pull requests merged in 2021-11, with the labels that each got.

#1091 Update BRAPH2GUI.m
  braph2genesis/src/gui/BRAPH2GUI.m
Labels: GUI, BRAPH2Genesis

#1092 Update WORKFLOWGUI.m
  braph2genesis/src/gui/WORKFLOWGUI.m
Labels: GUI, BRAPH2Genesis

#1093 Eg 1069 personalization window
  braph2genesis/src/gui/GUI.m
  braph2genesis/src/gui/_PlotElement.gen.m
  braph2genesis/src/gui/_PlotProp.gen.m
Labels: GUI, BRAPH2Genesis

#1094 Change in Font Size
  braph2genesis/src/gui/WORKFLOWGUI.m
  braph2genesis/src/gui/_PlotPropCell.gen.m
  braph2genesis/src/gui/_PlotPropClass.gen.m
  braph2genesis/src/gui/_PlotPropClassList.gen.m
  braph2genesis/src/gui/_PlotPropIDict.gen.m
  braph2genesis/src/gui/_PlotPropItem.gen.m
  braph2genesis/src/gui/_PlotPropItemList.gen.m
  braph2genesis/src/gui/_PlotPropLogical.gen.m
  braph2genesis/src/gui/_PlotPropMatrix.gen.m
  braph2genesis/src/gui/_PlotPropOption.gen.m
  braph2genesis/src/gui/_PlotPropScalar.gen.m
  braph2genesis/src/gui/_PlotPropString.gen.m
  braph2genesis/src/util/BRAPH2.m
Labels: GUI, BRAPH2Genesis

#1095 Eg 1089 joana ii
  braph2genesis/src/atlas/_PlotBrainGraph.gen.m
  braph2genesis/src/atlas/_PlotBrainGraphComparison.gen.m
  braph2genesis/src/atlas/_PlotBrainGraphEnsemble.gen.m
  braph2genesis/src/gt/_PPGraphA.gen.m
  braph2genesis/src/gui/BRAPH2GUI.m
  braph2genesis/src/gui/GUI.m
  braph2genesis/src/gui/WORKFLOWGUI.m
  braph2genesis/src/util/arrow3d.m
  braph2genesis/src/util/cylinder3d.m
Labels: bug, BRAPH2Genesis

#1096 Update WORKFLOWGUI.m
  braph2genesis/src/gui/WORKFLOWGUI.m
Labels: GUI, BRAPH2Genesis

#1098 1097 ac MAC- saving in different extensions
  braph2genesis/src/ds/Element.m
  braph2genesis/src/gui/WORKFLOWGUI.m
  braph2genesis/src/util/BRAPH2.m
Labels: bug

#1100 Order fixed
  braph2genesis/src/atlas/_PlotBrainGraph.gen.m
  braph2genesis/src/atlas/_PlotBrainGraphComparison.gen.m
  braph2genesis/src/atlas/_PlotBrainGraphEnsemble.gen.m
  braph2genesis/src/atlas/_PlotBrainSurface.gen.m
Labels: bug, GUI, BRAPH2Genesis

#1090 1065 ac message valid input- atlas
  braph2genesis/src/atlas/_ImporterBrainAtlasXLS.gen.m
  braph2genesis/src/gui/WORKFLOWGUI.m
  braph2genesis/workflows/structural/_ImporterGroupSubjectSTXLS.gen.m
Labels: enhancement

#1099 Update GUI.m
  braph2genesis/src/gui/GUI.m
Labels: bug, GUI, BRAPH2Genesis

#1105 ensemble measures can be now edited in the gui
  braph2genesis/src/analysis/_PPAnalyzeEnsembleMeasure.gen.m
  braph2genesis/src/analysis/_PPCompareEnsembleCP.gen.m
Labels: measure, analysis, GUI, comparison, BRAPH2Genesis

#1106 Can open pipelines from load
  braph2genesis/src/gui/BRAPH2GUI.m
  braph2genesis/src/util/loadicon_2.png
Labels: enhancement, GUI, BRAPH2Genesis

#1101 NN pipelines
  braph2genesis/genesis/genesis.m
  braph2genesis/pipelines/connectivity-functional multiplex/example data CON-FUN_MP/txt/connectivity/GroupName1/covariates/GroupName1_covariates.txt
  braph2genesis/pipelines/connectivity-functional multiplex/example data CON-FUN_MP/txt/connectivity/GroupName2/covariates/GroupName2_covariates.txt
  braph2genesis/pipelines/connectivity-functional multiplex/example data CON-FUN_MP/txt/functional/GroupName1/covariates/GroupName1_covariates.txt
  braph2genesis/pipelines/connectivity-functional multiplex/example data CON-FUN_MP/txt/functional/GroupName2/covariates/GroupName2_covariates.txt
  braph2genesis/pipelines/connectivity/example data CON (DTI)/txt/GroupName1/covariates/GroupName1_covariates.txt
  braph2genesis/pipelines/connectivity/example data CON (DTI)/txt/GroupName2/covariates/GroupName2_covariates.txt
  braph2genesis/pipelines/functional/_GNNFeatureSelector.gen.m
  braph2genesis/pipelines/functional/example_gnn_graph_classification_FUN_WU.m
  braph2genesis/pipelines/functional/pipeline_functional_GNN.braph2
  braph2genesis/pipelines/structural multiplex/example data ST_MP (MRI)/desikan_atlas.xlsx
  braph2genesis/pipelines/structural multiplex/example data ST_MP (MRI)/txt/GroupName1/ST_MP1.txt
  braph2genesis/pipelines/structural multiplex/example data ST_MP (MRI)/txt/GroupName1/ST_MP2.txt
  braph2genesis/pipelines/structural multiplex/example data ST_MP (MRI)/txt/GroupName1/covariates/ST_MP_group1_covariates.txt
  braph2genesis/pipelines/structural multiplex/example data ST_MP (MRI)/txt/GroupName2/ST_MP1.txt
  braph2genesis/pipelines/structural multiplex/example data ST_MP (MRI)/txt/GroupName2/ST_MP2.txt
  braph2genesis/pipelines/structural multiplex/example data ST_MP (MRI)/txt/GroupName2/covariates/ST_MP_group2_covariates.txt
  braph2genesis/pipelines/structural/_RegressorNN_ST.gen.m
  braph2genesis/pipelines/structural/example data ST (MRI)/txt/ST_group1_covariates.txt
  braph2genesis/pipelines/structural/example data ST (MRI)/txt/ST_group2_covariates.txt
  braph2genesis/pipelines/structural/example_nn_regression_ST.m
  braph2genesis/pipelines/structural/pipeline_structural_classification.braph2
  braph2genesis/pipelines/structural/pipeline_structural_regression.braph2
  braph2genesis/src/gui/_PlotPropMatrix.gen.m
  braph2genesis/src/gui/prop_order/ClassifierNN_ST.mat
  braph2genesis/src/gui/prop_order/GraphClassifierGNN_FUN.mat
  braph2genesis/src/gui/prop_order/RegressorNN_ST.mat
  braph2genesis/src/nn/_BaseNN.gen.m
  braph2genesis/src/nn/_PlotPropNNAnalysis.gen.m
Labels: GUI, BRAPH2Genesis

#1107 1051-ac-add_groupFUN_groupCON_GUIpipelines
  braph2genesis/pipelines/connectivity/pipeline_connectivity_group_analysis_wu.braph2
  braph2genesis/pipelines/connectivity/pipeline_connectivity_group_comparison_wu.braph2
  braph2genesis/pipelines/functional/pipeline_functional_group_analysis_wu.braph2
  braph2genesis/pipelines/functional/pipeline_functional_group_comparison_wu.braph2
Labels: analysis, GUI, comparison
