Repository braph-software/BRAPH-2, pull requests merged in 2021-10, with the labels that each got.

#1046 change to Graph A layer selection
  braph2genesis/src/gt/_PPGraphA.gen.m
Labels: GUI, BRAPH2Genesis

#1047 small change
  braph2genesis/workflows/functional multiplex/workflow_functional_multiplex_analysis_bud.braph2
  braph2genesis/workflows/functional multiplex/workflow_functional_multiplex_analysis_but.braph2
  braph2genesis/workflows/functional multiplex/workflow_functional_multiplex_analysis_wu.braph2
  braph2genesis/workflows/functional multiplex/workflow_functional_multiplex_comparison_bud.braph2
  braph2genesis/workflows/functional multiplex/workflow_functional_multiplex_comparison_but.braph2
  braph2genesis/workflows/functional multiplex/workflow_functional_multiplex_comparison_wu.braph2
  braph2genesis/workflows/structural multiplex/workflow_structural_multiplex_analysis_bud.braph2
  braph2genesis/workflows/structural multiplex/workflow_structural_multiplex_analysis_but.braph2
  braph2genesis/workflows/structural multiplex/workflow_structural_multiplex_analysis_wu.braph2
  braph2genesis/workflows/structural multiplex/workflow_structural_multiplex_comparison_bud.braph2
  braph2genesis/workflows/structural multiplex/workflow_structural_multiplex_comparison_but.braph2
  braph2genesis/workflows/structural multiplex/workflow_structural_multiplex_comparison_wu.braph2
Labels: BRAPH2Genesis

#1048 Eg 1045 brain view new version
  braph2genesis/src/atlas/_PlotBrainGraph.gen.m
  braph2genesis/src/atlas/_PlotBrainGraphComparison.gen.m
  braph2genesis/src/atlas/_PlotBrainGraphEnsemble.gen.m
  braph2genesis/src/gui/WORKFLOWGUI.m
Labels: GUI, BRAPH2Genesis

#1050 yw-gnn-fmri-graph-neural-network
  braph2genesis/braph2/braph2.m
  braph2genesis/genesis/genesis.m
  braph2genesis/neuralnetworks/_ClassifierGNN.gen.m
  braph2genesis/neuralnetworks/_ClassifierNN.gen.m
  braph2genesis/neuralnetworks/_RegressorNN.gen.m
  braph2genesis/src/nn/_BaseNN.gen.m
  braph2genesis/workflows/functional/_GraphClassifierGNN_FUN.gen.m
  braph2genesis/workflows/functional/example_gnn_graph_classification_FUN_BUD.m
  braph2genesis/workflows/structural/_ClassifierNN_ST.gen.m
  braph2genesis/workflows/structural/_RegressorNN_ST.gen.m
  braph2genesis/workflows/structural/example_nn_classification_ST.m
  braph2genesis/workflows/structural/example_nn_regression_ST.m
Labels: enhancement, test, analysis
