Repository braph-software/BRAPH-2, pull requests merged in 2021-05, with the labels that each got.

#914 GUI Close option
  braph2genesis/src/gui/GUI.m
Labels: BRAPH2Genesis, GUI

#915 clean changes
  braph2genesis/genesis/create_Element.m
  braph2genesis/src/atlas/_BrainAtlas.gen.m
  braph2genesis/src/ds/Element.m
Labels: BRAPH2Genesis, GUI

#896 Eg g UI brain atlas final review
  braph2genesis/src/atlas/_BrainAtlas.gen.m
  braph2genesis/src/atlas/_PPBrainAtlasIDict.gen.m
  braph2genesis/src/atlas/_PPBrainAtlasSurf.gen.m
  braph2genesis/src/atlas/_PlotBrainAtlas.gen.m
  braph2genesis/src/atlas/_PlotBrainSurface.gen.m
Labels: BRAPH2Genesis, GUI, atlas, final check

#917 Update colors of GUI
  braph2genesis/src/gui/_Plot.gen.m
  braph2genesis/src/gui/_PlotElement.gen.m
Labels: GUI

#920 Brain Atlas Exporter Bug
  braph2genesis/src/atlas/_ExporterBrainAtlasTXT.gen.m
  braph2genesis/src/atlas/_ExporterBrainAtlasXLS.gen.m
Labels: BRAPH2Genesis, atlas, bug

#923 New Icons
  braph2genesis/src/util/icon_brain.png
  braph2genesis/src/util/icon_grid.png
  braph2genesis/src/util/icon_view_3d.png
  braph2genesis/src/util/icon_view_ad.png
  braph2genesis/src/util/icon_view_av.png
  braph2genesis/src/util/icon_view_ca.png
  braph2genesis/src/util/icon_view_cp.png
  braph2genesis/src/util/icon_view_sl.png
  braph2genesis/src/util/icon_view_sr.png
Labels: BRAPH2Genesis, GUI, atlas, enhancement

#922 Eg waiting screen
  braph2genesis/src/atlas/_ExporterBrainAtlasTXT.gen.m
  braph2genesis/src/atlas/_ExporterBrainAtlasXLS.gen.m
  braph2genesis/src/atlas/_ImporterBrainAtlasTXT.gen.m
  braph2genesis/src/atlas/_ImporterBrainAtlasXLS.gen.m
  braph2genesis/src/gui/GUI.m
  braph2genesis/src/util/braph2icon.png
  braph2genesis/src/util/set_icon.m
  braph2genesis/workflows/connectivity/_ExporterGroupSubjectCONTXT.gen.m
  braph2genesis/workflows/connectivity/_ExporterGroupSubjectCONXLS.gen.m
  braph2genesis/workflows/connectivity/_ImporterGroupSubjectCONTXT.gen.m
  braph2genesis/workflows/connectivity/_ImporterGroupSubjectCONXLS.gen.m
  braph2genesis/workflows/functional multiplex/_ExporterGroupSubjectFUNMPTXT.gen.m
  braph2genesis/workflows/functional multiplex/_ExporterGroupSubjectFUNMPXLS.gen.m
  braph2genesis/workflows/functional multiplex/_ImporterGroupSubjectFUNMPTXT.gen.m
  braph2genesis/workflows/functional multiplex/_ImporterGroupSubjectFUNMPXLS.gen.m
  braph2genesis/workflows/functional/_ExporterGroupSubjectFUNTXT.gen.m
  braph2genesis/workflows/functional/_ExporterGroupSubjectFUNXLS.gen.m
  braph2genesis/workflows/functional/_ImporterGroupSubjectFUNTXT.gen.m
  braph2genesis/workflows/functional/_ImporterGroupSubjectFUNXLS.gen.m
  braph2genesis/workflows/structural multiplex/_ExporterGroupSubjectSTMPTXT.gen.m
  braph2genesis/workflows/structural multiplex/_ExporterGroupSubjectSTMPXLS.gen.m
  braph2genesis/workflows/structural multiplex/_ImporterGroupSubjectSTMPTXT.gen.m
  braph2genesis/workflows/structural multiplex/_ImporterGroupSubjectSTMPXLS.gen.m
  braph2genesis/workflows/structural/_ExporterGroupSubjectSTTXT.gen.m
  braph2genesis/workflows/structural/_ExporterGroupSubjectSTXLS.gen.m
  braph2genesis/workflows/structural/_ImporterGroupSubjectSTTXT.gen.m
  braph2genesis/workflows/structural/_ImporterGroupSubjectSTXLS.gen.m
Labels: BRAPH2Genesis, GUI, enhancement

#850 GUIGroup
  braph2genesis/src/cohort/_Group.gen.m
  braph2genesis/src/cohort/_PPGroupSubjectsIdict.gen.m
  braph2genesis/src/cohort/_PPMultiplexSubjectData.gen.m
  braph2genesis/src/cohort/_PPSubjectData.gen.m
  braph2genesis/src/ds/Element.m
  braph2genesis/src/gui/GUI.m
  braph2genesis/workflows/connectivity-functional multiplex/_SubjectCON_FUN_MP.gen.m
  braph2genesis/workflows/connectivity/_SubjectCON.gen.m
  braph2genesis/workflows/functional multiplex/_SubjectFUN_MP.gen.m
  braph2genesis/workflows/functional/_SubjectFUN.gen.m
  braph2genesis/workflows/structural multiplex/_SubjectST_MP.gen.m
  braph2genesis/workflows/structural/_SubjectST.gen.m
Labels: BRAPH2Genesis, GUI, cohort

#925 GUI import/export submenus
  braph2genesis/genesis/create_Element.m
  braph2genesis/src/atlas/_BrainAtlas.gen.m
  braph2genesis/src/cohort/_Group.gen.m
  braph2genesis/src/ds/Element.m
  braph2genesis/src/gui/GUI.m
  braph2genesis/workflows/connectivity/_SubjectCON.gen.m
  braph2genesis/workflows/functional multiplex/_SubjectFUN_MP.gen.m
  braph2genesis/workflows/functional/_SubjectFUN.gen.m
  braph2genesis/workflows/structural multiplex/_SubjectST_MP.gen.m
  braph2genesis/workflows/structural/_SubjectST.gen.m
Labels: BRAPH2Genesis, GUI, cohort, workflows

#928 GUI changes
  braph2genesis/genesis/create_Element.m
  braph2genesis/src/atlas/_BrainAtlas.gen.m
  braph2genesis/src/cohort/_Group.gen.m
  braph2genesis/src/ds/Element.m
  braph2genesis/src/gui/GUI.m
  braph2genesis/src/gui/_PlotElement.gen.m
  braph2genesis/workflows/connectivity/_SubjectCON.gen.m
  braph2genesis/workflows/functional multiplex/_SubjectFUN_MP.gen.m
  braph2genesis/workflows/functional/_SubjectFUN.gen.m
  braph2genesis/workflows/structural multiplex/_SubjectST_MP.gen.m
  braph2genesis/workflows/structural/_SubjectST.gen.m
Labels: BRAPH2Genesis, GUI, enhancement

#933 930 eg st bud but
  braph2genesis/graphs/_MultigraphBUD.gen.m
  braph2genesis/graphs/_MultigraphBUT.gen.m
  braph2genesis/src/analysis/_PPAnalyzeGroupGraph.gen.m
  braph2genesis/src/atlas/_PPBrainAtlasIDict.gen.m
  braph2genesis/src/atlas/_PPBrainAtlasSurf.gen.m
  braph2genesis/src/atlas/_PlotBrainSurface.gen.m
  braph2genesis/src/cohort/_PPGroupSubjectsIdict.gen.m
  braph2genesis/src/ds/Element.m
  braph2genesis/src/gt/_Graph.gen.m
  braph2genesis/src/gt/_Measure.gen.m
  braph2genesis/src/gt/_PPGraphA.gen.m
  braph2genesis/src/gt/_PPMeasureM.gen.m
  braph2genesis/src/gui/GUI.m
  braph2genesis/src/util/get_handle_objs.m
  braph2genesis/workflows/structural/_AnalyzeGroup_ST_BUD.gen.m
  braph2genesis/workflows/structural/_AnalyzeGroup_ST_BUT.gen.m
  braph2genesis/workflows/structural/_AnalyzeGroup_ST_WU.gen.m
Labels: BRAPH2Genesis, GUI, analysis
