Repository braph-software/BRAPH-2, pull requests merged in 2021-06, with the labels that each got.

#936 Update Element.m
  braph2genesis/src/ds/Element.m
Labels: enhancement, low priority

#937 BUG when no covariates folder/file - Importers functional, connectivity, functional multiplex
  braph2genesis/workflows/connectivity/_ImporterGroupSubjectCONTXT.gen.m
  braph2genesis/workflows/connectivity/_ImporterGroupSubjectCONXLS.gen.m
  braph2genesis/workflows/functional multiplex/_ImporterGroupSubjectFUNMPTXT.gen.m
  braph2genesis/workflows/functional multiplex/_ImporterGroupSubjectFUNMPXLS.gen.m
  braph2genesis/workflows/functional/_ImporterGroupSubjectFUNTXT.gen.m
  braph2genesis/workflows/functional/_ImporterGroupSubjectFUNXLS.gen.m
  braph2genesis/workflows/structural multiplex/_ImporterGroupSubjectSTMPTXT.gen.m
  braph2genesis/workflows/structural multiplex/_ImporterGroupSubjectSTMPXLS.gen.m
Labels: BRAPH2Genesis, bug, workflows

#941 DIFF property in Comparisons
  braph2genesis/src/analysis/_ComparisonEnsemble.gen.m
  braph2genesis/src/analysis/_ComparisonGroup.gen.m
Labels: analysis

#944 Update _CommunityStructure.gen.m
  braph2genesis/measures/_CommunityStructure.gen.m
Labels: BRAPH2Genesis, enhancement, measure

#950 update plot prop el
  braph2genesis/src/gui/_PlotPropCell.gen.m
  braph2genesis/src/gui/_PlotPropClass.gen.m
  braph2genesis/src/gui/_PlotPropClassList.gen.m
  braph2genesis/src/gui/_PlotPropIDict.gen.m
  braph2genesis/src/gui/_PlotPropItem.gen.m
  braph2genesis/src/gui/_PlotPropLogical.gen.m
  braph2genesis/src/gui/_PlotPropMatrix.gen.m
  braph2genesis/src/gui/_PlotPropOption.gen.m
  braph2genesis/src/gui/_PlotPropScalar.gen.m
  braph2genesis/src/gui/_PlotPropString.gen.m
Labels: BRAPH2Genesis, GUI, bug

#955 Update to cohort GUI
  braph2genesis/src/cohort/_PPGroupSubjectsIdict.gen.m
  braph2genesis/src/cohort/_PPSubjectData.gen.m
Labels: BRAPH2Genesis, GUI, bug, cohort

#952 Brain Atlas new Icons
  braph2genesis/src/atlas/_PlotBrainSurface.gen.m
  braph2genesis/src/util/icon_axis.png
  braph2genesis/src/util/icon_br.png
  braph2genesis/src/util/icon_brain.png
  braph2genesis/src/util/icon_grid.png
  braph2genesis/src/util/icon_id.png
  braph2genesis/src/util/icon_label.png
  braph2genesis/src/util/icon_sphere.png
  braph2genesis/src/util/icon_symbol.png
  braph2genesis/src/util/icon_view_3d.png
  braph2genesis/src/util/icon_view_ad.png
  braph2genesis/src/util/icon_view_av.png
  braph2genesis/src/util/icon_view_ca.png
  braph2genesis/src/util/icon_view_cp.png
  braph2genesis/src/util/icon_view_sl.png
  braph2genesis/src/util/icon_view_sr.png
Labels: BRAPH2Genesis, enhancement

#960 Update Brain Atlas
  braph2genesis/src/atlas/_PPBrainAtlasSurf.gen.m
Labels: BRAPH2Genesis, GUI, atlas

#964 BUG in CommunityStructure
  braph2genesis/measures/_CommunityStructure.gen.m
Labels: bug

#963 BUG- empty case in comparisons
  braph2genesis/src/analysis/_ComparisonEnsemble.gen.m
  braph2genesis/src/analysis/_ComparisonGroup.gen.m
Labels: bug

#965 Fix BUG in Subject_CON and Subject_ST tests
  braph2genesis/workflows/connectivity/_SubjectCON.gen.m
  braph2genesis/workflows/structural/_SubjectST.gen.m
Labels: bug

#966 Ac bug analyze
  braph2genesis/workflows/connectivity-functional multiplex/_AnalyzeEnsemble_CON_FUN_MP_BUD.gen.m
  braph2genesis/workflows/connectivity-functional multiplex/_AnalyzeEnsemble_CON_FUN_MP_BUT.gen.m
  braph2genesis/workflows/connectivity/_AnalyzeEnsemble_CON_BUD.gen.m
  braph2genesis/workflows/connectivity/_AnalyzeEnsemble_CON_BUT.gen.m
  braph2genesis/workflows/connectivity/example_CON_BUD.m
  braph2genesis/workflows/functional multiplex/_AnalyzeEnsemble_FUN_MP_BUD.gen.m
  braph2genesis/workflows/functional multiplex/_AnalyzeEnsemble_FUN_MP_BUT.gen.m
  braph2genesis/workflows/functional/_AnalyzeEnsemble_FUN_BUD.gen.m
  braph2genesis/workflows/functional/_AnalyzeEnsemble_FUN_BUT.gen.m
  braph2genesis/workflows/structural multiplex/_AnalyzeGroup_ST_MP_BUD.gen.m
  braph2genesis/workflows/structural multiplex/_AnalyzeGroup_ST_MP_BUT.gen.m
  braph2genesis/workflows/structural/_AnalyzeGroup_ST_BUD.gen.m
  braph2genesis/workflows/structural/_AnalyzeGroup_ST_BUT.gen.m
Labels: bug

#969 Eg ensemble measures add params
  braph2genesis/measures/_CommunityStructure.gen.m
  braph2genesis/measures/_MultilayerCommunityStructure.gen.m
  braph2genesis/src/analysis/_ComparisonEnsemble.gen.m
  braph2genesis/src/analysis/_ComparisonGroup.gen.m
  braph2genesis/src/analysis/_MeasureEnsemble.gen.m
  braph2genesis/src/analysis/_PPAnalyzeEnsembleMeasure.gen.m
  braph2genesis/workflows/connectivity/example_CON_WU.m
Labels: BRAPH2Genesis, analysis, bug, comparison

#962 Eg upgrade version 2017
  braph2genesis/src/atlas/_PlotBrainAtlas.gen.m
  braph2genesis/src/cohort/_PPGroupSubjectsIdict.gen.m
  braph2genesis/src/gui/_PlotPropClass.gen.m
  braph2genesis/src/gui/_PlotPropItem.gen.m
  braph2genesis/workflows/connectivity/_ImporterGroupSubjectCONTXT.gen.m
  braph2genesis/workflows/connectivity/_ImporterGroupSubjectCONXLS.gen.m
  braph2genesis/workflows/functional multiplex/_ImporterGroupSubjectFUNMPTXT.gen.m
  braph2genesis/workflows/functional multiplex/_ImporterGroupSubjectFUNMPXLS.gen.m
  braph2genesis/workflows/functional/_ImporterGroupSubjectFUNTXT.gen.m
  braph2genesis/workflows/functional/_ImporterGroupSubjectFUNXLS.gen.m
  braph2genesis/workflows/structural multiplex/_ImporterGroupSubjectSTMPTXT.gen.m
  braph2genesis/workflows/structural multiplex/_ImporterGroupSubjectSTMPXLS.gen.m
  braph2genesis/workflows/structural/_ImporterGroupSubjectSTTXT.gen.m
  braph2genesis/workflows/structural/_ImporterGroupSubjectSTXLS.gen.m
Labels: BRAPH2Genesis, GUI

#973 970 eg workflow GUI
  braph2genesis/src/atlas/_ImporterBrainAtlasTXT.gen.m
  braph2genesis/src/atlas/_ImporterBrainAtlasXLS.gen.m
  braph2genesis/src/gui/BRAPH2GUI.m
  braph2genesis/src/gui/WORKFLOWGUI.m
  braph2genesis/workflows/connectivity/_ImporterGroupSubjectCONTXT.gen.m
  braph2genesis/workflows/connectivity/_ImporterGroupSubjectCONXLS.gen.m
  braph2genesis/workflows/functional multiplex/_ImporterGroupSubjectFUNMPTXT.gen.m
  braph2genesis/workflows/functional multiplex/_ImporterGroupSubjectFUNMPXLS.gen.m
  braph2genesis/workflows/functional/_ImporterGroupSubjectFUNTXT.gen.m
  braph2genesis/workflows/functional/_ImporterGroupSubjectFUNXLS.gen.m
  braph2genesis/workflows/structural multiplex/_ImporterGroupSubjectSTMPTXT.gen.m
  braph2genesis/workflows/structural multiplex/_ImporterGroupSubjectSTMPXLS.gen.m
  braph2genesis/workflows/structural/_ImporterGroupSubjectSTTXT.gen.m
  braph2genesis/workflows/structural/_ImporterGroupSubjectSTXLS.gen.m
  braph2genesis/workflows/structural/workflow_structural_analysis_bud.braph2
  braph2genesis/workflows/structural/workflow_structural_analysis_but.braph2
  braph2genesis/workflows/structural/workflow_structural_analysis_wu.braph2
  braph2genesis/workflows/structural/workflow_structural_comparison_wu.braph2
Labels: BRAPH2Genesis, GUI, enhancement, workflows

#976 Ac core periphery sl measure
  braph2genesis/measures/_CorePeriphery.gen.m
  braph2genesis/measures/_MultiplexCorePeriphery.gen.m
  braph2genesis/measures/_Multirichness.gen.m
Labels: measure, test
