Repository braph-software/BRAPH-2, pull requests merged in 2021-07, with the labels that each got.

#978 fix
  braph2genesis/src/analysis/_ComparisonEnsemble.gen.m
  braph2genesis/src/analysis/_ComparisonGroup.gen.m
Labels: bug

#975 Connect BRAPH2GUI.m and WORKFLOWGUI.m
  braph2genesis/src/gui/BRAPH2GUI.m
  braph2genesis/src/gui/WORKFLOWGUI.m
  braph2genesis/src/util/BRAPH2.m
  braph2genesis/src/util/checkicon_colorbackground.png
  braph2genesis/src/util/head_braph2.png
  braph2genesis/workflows/structural/workflow_structural_comparison_wu.braph2
Labels: BRAPH2Genesis, GUI

#982 Analysis Group in Multiplex CON_FUN
  braph2genesis/src/analysis/_ComparisonEnsemble.gen.m
  braph2genesis/src/analysis/_ComparisonGroup.gen.m
  braph2genesis/workflows/connectivity-functional multiplex/_AnalyzeGroup_CON_FUN_MP_BUD.gen.m
  braph2genesis/workflows/connectivity-functional multiplex/_AnalyzeGroup_CON_FUN_MP_WU.gen.m
  braph2genesis/workflows/connectivity-functional multiplex/example_CON_FUN_MP_BUD_Group.m
  braph2genesis/workflows/connectivity-functional multiplex/example_CON_FUN_MP_WU_Group.m
Labels: analysis, measure

#984 Ac analysis group wu fun con workflows
  braph2genesis/workflows/connectivity-functional multiplex/_AnalyzeGroup_CON_FUN_MP_BUD.gen.m
  braph2genesis/workflows/connectivity-functional multiplex/_AnalyzeGroup_CON_FUN_MP_WU.gen.m
  braph2genesis/workflows/connectivity/_AnalyzeGroup_CON_WU.gen.m
  braph2genesis/workflows/connectivity/example_CON_WU_Group.m
  braph2genesis/workflows/functional/_AnalyzeGroup_FUN_WU.gen.m
  braph2genesis/workflows/functional/example_FUN_WU_Group.m
Labels: analysis

#985 Graph of a function - Line Plots as a class.
  braph2genesis/src/analysis/_PPComparisonEnsembleDiff.gen.m
  braph2genesis/src/analysis/_PPComparisonGroupDiff.gen.m
  braph2genesis/src/analysis/_PPMeasureEnsembleM.gen.m
  braph2genesis/src/gt/_PPMeasureM.gen.m
  braph2genesis/src/gui/_PlotGraph.gen.m
Labels: BRAPH2Genesis, GUI

#986 Update to Workflow GUI
  braph2genesis/src/gui/BRAPH2GUI.m
  braph2genesis/src/gui/WORKFLOWGUI.m
  braph2genesis/src/util/loadicon.png
  braph2genesis/src/util/saveicon.png
  braph2genesis/workflows/structural/workflow_structural_analysis_bud.braph2
  braph2genesis/workflows/structural/workflow_structural_analysis_but.braph2
  braph2genesis/workflows/structural/workflow_structural_analysis_wu.braph2
  braph2genesis/workflows/structural/workflow_structural_comparison_wu.braph2
Labels: BRAPH2Genesis, GUI

#987 Ac fix group analysis fun
  braph2genesis/workflows/connectivity-functional multiplex/_AnalyzeGroup_CON_FUN_MP_BUD.gen.m
  braph2genesis/workflows/connectivity-functional multiplex/_AnalyzeGroup_CON_FUN_MP_WU.gen.m
  braph2genesis/workflows/functional/_AnalyzeGroup_FUN_WU.gen.m
Labels: analysis

#988 Analsysi Update
  braph2genesis/src/analysis/_PPAnalyzeEnsembleGraph.gen.m
  braph2genesis/src/analysis/_PPAnalyzeEnsembleMeasure.gen.m
  braph2genesis/src/analysis/_PPAnalyzeGroupGraph.gen.m
  braph2genesis/src/analysis/_PPCompareEnsembleCP.gen.m
  braph2genesis/src/analysis/_PPCompareGroupCP.gen.m
  braph2genesis/src/gt/_PPMeasureM.gen.m
  braph2genesis/src/gui/WORKFLOWGUI.m
  braph2genesis/structural/_AnalyzeGroup_ST_BUD.gen.m
  braph2genesis/structural/_AnalyzeGroup_ST_BUT.gen.m
  braph2genesis/structural/_AnalyzeGroup_ST_WU.gen.m
  braph2genesis/structural/_ExporterGroupSubjectSTTXT.gen.m
  braph2genesis/structural/_ExporterGroupSubjectSTXLS.gen.m
  braph2genesis/structural/_ImporterGroupSubjectSTTXT.gen.m
  braph2genesis/structural/_ImporterGroupSubjectSTXLS.gen.m
  braph2genesis/structural/_SubjectST.gen.m
  braph2genesis/structural/example data ST (MRI)/desikan_atlas.xlsx
  braph2genesis/structural/example data ST (MRI)/txt/ST_group1.txt
  braph2genesis/structural/example data ST (MRI)/txt/ST_group1_covariates.txt
  braph2genesis/structural/example data ST (MRI)/txt/ST_group2.txt
  braph2genesis/structural/example data ST (MRI)/txt/ST_group2_covariates.txt
  braph2genesis/structural/example data ST (MRI)/xls/ST_group1.xlsx
  braph2genesis/structural/example data ST (MRI)/xls/ST_group2.xlsx
  braph2genesis/structural/example_ST_BUD.m
  braph2genesis/structural/example_ST_BUT.m
  braph2genesis/structural/example_ST_WU.m
  braph2genesis/structural/workflow_structural_analysis_bud.braph2
  braph2genesis/structural/workflow_structural_analysis_but.braph2
  braph2genesis/structural/workflow_structural_analysis_wu.braph2
  braph2genesis/structural/workflow_structural_comparison_wu.braph2
Labels: BRAPH2Genesis, GUI

#989 BrainView
  braph2genesis/src/atlas/_PlotBrainGraph.gen.m
  braph2genesis/src/gt/_PPMeasureM.gen.m
  braph2genesis/src/gui/_PlotBrainView.gen.m
  braph2genesis/src/gui/_PlotGraph.gen.m
Labels: BRAPH2Genesis, GUI, analysis, atlas

#992 Fix Ensemble analyses in CON_FUN and group analysis in CON
  braph2genesis/workflows/connectivity-functional multiplex/_AnalyzeEnsemble_CON_FUN_MP_BUD.gen.m
  braph2genesis/workflows/connectivity-functional multiplex/_AnalyzeEnsemble_CON_FUN_MP_BUT.gen.m
  braph2genesis/workflows/connectivity/_AnalyzeGroup_CON_WU.gen.m
Labels: analysis, bug

#997 test_PlotBrainGraph
  braph2genesis/braph2genesis.m
  braph2genesis/src/atlas/_PlotBrainGraph.gen.m
  braph2genesis/src/atlas/_PlotBrainGraphComparison.gen.m
Labels: BRAPH2Genesis, bug

#998 Eg stwf4
  braph2genesis/braph2genesis.m
  braph2genesis/src/analysis/_PPAnalyzeGroupGraph.gen.m
  braph2genesis/src/analysis/_PPCompareGroupCP.gen.m
  braph2genesis/src/analysis/_PPComparisonGroupDiff.gen.m
  braph2genesis/src/analysis/fdr.m
  braph2genesis/src/atlas/_PlotBrainGraph.gen.m
  braph2genesis/src/atlas/_PlotBrainGraphComparison.gen.m
  braph2genesis/src/gt/_PPMeasureM.gen.m
Labels: BRAPH2Genesis, GUI

#999 fix for test element
  braph2genesis/workflows/connectivity/_AnalyzeGroup_CON_WU.gen.m
  braph2genesis/workflows/functional/_AnalyzeGroup_FUN_WU.gen.m
Labels: bug
