Repository braph-software/BRAPH-2, pull requests merged in 2021-01, with the labels that each got.

#742 713-yc-EdgeNumberDistance
  braph2/graph/measures/Distance.m
  braph2/graph/measures/EdgeNumberDistance.m
  braph2/graph/measures/test_EdgeNumberDistance.m
Labels: measure, test

#739 714-yc-PathTransitivity
  braph2/graph/measures/PathTransitivity.m
  braph2/graph/measures/test_PathTransitivity.m
Labels: measure, test

#767 Assert with error comments
  braph2genesis/test/assert_with_error.m
Labels: BRAPH2Genesis, documentation

#771 762 eg comment element
  braph2genesis/genesis/create_Element.m
  braph2genesis/src/ds/Element.m
Labels: BRAPH2Genesis, documentation

#770 764 eg format with settings
  braph2genesis/src/ds/test_Format.m
Labels: BRAPH2Genesis, test
