Repository braph-software/BRAPH-2, pull requests merged in 2022-03, with the labels that each got.

#1217 ST importer small fix
  braph2genesis/pipelines/structural multiplex/_ImporterGroupSubjectST_MP_XLS.gen.m
  braph2genesis/pipelines/structural/_ImporterGroupSubjectST_XLS.gen.m
Labels: bug

#1215 Layout changes
  braph2genesis/src/analysis/_PlotComparisonEnsembleLine.gen.m
  braph2genesis/src/analysis/_PlotComparisonEnsembleMPLine.gen.m
  braph2genesis/src/analysis/_PlotComparisonGroupLine.gen.m
  braph2genesis/src/analysis/_PlotComparisonGroupMPLine.gen.m
  braph2genesis/src/analysis/_PlotEnsembleLine.gen.m
  braph2genesis/src/analysis/_PlotEnsembleMPLine.gen.m
  braph2genesis/src/gt/_PlotAnalysisLine.gen.m
  braph2genesis/src/gt/_PlotAnalysisMPLine.gen.m
  braph2genesis/src/gui/layouts/GraphWU.layout
  braph2genesis/src/gui/layouts/MultigraphBUD.layout
  braph2genesis/src/gui/layouts/MultigraphBUT.layout
Labels: final check

#1219 Open GUI with Pipeline buttons
  braph2genesis/src/gui/_PPPipeline_PSDict.gen.m
  braph2genesis/tmp.m
Labels: enhancement, GUI

#1221 Description revision for buttons
  braph2genesis/pipelines/connectivity-functional multiplex/_PPCompareEnsembleMP_CON_FUN_CPDict_BUD.gen.m
  braph2genesis/pipelines/connectivity-functional multiplex/_PPCompareEnsembleMP_CON_FUN_CPDict_BUT.gen.m
  braph2genesis/pipelines/connectivity-functional multiplex/_PPCompareEnsembleMP_CON_FUN_CPDict_WU.gen.m
  braph2genesis/pipelines/connectivity/_PPCompareEnsemble_CPDict_BUD.gen.m
  braph2genesis/pipelines/connectivity/_PPCompareEnsemble_CPDict_BUT.gen.m
  braph2genesis/pipelines/connectivity/_PPCompareEnsemble_CPDict_WU.gen.m
  braph2genesis/pipelines/functional multiplex/_PPCompareEnsembleMP_FUN_CPDict_BUD.gen.m
  braph2genesis/pipelines/functional multiplex/_PPCompareEnsembleMP_FUN_CPDict_BUT.gen.m
  braph2genesis/pipelines/functional multiplex/_PPCompareEnsembleMP_FUN_CPDict_WU.gen.m
  braph2genesis/pipelines/functional/_PPCompareEnsemble_FUN_CPDict_BUD.gen.m
  braph2genesis/pipelines/functional/_PPCompareEnsemble_FUN_CPDict_BUT.gen.m
  braph2genesis/pipelines/functional/_PPCompareEnsemble_FUN_CPDict_WU.gen.m
  braph2genesis/pipelines/structural multiplex/_PPAnalyzeGroupMP_G.gen.m
  braph2genesis/pipelines/structural multiplex/_PPCompareGroup_CPDict_ST_MP_BUD.gen.m
  braph2genesis/pipelines/structural multiplex/_PPCompareGroup_CPDict_ST_MP_BUT.gen.m
  braph2genesis/pipelines/structural/_PPCompareGroup_CPDict_ST_BUD.gen.m
  braph2genesis/pipelines/structural/_PPCompareGroup_CPDict_ST_BUT.gen.m
  braph2genesis/src/analysis/_PPAnalyzeEnsembleMP_ME_DICT.gen.m
  braph2genesis/src/analysis/_PPAnalyzeEnsemble_ME_DICT.gen.m
  braph2genesis/src/analysis/_PPAnalyzeGroup_G.gen.m
Labels: GUI

#1220 Text changes for confidence interval
  braph2genesis/src/analysis/_PlotComparisonEnsembleLine.gen.m
  braph2genesis/src/analysis/_PlotComparisonEnsembleMPLine.gen.m
  braph2genesis/src/analysis/_PlotComparisonGroupLine.gen.m
  braph2genesis/src/analysis/_PlotComparisonGroupMPLine.gen.m
  braph2genesis/src/analysis/_PlotEnsembleLine.gen.m
  braph2genesis/src/gt/_PlotAnalysisLine.gen.m
Labels: GUI

#1244 Ac Classifier and Regressor in FUN_WU
  braph2genesis/pipelines/functional NN/_NNClassifierData_FUN_WU.gen.m
  braph2genesis/pipelines/functional NN/_NNRegressorData_FUN_WU.gen.m
  braph2genesis/pipelines/structural NN/_NNClassifierData_ST.gen.m
  braph2genesis/pipelines/structural NN/_NNRegressorData_ST.gen.m
Labels: bug, BRAPH2Genesis

#1250 NN pipelines update for FUN and ST
  braph2genesis/pipelines/connectivity NN/_NNClassifierData_CON_WU.gen.m
  braph2genesis/pipelines/connectivity NN/_NNRegressorData_CON_WU.gen.m
  braph2genesis/pipelines/connectivity NN/example_NN_CON_WU_Classification_AdjacencyMatrix.m
  braph2genesis/pipelines/connectivity NN/example_NN_CON_WU_Classification_GraphMeasures.m
  braph2genesis/pipelines/connectivity NN/example_NN_CON_WU_Regression_AdjacencyMatrix.m
  braph2genesis/pipelines/functional NN/_NNClassifierData_FUN_WU.gen.m
  braph2genesis/pipelines/functional NN/_NNRegressorData_FUN_WU.gen.m
  braph2genesis/pipelines/functional NN/example_NN_FUN_WU_Classification_AdjacencyMatrix.m
  braph2genesis/pipelines/functional NN/example_NN_FUN_WU_Classification_GraphMeasures.m
  braph2genesis/pipelines/functional NN/example_NN_FUN_WU_Regression_AdjacencyMatrix.m
  braph2genesis/pipelines/structural NN/_NNClassifierData_ST.gen.m
  braph2genesis/pipelines/structural NN/_NNRegressorData_ST.gen.m
  braph2genesis/pipelines/structural NN/example_NN_ST_Classification.m
  braph2genesis/pipelines/structural NN/example_NN_ST_Regression.m
Labels: neuralnetworks

#1256 Dataset split element
  braph2genesis/neuralnetworks/_NNClassifierData.gen.m
  braph2genesis/neuralnetworks/_NNClassifierDataSplit.gen.m
  braph2genesis/neuralnetworks/_NNRegressorDNN.gen.m
  braph2genesis/neuralnetworks/_NNRegressorDataSplit.gen.m
  braph2genesis/pipelines/connectivity NN/_NNClassifierCrossValidation_CON_WU.gen.m
  braph2genesis/pipelines/connectivity NN/_NNClassifierData_CON_WU.gen.m
  braph2genesis/pipelines/connectivity NN/_NNData_CON_WU.gen.m
  braph2genesis/pipelines/connectivity NN/example_NN_CON_WU_Classification_AdjacencyMatrix.m
  braph2genesis/pipelines/connectivity NN/example_NN_CON_WU_Classification_GraphMeasures.m
  braph2genesis/pipelines/connectivity NN/example_NN_CON_WU_Regression_AdjacencyMatrix.m
  braph2genesis/pipelines/functional NN/_NNClassifierCrossValidation_FUN_WU.gen.m
  braph2genesis/pipelines/functional NN/_NNClassifierData_FUN_WU.gen.m
  braph2genesis/pipelines/functional NN/_NNData_FUN_WU.gen.m
  braph2genesis/pipelines/functional NN/example_NN_FUN_WU_Classification_AdjacencyMatrix.m
  braph2genesis/pipelines/functional NN/example_NN_FUN_WU_Classification_GraphMeasures.m
  braph2genesis/pipelines/functional NN/example_NN_FUN_WU_Regression_AdjacencyMatrix.m
  braph2genesis/pipelines/structural NN/_NNClassifierCrossValidation_ST.gen.m
  braph2genesis/pipelines/structural NN/_NNClassifierData_ST.gen.m
  braph2genesis/pipelines/structural NN/_NNData_ST.gen.m
  braph2genesis/pipelines/structural NN/example_NN_ST_Classification.m
  braph2genesis/pipelines/structural NN/example_NN_ST_Regression.m
  braph2genesis/src/nn/_NNData.gen.m
  braph2genesis/src/nn/_NNDataSplit.gen.m
Labels: neuralnetworks

#1267 Implement waitbar for NN
  braph2genesis/neuralnetworks/_NNClassifierDataSplit.gen.m
  braph2genesis/neuralnetworks/_NNRegressorDataSplit.gen.m
  braph2genesis/pipelines/connectivity NN/_NNData_CON_WU.gen.m
  braph2genesis/pipelines/connectivity NN/example_NNCV_CON_WU_Classification_AdjacencyMatrix.m
  braph2genesis/pipelines/connectivity NN/example_NNCV_CON_WU_Regression_GraphMeasures.m
  braph2genesis/pipelines/connectivity NN/example_NN_CON_WU_Classification_AdjacencyMatrix.m
  braph2genesis/pipelines/connectivity NN/example_NN_CON_WU_Classification_GraphMeasures.m
  braph2genesis/pipelines/connectivity NN/example_NN_CON_WU_Regression_AdjacencyMatrix.m
  braph2genesis/pipelines/connectivity-functional multiplex NN/_NNData_CON_FUN_MP_WU.gen.m
  braph2genesis/pipelines/functional NN/_NNData_FUN_WU.gen.m
  braph2genesis/pipelines/structural NN/_NNData_ST.gen.m
  braph2genesis/src/nn/_NNData.gen.m
  braph2genesis/src/nn/_NNDataSplit.gen.m
Labels: neuralnetworks

#1274 Add waitbar when constructing training/validation set
  braph2genesis/neuralnetworks/_NNClassifierDataSplit.gen.m
  braph2genesis/neuralnetworks/_NNRegressorDataSplit.gen.m
Labels: neuralnetworks
