Repository braph-software/BRAPH-2, pull requests merged in 2022-02, with the labels that each got.

#1147 YC 1145 NN
  braph2genesis/neuralnetworks/_NNClassifierCrossValidation.gen.m
  braph2genesis/neuralnetworks/_NNClassifierDNN.gen.m
  braph2genesis/neuralnetworks/_NNClassifierData.gen.m
  braph2genesis/neuralnetworks/_NNClassifierEvaluator.gen.m
  braph2genesis/neuralnetworks/_NNRegressorDNN.gen.m
  braph2genesis/neuralnetworks/_NNRegressorData.gen.m
  braph2genesis/neuralnetworks/_NNRegressorEvaluator.gen.m
  braph2genesis/pipelines/connectivity NN/_NNClassifierCrossValidation_CON_WU.gen.m
  braph2genesis/pipelines/connectivity NN/_NNClassifierData_CON_WU.gen.m
  braph2genesis/pipelines/connectivity NN/_NNRegressorData_CON_WU.gen.m
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/desikan_atlas.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/txt/GroupName1/SubjectID1.txt
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/txt/GroupName1/SubjectID2.txt
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/txt/GroupName1/SubjectID3.txt
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/txt/GroupName1/SubjectID4.txt
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/txt/GroupName1/SubjectID5.txt
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/txt/GroupName1/covariates/GroupName1_covariates.txt
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/txt/GroupName2/SubjectID1.txt
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/txt/GroupName2/SubjectID2.txt
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/txt/GroupName2/SubjectID3.txt
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/txt/GroupName2/SubjectID4.txt
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/txt/GroupName2/SubjectID5.txt
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/txt/GroupName2/covariates/GroupName2_covariates.txt
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/GroupName1/SubjectID1.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/GroupName1/SubjectID2.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/GroupName1/SubjectID3.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/GroupName1/SubjectID4.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/GroupName1/SubjectID5.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/GroupName1/covariates/GroupName1_covariates.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/GroupName2/SubjectID1.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/GroupName2/SubjectID2.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/GroupName2/SubjectID3.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/GroupName2/SubjectID4.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/GroupName2/SubjectID5.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/GroupName2/covariates/GroupName2_covariates.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/Test_GroupName1/SubjectID1.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/Test_GroupName1/SubjectID2.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/Test_GroupName1/SubjectID3.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/Test_GroupName1/SubjectID4.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/Test_GroupName1/SubjectID5.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/Test_GroupName1/covariates/GroupName1_covariates.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/Test_GroupName2/SubjectID1.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/Test_GroupName2/SubjectID2.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/Test_GroupName2/SubjectID3.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/Test_GroupName2/SubjectID4.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/Test_GroupName2/SubjectID5.xlsx
  braph2genesis/pipelines/connectivity NN/example data CON (DTI)/xls/Test_GroupName2/covariates/GroupName2_covariates.xlsx
  braph2genesis/pipelines/connectivity NN/example_NNCV_WU_Classification_AdjacencyMatrix.m
  braph2genesis/pipelines/connectivity NN/example_NN_WU_Classification_AdjacencyMatrix.m
  braph2genesis/pipelines/connectivity NN/example_NN_WU_Classification_GraphMeasures.m
  braph2genesis/pipelines/connectivity NN/example_NN_WU_Regression_AdjacencyMatrix.m
  braph2genesis/pipelines/connectivity NN/pipeline_classification_connectivity_neural_networks_wu.braph2
  braph2genesis/pipelines/connectivity/pipeline_connectivity_comparison_wu.braph2
  braph2genesis/src/nn/_BaseNN.gen.m
  braph2genesis/src/nn/_NNBase.gen.m
  braph2genesis/src/nn/_NNData.gen.m
  braph2genesis/src/nn/_NNEvaluator.gen.m
Labels: neuralnetworks

#1194 Optimize the process of cross validation
  braph2genesis/pipelines/connectivity NN/_NNClassifierCrossValidation_CON_WU.gen.m
  braph2genesis/pipelines/connectivity NN/example_NNCV_WU_Classification_AdjacencyMatrix.m
Labels: enhancement, neuralnetworks

#1197 1185 Adjacency plots correction
  braph2genesis/pipelines/connectivity-functional multiplex/_PPCompareEnsembleMP_CON_FUN_CPDict_BUD.gen.m
  braph2genesis/pipelines/connectivity-functional multiplex/_PPCompareEnsembleMP_CON_FUN_CPDict_BUT.gen.m
  braph2genesis/pipelines/connectivity-functional multiplex/_PPCompareEnsembleMP_CON_FUN_CPDict_WU.gen.m
  braph2genesis/pipelines/connectivity/_PPCompareEnsemble_CPDict_BUD.gen.m
  braph2genesis/pipelines/connectivity/_PPCompareEnsemble_CPDict_BUT.gen.m
  braph2genesis/pipelines/connectivity/_PPCompareEnsemble_CPDict_WU.gen.m
  braph2genesis/pipelines/functional multiplex/_PPCompareEnsembleMP_FUN_CPDict_BUD.gen.m
  braph2genesis/pipelines/functional multiplex/_PPCompareEnsembleMP_FUN_CPDict_BUT.gen.m
  braph2genesis/pipelines/functional multiplex/_PPCompareEnsembleMP_FUN_CPDict_WU.gen.m
  braph2genesis/pipelines/functional/_PPCompareEnsemble_FUN_CPDict_BUD.gen.m
  braph2genesis/pipelines/functional/_PPCompareEnsemble_FUN_CPDict_BUT.gen.m
  braph2genesis/pipelines/functional/_PPCompareEnsemble_FUN_CPDict_WU.gen.m
  braph2genesis/pipelines/structural multiplex/_PPAnalyzeGroupMP_G.gen.m
  braph2genesis/pipelines/structural multiplex/_PPCompareGroupMP_CPDict_BUD.gen.m
  braph2genesis/pipelines/structural multiplex/_PPCompareGroupMP_CPDict_BUT.gen.m
  braph2genesis/pipelines/structural multiplex/_PPCompareGroupMP_CPDict_WU.gen.m
  braph2genesis/pipelines/structural/_PPCompareGroup_CPDict_BUD.gen.m
  braph2genesis/pipelines/structural/_PPCompareGroup_CPDict_BUT.gen.m
  braph2genesis/pipelines/structural/_PPCompareGroup_CPDict_WU.gen.m
  braph2genesis/src/analysis/_PPAnalyzeEnsembleMP_ME_DICT.gen.m
  braph2genesis/src/analysis/_PPAnalyzeEnsemble_ME_DICT.gen.m
  braph2genesis/src/analysis/_PPAnalyzeGroup_G.gen.m
  braph2genesis/src/gt/_PlotAdjacencyMatrix.gen.m
Labels: GUI, revision, BRAPH2Genesis
